.master-wrapper-cph-2 {
    float: left;
    width: 690px;
    color: #5C5B5B;
    min-height: 400px;
    padding: 10px 0 0 0;
}


.master-wrapper-leftside-3, .master-wrapper-side-product {
    display: inline;
    float: left;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    margin: 10px 0 0;
    width: 200px;
}

.master-wrapper-side-product {
    margin: 40px 0 0 3px;
}

.product-details-page {
    margin: 0 15px 10px 0;
}

.master-wrapper-center-3 {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline;
    float: left;
    margin: 10px 0 0 10px;
    width: 540px;
    padding: 0;
}

.master-wrapper-rightside-3 {
    display: inline;
    float: right;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    margin: 10px 0 0;
    width: 200px;
}

.master-wrapper-center-3 {
    overflow: inherit;
}

/*  TODO check later
    .forum-group tr.group-header td{background: none repeat scroll 0 0 #404040;}
*/
.block-category-navigation, .block-manufacturer-navigation, .block-recently-viewed-products,
.block-info, .block-shoppingcart, .block-newsletter, .block-livechat, .block-popular-tags, .block-blog-archive,
.block-poll, .block-popular-blogtags, .block-account-navigation, .product-details-page, .search-panel .search-input, .product-filters,
.search-page .search-input, fieldset, .product-list .product-item, .product-list .product-item .picture,
.home-header-left, .home-header-right,.master-wrapper-page, .master-wrapper-center-2{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #eee;
    border-radius: 4px;
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.price-range-filter ul {
    padding-left: 10px;
}

.compare-products-table tr.product-name {
    background: none;
    font-weight: normal;
}

/* тот же самый стиль, что и у .block .title{*/
.product-filters .filter-title span {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 7px 12px 10px;
    text-align: left;
    text-transform: uppercase;
    color: #5C5B5B;
    background: none;
    margin: 0;
}

.product-filters .filter-title {
    padding: 0;
}

.product-filters .filter-title span {
    height: auto;
    background: none;
}

.product-filters .filter-title {
    background: none;
}

.product-filters .filter-item {
    padding: 0 10px 5px;
}

.product-filters {
    width: auto;
}

.price-range-filter .title, .product-spec-filter .title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    background: none;
}


.product-list .product-item .product-title, .product-list .product-item .description {
    padding: 0 10px 0 350px;
    margin: 0;
    border: 0;
}

.product-list .product-item .add-info {
    bottom: 50px;
    left: 155px;
    position: absolute;
    right: auto;
    text-align: left;
}

.product-list .product-item .prices .product-price, .product-list .product-item .prices .old-product-price {
    display: inline;
}

.product-list .product-item .buttons {
    padding-top: 10px;
}

.product-details-page .overview {
    width: 250px;
    margin: 5px 0 10px;
    padding: 10px;
}

.product-spec-filter .remove-filter {
font-weight:400;
}








.checkout-page .checkout-data, .checkout-one-page .checkout-data {
    font-size: 1em;
}
.checkout-page table tr td {
    padding: 3px 0;
}

.order-summary-content .coupon-box, .order-summary-content .giftcard-box, 
.estimate-shipping, .checkout-data .confirm-order, .checkout-data .order-completed, .order-details .page-body,
.order-details .order-details-box, .order-details .products-box, .order-details .shipments-box, .order-details .ordernotes-box,
.data-table th, .data-table td, .compare-products-table td {
    border: 1px solid #EEE;
}

.order-summary-content .coupon-box .discount-coupon-code, .order-summary-content .giftcard-box .gift-card-coupon-code,
.order-summary-content .cart-footer {
    background: none;
    width: auto;
}

.order-progress {
    border: 0;
}

.opc .active .step-title, .checkout-data .enter-address, .checkout-data .payment-info, .checkout-data .payment-methods,
.checkout-data .shipping-options, .checkout-data .address-grid .address-item {
    border: 1px solid #EEE;
}

.opc .active .step-title h2 {
    color: #555;
}

.opc .allow .step-title {
    background: #F2F2F2;
    border: 1px solid #EEEEEE;
}

.checkout-data .address-grid .address-item, .checkout-data .enter-address, .order-summary-body, .checkout-data .shipping-options,
.checkout-data .payment-methods, .checkout-data .payment-info, .checkout-data .confirm-order, .checkout-data .order-completed {
    margin: 0;
}

.opc .step-title {
    background: #F2F2F2;
}

.opc .active .step-title .number {
    background: none repeat scroll 0 0 #B20405;
    border-color: #B20405;
    color: #FFFFFF;
}

.opc .step {
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

.order-summary-body {
    border: 0;
}

.order-completed a {
    color: #B80709;
    text-decoration: underline;
}

.order-completed a:hover {
    text-decoration: none;
}
.shopping-cart-page .page-title h1,.checkout-page .page-title h1,.address-edit-page h1, .search-page h1{
padding:10px 0;
}
.cart-footer .button-2 {
    margin: 5px 0;
}

.ui-dialog {
    -moz-box-shadow: 0 0 10px -2px #ccc;
    -webkit-box-shadow: 0 0 10px -2px #ccc;
    box-shadow: 0 0 10px -2px #ccc;
}

.product-essential {
    padding: 10px;
}

.ui-menu .ui-menu-item {
    text-align: left;
}
.registration-page .page-body,.login-page .page-body,.account-page .page-body {
font-size:inherit;
}
.block {
color:inherit;
}

/*2.70*/
.data-table{width: 99%}
.header-links-wrapper{width: auto}

.header-selectors-wrapper{clear: both}
.language-selector{margin-right: 5px;}
.tax-display-type-selector{margin-left: 5px;}
textarea{border: 1px solid #EEEEEE;}
.password-recovery-page .buttons{margin: 10px;}
.address-list-page .add-button {float: left;margin-left: 10px;}
.address-edit-page .page-body,.back-in-stock-subscription-list-page .page-body, .downloadable-products-page .page-body{padding: 10px;}
.downloadable-products-page .data-table{margin: 10px 0}
.address-edit-page .buttons{margin: 20px 0 0 150px;}
.change-password-page .buttons{text-align: center}
.order-details .page-title .print-buttons a:hover {text-decoration: none;}
.product-variant-list .product-variant-line{border: 1px solid #EEEEEE;padding: 20px;margin: 10px;}
.products-box .actions{text-align: center}
li.dropdown p{line-height: 18px;}

ul.language-list{line-height: 17px;margin-top: 5px}
ul.language-list li{float: right}
