.master-wrapper-cph-2 {
    float: left;
    width: 690px;
    color: #5C5B5B;
    min-height: 400px;
    padding: 10px 0 0 0;
}


.master-wrapper-leftside-3, .master-wrapper-side-product {
    display: inline;
    float: left;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    margin: 10px 0 0;
    width: 200px;
}

.master-wrapper-side-product {
    margin: 40px 0 0 3px;
}

.product-details-page {
    margin: 0 15px 10px 0;
}

.master-wrapper-center-3 {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline;
    float: left;
    margin: 10px 0 0 10px;
    width: 540px;
    padding: 0;
}

.master-wrapper-rightside-3 {
    display: inline;
    float: right;
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    margin: 10px 0 0;
    width: 200px;
}

.master-wrapper-center-3 {
    overflow: inherit;
}

/*  TODO check later
    .forum-group tr.group-header td{background: none repeat scroll 0 0 #404040;}
*/
.block-category-navigation, .block-manufacturer-navigation, .block-recently-viewed-products,
.block-info, .block-shoppingcart, .block-newsletter, .block-livechat, .block-popular-tags, .block-blog-archive,
.block-poll, .block-popular-blogtags, .block-account-navigation, .product-details-page, .search-panel .search-input, .product-filters,
.search-page .search-input, fieldset, .product-list .product-item, .product-list .product-item .picture,
.home-header-left, .home-header-right,.master-wrapper-page, .master-wrapper-center-2{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #eee;
    border-radius: 4px;
    -o-border-radius: 4px;
    -icab-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.price-range-filter ul {
    padding-left: 10px;
}

.compare-products-table tr.product-name {
    background: none;
    font-weight: normal;
}

/* тот же самый стиль, что и у .block .title{*/
.product-filters .filter-title span {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 7px 12px 10px;
    text-align: left;
    text-transform: uppercase;
    color: #5C5B5B;
    background: none;
    margin: 0;
}

.product-filters .filter-title {
    padding: 0;
}

.product-filters .filter-title span {
    height: auto;
    background: none;
}

.product-filters .filter-title {
    background: none;
}

.product-filters .filter-item {
    padding: 0 10px 5px;
}

.product-filters {
    width: auto;
}

.price-range-filter .title, .product-spec-filter .title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    background: none;
}


.product-list .product-item .product-title, .product-list .product-item .description {
    padding: 0 10px 0 350px;
    margin: 0;
    border: 0;
}

.product-list .product-item .add-info {
    bottom: 50px;
    left: 155px;
    position: absolute;
    right: auto;
    text-align: left;
}

.product-list .product-item .prices .product-price, .product-list .product-item .prices .old-product-price {
    display: inline;
}

.product-list .product-item .buttons {
    padding-top: 10px;
}





.breadcrumb a {
    color: #5C5B5B;
    font-size: 0.9em;
    text-decoration: none;
}
.breadcrumb a:hover {
    color: inherit;
    text-decoration: underline;
}

/*Product*/
.product-details-page .overview {
    width: 250px;
    margin: 5px 0 10px;
    border: 1px solid #eee;
    padding: 10px;
}

.product-details-page .product-name {
    color: #5C5B5B;
    font-size: 1.1em;
    margin-bottom: 0.3em;
    padding-top: 10px;
}

.product-tags-box {
    padding: 0;
}

.product-tags-box .title, .related-products-grid .title, .also-purchased-products-grid .title, .product-specs-box .title {
    border-right: none;
    color: #5C5B5B;
    font-weight: 700; /*padding: 6px 10px;*/
    text-transform: none;
}
.product-tags-box .title, .product-specs-box .title {
    padding: 10px;
    text-align: left;
}
.also-purchased-products-grid .title, .related-products-grid .title{padding: 5px;text-align: left;}
.product-tags-box .product-tags-list .product-tags-wrapper {
    padding-left: 10px;
}

.related-products-grid, .also-purchased-products-grid {
    margin-top: 10px;
}
.product-grid.related-products-grid{margin-left: 0}
.product-details-page .add-to-cart .qty-input {
    width: 40px;
}

.product-details-page .product-variant-line {
    /*float: left;
    clear: none;*/
    padding-bottom: 15px;
    padding: 10px;
    border: 0;
}

.product-details-page .product-variant-line .prices {
    float: none;
}

.product-details-page .variant-name {
    color: #5C5B5B;
}

.related-products-grid .item .product-title, .also-purchased-products-grid .item .product-title {
    font-weight: normal;
    padding: 5px;
}
/*Product*/


.footer-menu {
    float: left;
    margin-left: 100px;
    text-align: left;
}

.footer-menu-first {
    margin-left: 0;
}

.footer-menu h3, .footer-menu-1 h3 {
    font-size: 14px;
}

.footer-menu ul, .footer-menu-1 ul {
    margin: 10px 0;
    padding: 0;
    list-style: none outside none;
}

.footer-menu ul li, .footer-menu-1 ul {
    line-height: 150%;
}

.footer-poweredby {
    border-top: 1px solid #EEEEEE;
    clear: both;
    font-size: 11px;
    padding-top: 10px;
    float: none;
}

.footer-disclaimer {
    float: none;
}

.footer a {
    color: #555555;
}

.button-1, .button-2 {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 3px 7px; /*position: relative;*/
    position: static;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #F6F6F6;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F6F6F6),to(#DEDEDE));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F6F6F6),to(#DEDEDE));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
    height: auto;
}

.button-1:hover, .button-2:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.search-box-button.button-1:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.coupon-code .button-2 {
    display: block;
}
.search-box-text {
    border: 1px solid #E3E3E3;
    font-size: inherit;
    padding: 4px 5px;
    width: 300px;
    background: none repeat scroll 0 0 #FFF;
}

.search-box-button {
    padding: 4px 5px;
    background: none repeat scroll 0 0 #F6F6F4;
    border: 1px solid #D3D3D3;
    border-radius: 2px 2px 2px 2px;
    color: #353434;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 2px;
    width: 70px;
}
.registration-page .buttons {
    float: none;
}

.vote-poll-button.button-2 {
    margin: 10px 0;
}

.add-to-cart-button.button-1 {
    padding: 5px 10px;
    cursor: pointer;
    background: #7DB72F;
    background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
    background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DB72F', endColorstr='#4E7D0E');
    color: #fff;
    text-shadow: none;
    border-color: #999;
    border: 0 none;
    font-weight: 700;
    font-size: 1.3em;
    margin-top: -5px;
    margin-left: 35px;
}

.product-details-page .product-variant-list .add-to-cart-button.button-1 {
    margin-top: 15px;
    margin-left: 0;
    display: block;
}

.product-details-page .product-variant-list .product-variant-line .variant-picture {
    width: 200px;
    float: none;
}

.product-item .button-2 {
    padding: 3px 7px;
    cursor: pointer;
    background: #7DB72F;
    background: -webkit-gradient(linear, left top, left bottom, from(#7DB72F), to(#4E7D0E));
    background: -moz-linear-gradient(top, #7DB72F, #4E7D0E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DB72F', endColorstr='#4E7D0E');
    color: #fff;
    text-shadow: none;
    border-color: #999;
    border: 0 none;
    font-weight: 700;
}

.add-to-wishlist-button.button-2 {
    display: block;
    margin-top: 10px;
}

.news-items .read-more, .block-blog-archive .year {
    color: inherit;
}

.news-items, .news-list-homepage .page-title {
    margin: 0;
}
.news-list-page, .news-list-homepage {
padding:0 10px;
}
.poll-take-poll, .poll-results {
    border: 0;
    padding: 0;
}

.poll-display-text {
    font-weight: 700;
    color: #5C5B5B;
}

.news-items .item, .news-list-homepage .page-title, .blog-page .blogposts .post {
    border-bottom: 1px solid #eee;
}
.product-spec-filter .remove-filter {
font-weight:400;
}
.page-title {
    border: 0;
    margin: 0;
}


.news-items .news-date, .blog-page .blogposts .post .blog-date, .blogpost-page .post-date {
    font-style: normal;
}

.data-table {
    border: 1px solid #F6F6F6;
}

.data-table th, .data-table td {
    border: 0;
}

.data-table .even {
    background-color: #F6F6F6;
}

.breadcrumb {
    margin: 5px 0 10px 10px;
}

.product-specs-box {
}
.login-page .new-wrapper, .login-page .returning-wrapper {
width:43%;
}
/*Account*/
.data-table {
margin:10px;
}
/*Account*/
/*Orders*/
.order-summary-content .coupon-box, .order-summary-content .giftcard-box, .estimate-shipping {
    background: none;
}

.order-summary-content {
    padding: 0;
}

.estimate-shipping .shipping-options {
    border: none;
}

.order-summary-content .cart .cart-header-row th, .order-summary-content .cart .cart-header-row th, .wishlist-content .cart .cart-header-row th {
    background: none;
    color: #555555;
}
.checkout-page .checkout-data, .checkout-one-page .checkout-data {
    font-size: 1em;
}
.checkout-page table tr td {
    padding: 3px 0;
}
.order-summary-content .cart .cart-header-row th, .order-summary-content .cart .cart-header-row th.picture,
.wishlist-content .cart .cart-header-row th.picture, .wishlist-content .cart .cart-header-row th,
.order-summary-content .cart .cart-item-row td, .wishlist-content .cart .cart-item-row td, .order-summary-content .coupon-box,
.order-summary-content .giftcard-box, .order-summary-content .coupon-box, .order-summary-content .giftcard-box,
.estimate-shipping, .checkout-data .confirm-order, .checkout-data .order-completed, .order-details .page-body,
.order-details .order-details-box, .order-details .products-box, .order-details .shipments-box, .order-details .ordernotes-box,
.data-table th, .data-table td, .compare-products-table td {
    border: 1px solid #EEE;
}

.order-summary-content .coupon-box .discount-coupon-code, .order-summary-content .giftcard-box .gift-card-coupon-code,
.order-summary-content .cart-footer {
    background: none;
    width: auto;
}

.order-progress {
    border: 0;
}

.opc .active .step-title, .checkout-data .enter-address, .checkout-data .payment-info, .checkout-data .payment-methods,
.checkout-data .shipping-options, .checkout-data .address-grid .address-item {
    border: 1px solid #EEE;
}

.opc .active .step-title h2 {
    color: #555;
}

.opc .allow .step-title {
    background: #F2F2F2;
    border: 1px solid #EEEEEE;
}

.checkout-data .address-grid .address-item, .checkout-data .enter-address, .order-summary-body, .checkout-data .shipping-options,
.checkout-data .payment-methods, .checkout-data .payment-info, .checkout-data .confirm-order, .checkout-data .order-completed {
    margin: 0;
}

.opc .step-title {
    background: #F2F2F2;
}

.opc .active .step-title .number {
    background: none repeat scroll 0 0 #B20405;
    border-color: #B20405;
    color: #FFFFFF;
}

.opc .step {
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}

.order-summary-body {
    border: 0;
}

.order-completed a {
    color: #B80709;
    text-decoration: underline;
}

.order-completed a:hover {
    text-decoration: none;
}
.shopping-cart-page .page-title h1,.checkout-page .page-title h1,.address-edit-page h1, .search-page h1{
padding:10px 0;
}
.cart-footer .button-2 {
    margin: 5px 0;
}

.ui-dialog {
    -moz-box-shadow: 0 0 10px -2px #ccc;
    -webkit-box-shadow: 0 0 10px -2px #ccc;
    box-shadow: 0 0 10px -2px #ccc;
}

.product-essential {
    padding: 10px;
}

.ui-menu .ui-menu-item {
    text-align: left;
}
.registration-page .page-body,.login-page .page-body,.account-page .page-body {
font-size:inherit;
}
.block {
color:inherit;
}

/*2.70*/
.data-table{width: 99%}
.header-links-wrapper{width: auto}

.header-selectors-wrapper{clear: both}
.language-selector{margin-right: 5px;}
.tax-display-type-selector{margin-left: 5px;}
textarea{border: 1px solid #EEEEEE;}
.password-recovery-page .buttons{margin: 10px;}
.address-list-page .add-button {float: left;margin-left: 10px;}
.address-edit-page .page-body,.back-in-stock-subscription-list-page .page-body, .downloadable-products-page .page-body{padding: 10px;}
.downloadable-products-page .data-table{margin: 10px 0}
.address-edit-page .buttons{margin: 20px 0 0 150px;}
.change-password-page .buttons{text-align: center}
.order-details .page-title .print-buttons a:hover {text-decoration: none;}
.product-variant-list .product-variant-line{border: 1px solid #EEEEEE;padding: 20px;margin: 10px;}
.products-box .actions{text-align: center}
li.dropdown p{line-height: 18px;}

ul.language-list{line-height: 17px;margin-top: 5px}
ul.language-list li{float: right}
