@model ProductAttributeModel

@if (Model.Id > 0)
{
    <div class="panel-body">
            <p>
                @T("Admin.Catalog.Attributes.ProductAttributes.UsedByProducts.Hint")
            </p>
            @await Html.PartialAsync("Table", Model.ProductAttributeProductSearchModel.Grid)
        </div>
}
