@model ProductAttributeModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="product-attribute-edit">
            <nop-tab-header>
                <nop-tab-header-item asp-name="tab-info" asp-default="true">@T("Admin.Catalog.Attributes.ProductAttributes.Info")</nop-tab-header-item>
                @if (Model.Id > 0)
            {
                    <nop-tab-header-item asp-name="tab-used-by-products">@T("Admin.Catalog.Attributes.ProductAttributes.UsedByProducts")</nop-tab-header-item>
                }
                <nop-tab-header-item asp-name="tab-predefined-values">@T("Admin.Catalog.Attributes.ProductAttributes.PredefinedValues")</nop-tab-header-item>
            </nop-tab-header>
            <nop-tab-content>
                <nop-tab-content-item asp-name="tab-info" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab-content-item>
                @if (Model.Id > 0)
            {
                    <nop-tab-content-item asp-name="tab-used-by-products">@await Html.PartialAsync("_CreateOrUpdate.UsedByProducts", Model)</nop-tab-content-item>
                }
                <nop-tab-content-item asp-name="tab-predefined-values">@await Html.PartialAsync("_CreateOrUpdate.PredefinedValues", Model)</nop-tab-content-item>
            </nop-tab-content>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "product-attribute-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}