@model Nop.Web.Models.Catalog.ProductDetailsModel.AddToCartModel

<div class="add-to-cart">
    @if (Model.CustomerEntersPrice)
    {
        <div class="customer-entered-price">
            <div class="price-input">
            <label asp-for="CustomerEnteredPrice" asp-postfix=":" class="enter-price-label"></label>
            @*round price*@
            <input asp-for="CustomerEnteredPrice" value="@Convert.ToInt32(Math.Ceiling(Model.CustomerEnteredPrice))" class="enter-price-input" />
        </div>
            <div class="price-range">
                @Model.CustomerEnteredPriceRange
            </div>
        </div>
    }
    
    @if (!string.IsNullOrEmpty(Model.MinimumQuantityNotification))
    {
        <div class="min-qty-notification">@Model.MinimumQuantityNotification</div>
    }

    @if (!Model.DisableBuyButton)
    {
        <div class="add-to-cart-panel">
            <div class="quantity">
                @*<label asp-for="EnteredQuantity" asp-postfix=":" class="qty-label"></label>*@
                @if (Model.AllowedQuantities.Count > 0)
                {
            <select asp-for="EnteredQuantity" asp-items="Model.AllowedQuantities" class="qty-dropdown"></select>
                }
                else
                {
                    <span class="decrease">-</span>
                    <input asp-for="EnteredQuantity" class="qty-input" type="text" />
                    <span class="increase">+</span>
                    //when a customer clicks 'Enter' button we submit the "add to cart" button (if visible)
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#@Html.IdFor(model => model.EnteredQuantity)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#add-to-cart-button-@Model.ProductId").click();
                                    return false;
                                }
                            });
                        });
                    </script>
                }
            </div>
            @await Component.InvokeAsync("NopAjaxCartMiniProductDetailsViewAddToCartButton", Model)
        </div>
    }
</div>