
<link rel="stylesheet" href="~/Plugins/Payments.CyberSource/Content/css/modal.css" />
<script asp-location="Footer" src="~/lib_npm/bootstrap/js/bootstrap.bundle.min.js"></script>

@* Device Data Collection form *@
<form id="cardinal-collection-form" method="POST" target="collection-iframe" action="">
    <input id="cardinal-collection-form-input" type="hidden" name="JWT" value="">
</form>

<iframe id="cardinal-collection-iframe" name="collection-iframe" height="1" width="1" style="display: none;"></iframe>

@* Consumer Authentication form *@
<form id="step-up-form" target="step-up-iframe" method="post" action="">
    <input id="step-up-form-input" type="hidden" name="JWT" value="" />
</form>

<div id="step-up-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@T("Plugins.Payments.CyberSource.PayerAuthentication.Title")</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <iframe id="step-up-iframe" name="step-up-iframe" style="border: none; margin-left: auto; margin-right: auto; display: block" height="800px" width="400px"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>