@model ForumModel

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ForumDetailsTop, additionalData = Model })
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="ForumGroupId"/>
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="ForumGroupId" asp-items="@(new SelectList(Model.ForumGroups, "Id", "Name"))" asp-required="true" />
                            <span asp-validation-for="ForumGroupId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Name"/>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" asp-required="true"/>
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Description"/>
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="Description"></nop-textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="DisplayOrder"/>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DisplayOrder"/>
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ForumDetailsBottom, additionalData = Model })
        </div>
    </div>
</div>