@model ForumGroupSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Forums").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Manage forums");
}

<nop-antiforgery-token/>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.Forums")
    </h1>
    <div class="pull-right">
        <a asp-action="CreateForumGroup" class="btn btn-primary">@T("Admin.ContentManagement.Forums.ForumGroup.CreateForumGroup")</a>
        <a asp-action="CreateForum" class="btn btn-primary">@T("Admin.ContentManagement.Forums.Forum.CreateForum")</a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ForumListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", Model.Grid)
                </div>
            </div>
        </div>
    </div>
</div>