@model IList<ProductTagModel>
@if (Model.Count > 0)
{
    <div class="product-tags-box">
        <div class="title">
            <strong>@T("Products.Tags")</strong>
        </div>
        <div class="product-tags-list">
            <ul>
                @for (var i = 0; i < Model.Count; i++)
                {
                    <li class="tag">
                        <a href="@Url.RouteUrl("ProductsByTag", new { Model[i].SeName })" class="producttag">
                            @Model[i].Name</a> <span>@T("Products.Tags.Count", Model[i].ProductCount)</span></li>
                    if (i != Model.Count - 1)
                    {
                    <li class="separator">,</li>
                    }
                }
            </ul>
        </div>
    </div>
}