@*the redirect url*@
@model string

<div class="form-group row">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label class="control-label" for="redirect-url" hint="@T("SevenSpikes.Plugins.SocialFeed.Admin.SocialNetwork.RedirectUrl")">@T("SevenSpikes.Plugins.SocialFeed.Admin.SocialNetwork.RedirectUrl")</label>
        </div>
    </div>
    <div class="col-md-9">
        <strong id="redirect-url">@Model</strong>
    </div>
</div>
