@model ActiveDiscussionsModel
@using Nop.Web.Models.Boards;
@if (!Model.ViewAllLinkEnabled)
{
    Html.RenderPartial("_SearchBox");
}
<div class="active-discussions">
    <div class="active-discussions-title">
        @T("Forum.ActiveDiscussions")
        @if (Model.ViewAllLinkEnabled)
        {        
            <div class="view-all">
                [@Html.RouteLink(T("Forum.ActiveDiscussions.ViewAll").Text, "ActiveDiscussions")]
            </div>
        }
    </div>
    <div class="topics">
        @if (Model.ForumTopics.Count > 0)
        {
            <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                @foreach (var topic in Model.ForumTopics)
                {
                    <li>
                        <div class="topic">
                            <a href="@Url.RouteUrl("TopicSlug", new { id = topic.Id, slug = topic.SeName })"><span
                                class="topic-name">@topic.Subject</span> <span class="replies">@T("Forum.Replies.Count", topic.NumReplies)</span>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
