@using Nop.Services.Helpers
@inject IDateTimeHelper dateTimeHelper
}
<div class="forums-header">
    <div class="current-time">
        @dateTimeHelper.ConvertToUserTime(DateTime.UtcNow).ToString("F")
    </div>
    @Html.Partial("_SearchBox")
</div>