<div class="forum-search-box">
    @using (Html.BeginRouteForm("Search", FormMethod.Get))
    {
        <label for="searchterms" class="ui-hidden-accessible">@T("Forum.SearchForumsTooltip"):</label>
        <input type="search" name="searchterms" placeholder="@T("Forum.SearchForumsTooltip")" />
    }
</div>
