@model ActiveDiscussionsModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.ActiveDiscussions").Text);
}
<div class="page active-discussions-page">
    @Html.Partial("_ActiveTopics", Model)
</div>