@model ActiveDiscussionsModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("Forum.PageTitle.ActiveDiscussions").Text);
    //page class
    Html.AppendPageCssClassParts("html-active-discussions-page");
}
<div class="page active-discussions-page">
    @Html.Action("ForumBreadcrumb")
    @await Html.PartialAsync("_ForumHeader")
    @Html.Widget("boards_activediscussions_after_header")
    @await Html.PartialAsync("_ActiveTopics", Model)
    @Html.Widget("boards_activediscussions_after_topics")
</div>
