@model ForumGroupModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(Model.Name);
}
<div class="page forum-group-page">
    @Html.Action("ForumBreadcrumb", new { forumGroupId = Model.Id })
    <div class="clear">
    </div>
    @Html.Partial("_SearchBox")
    <div class="forum-group">
        @Html.Partial("_ForumGroup", Model)
    </div>
</div>
