@model ForumGroupModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(Model.Name);
    //page class
    Html.AppendPageCssClassParts("html-forum-group-page");
}
<div class="page forum-group-page">
    @await Component.InvokeAsync("ForumBreadcrumb", new { forumGroupId = Model.Id })
    @await Html.PartialAsync("_ForumHeader")
    @Html.Widget("boards_forumgroup_after_header")
    @await Html.PartialAsync("_ForumGroup", Model)
    @Html.Widget("boards_forumgroup_bottom")
</div>
