@model ForumGroupModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(Model.Name);
}
@Html.Action("ForumBreadcrumb", new { forumGroupId = Model.Id })
@Html.Partial("_SearchBox")
<div class="clear">
</div>
<div class="page forum-group-page">
    <div class="forum-group">
        @Html.Partial("_ForumGroup", Model)
    </div>
</div>
