@model BoardsIndexModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.Default").Text);
}
<div class="page forums-main-page">
    <div>
        @Html.Action("TopicBlock", "Topic", new { systemName = "ForumWelcomeMessage" })
    </div>
    <div class="forums-main-header">
        @Html.Partial("_SearchBox")
    </div>
    @foreach (var forumGroup in Model.ForumGroups)
    {
        Html.RenderPartial("_ForumGroup", forumGroup);
    }
</div>
