@model EditForumTopicModel
@{
    Layout = "_ColumnsOne";

    NopHtml.AddTitleParts(T("Forum.PageTitle.TopicEdit").Text);
}
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BoardsTopicEditBefore, additionalData = Model })
<form asp-route="TopicEdit" method="post">
    @await Html.PartialAsync("_CreateUpdateTopic", Model)
</form>
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BoardsTopicEditAfter, additionalData = Model })
