@{
    Layout = "";
}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@T("Plugins.Payments.PayPalStandard.Fields.RedirectionTip")</b></p>
        </td>
    </tr>
</table>
