@{
    Layout = "_Root";
}
@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    }
}
<div class="center-1">
    @await Component.InvokeAsync("Widget", new { widgetZone = "main_column_before" })
    @RenderBody()
    @await Component.InvokeAsync("Widget", new { widgetZone = "main_column_after" })
</div>
