@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}


@model ProductVariantModel.ProductVariantAttributeValueModel

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Admin.Catalog.Products.Variants.ProductVariantAttributes.Attributes.Values.EditValueDetails")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateProductAttributeValue", Model)
}