@model ConfigModel

@using AbcWarehouse.Plugin.Widgets.UniFi.Models

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="UniFi" asp-action="Configure" method="post">
	<section class="content">
		<div class="container-fluid">			
			<div class="card card-default">
				<div class="card-body">
					<div class="form-group row">
						<div class="col-md-3">
							<nop-label asp-for="PartnerId" />
						</div>
						<div class="col-md-9">
							<nop-editor asp-for="PartnerId" />
							<span asp-validation-for="PartnerId"></span>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-3">
							<nop-label asp-for="UseIntegration" />
						</div>
						<div class="col-md-9">
							<nop-editor asp-for="UseIntegration" />
							<span asp-validation-for="UseIntegration"></span>
						</div>
					</div>
					<div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                        </div>
					</div>
				</div>
			</div>			
		</div>
	</section>
</form>