@using Nop.Plugin.Misc.WebApi.Frontend
@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName(WebApiFrontendDefaults.SystemName);
}


<h1>Web API (official plugin)</h1>


<p>The Web API plugin from nopCommerce allows you to develop any integration with third-party services much faster and cheaper.</p>

<p>Such features of Web API plugin as:</p>
<ul>
    <li>Open source code.</li>
    <li>The plugin covers all methods of nopCommerce. There are more than 1.100 methods available.</li>
    <li>JSON Web Tokens (JWT) authentication.</li>
</ul>
<p>allow to reduce the time to develop integrations by up to 80%, which means fewer expenditures and more opportunities for enhancing your store capacities.</p>

<p>The open-source code and the coverage of more than 1.100 nopCommerce methods provide you with unlimited capabilities for developing the integrations with any ERP, PIM, CRM, CMS, WMS systems. </p>

<p>Also, it enables you to develop a mobile application or organize an outstanding headless commerce.</p>


<a href="https://www.nopcommerce.com/web-api?utm_source=admin-panel&utm_medium=menu&utm_campaign=WebAPI&utm_content=configuration" target="_blank" class="btn btn-primary">Download plugin</a>

