@model Telerik.Web.Mvc.GridModel<Nop.Admin.Models.LogModel>
@using Telerik.Web.Mvc.UI
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<Nop.Admin.Models.LogModel>()
                    .Name("Grid")
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.LogLevelId).Title(T("Admin.System.Log.Fields.LogLevel").Text);
                    })
                    .Pageable(settings => settings.Total(Model.Total).PageSize(10))
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "Log"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
