@model ActiveDiscussionsModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("Plugins.Misc.Forums.PageTitle.ActiveDiscussions").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-active-discussions-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var activeDiscussionsUrl = Model.TopicPageIndex > 0 
            ? Url.RouteUrl(ForumDefaults.Routes.Public.ACTIVE_DISCUSSIONS_PAGED, new { pageNumber = Model.TopicPageIndex + 1 }, webHelper.GetCurrentRequestProtocol()).ToLowerInvariant()
            : Url.RouteUrl(ForumDefaults.Routes.Public.ACTIVE_DISCUSSIONS, null, webHelper.GetCurrentRequestProtocol()).ToLowerInvariant();

        NopHtml.AddCanonicalUrlParts(activeDiscussionsUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }
}

<div class="page active-discussions-page">
    @await Component.InvokeAsync(typeof(ForumBreadcrumbViewComponent))
    @await Html.PartialAsync("~/Plugins/Misc.Forums/Public/Views/_ForumHeader.cshtml")
    @await Html.PartialAsync("~/Plugins/Misc.Forums/Public/Views/_ActiveTopics.cshtml", Model)
</div>