@model CustomerReportsSearchModel

@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Reports.Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customer reports");
}

<nop-antiforgery-token/>

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Reports.Customers")
    </h1>
    <div class="pull-right">
        &nbsp;
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerReportsButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="customer-reports">
            <nop-tab asp-name="tab-ordertotal" asp-title="@T("Admin.Reports.Customers.BestBy.BestByOrderTotal")" asp-default="true">@await Html.PartialAsync("_Customers.BestCustomersByOrderTotal", Model)</nop-tab>
            <nop-tab asp-name="tab-numberoforders" asp-title="@T("Admin.Reports.Customers.BestBy.BestByNumberOfOrders")">@await Html.PartialAsync("_Customers.BestCustomersByNumberOfOrders", Model)</nop-tab>
            <nop-tab asp-name="tab-registeredcustomers" asp-title="@T("Admin.Reports.Customers.RegisteredCustomers")">@await Html.PartialAsync("_Customers.RegisteredCustomers", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "customer-reports");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}