<style>
	.gotocart {
		margin-bottom: 18px;
		height: 43px;
		border: 0;
		background-color: #4ab2f1;
		padding: 13px;
		font-size: 15px;
		color: #fff;
		text-transform: uppercase;
		display: -webkit-inline-box;
	}
</style>
<br />
<button type="button" class=" gotocart" onclick="location.href='@Url.Action("Test","Stereo")'">Open Store</button>