@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid related-products-grid">
        <div class="title">
            <strong>@T("Products.RelatedProducts")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}