@model StoreThemeSelectorModel

@inject Nop.Core.IWebHelper webHelper

@if (Model.AvailableStoreThemes.Count > 1)
{
    var returnUrl = webHelper.GetRawUrlAsync(Context.Request);
    var themes = await Model.AvailableStoreThemes.ToAsyncEnumerable().SelectAwait(async x => new SelectListItem
    {
        Text = x.Title,
        Value = Url.Action("SetStoreTheme", "Common", new { themename = x.Name, returnUrl }, await webHelper.GetCurrentRequestProtocolAsync()),
        Selected = x.Name.Equals(Model.CurrentStoreTheme.Name, StringComparison.InvariantCultureIgnoreCase)
    }).ToListAsync();
    <div class="theme-selector">
        <select id="store-theme" name="store-theme" asp-items="@themes" onchange="setLocation(this.value);"></select>
    </div>
}