@model int

@{
    var instantSearchButtonText = string.Format(T("SevenSpikes.InstantSearch.Public.ShowAllResults").Text, Model);
}

<a class="all-results" id="instantSearchShowAll">
    @instantSearchButtonText
</a>