<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NopSolutions.NopCommerce.BusinessLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <NopSolutions.NopCommerce.BusinessLogic.Properties.Settings>
      <setting name="Nop_BusinessLogic_Clickatell_PushServerWS" serializeAs="String">
        <value>http://api.clickatell.com/soap/webservice_vs.php</value>
      </setting>
      <setting name="Nop_BusinessLogic_EuropaCheckVatService_checkVatService"
        serializeAs="String">
        <value>http://ec.europa.eu/taxation_customs/vies/services/checkVatService</value>
      </setting>
    </NopSolutions.NopCommerce.BusinessLogic.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="NopEntities" connectionString="metadata=res://*/Data.NopModel.csdl|res://*/Data.NopModel.ssdl|res://*/Data.NopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nopServer;Initial Catalog=nopCommerce;Persist Security Info=True;User ID=nopDBUser;Password=dgs2002;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
