@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="product-grid cross-sells">
        <h2 class="title">
            @T("ShoppingCart.CrossSells")
        </h2>
        <div class="item-grid">
            @foreach (var product in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", product)
                </div>
            }
        </div>
    </div>
}