@model SpecificationAttributeModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="specificationattribute-edit">
            <nop-tab asp-name="tab-info" asp-default="true" asp-title="@T("Admin.Catalog.Attributes.SpecificationAttributes.Info")">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
            <nop-tab asp-name="tab-options" asp-title="@T("Admin.Catalog.Attributes.SpecificationAttributes.Options")">@await Html.PartialAsync("_CreateOrUpdate.Options", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "specificationattribute-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}