<connectionStrings>
  <add
    name="NopSqlConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=NOPSERVER;Initial Catalog=nopcommerce-2.00;Integrated Security=False;Persist Security Info=False;User ID=nopDBUser;Password=dgs2002;MultipleActiveResultSets=True;"/>
</connectionStrings>
