<connectionStrings>
  <!--<add
    name="NopSqlConnection"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=NOPSERVER;Initial Catalog=nopCommerce-2.00;Integrated Security=True;MultipleActiveResultSets=True;"/>-->

  <!--<add
    name="NopSqlConnection"
    providerName="System.Data.SqlServerCe.4.0"
    connectionString="Data Source=|DataDirectory|Nop.Db.sdf"
    /> -->
</connectionStrings>
