<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.4.4.705" />
  <package id="Autofac.Mvc3" version="2.4.4.705" />
  <package id="SQLCE" version="4.0.8435.1" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="EFCodeFirst.SqlServerCompact" version="0.8" />
  <package id="TelerikMvcExtensions" version="2010.3.1318" />
  <package id="FluentValidation" version="2.0.0.0" />
  <package id="FluentValidation.MVC3" version="2.0.0.0" />
</packages>