.search-box {width:390px;}
.block-newsletter #newsletter-email { width: 150px;}

/*hover issue*/
/*.top-menu {position: relative;z-index: 3;}
.header-links-wrapper{z-index: 4}
a:focus{outline:0;}
.add-to-cart label{ vertical-align: top;}*/