/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/
@media screen and (max-width: 940px) and (min-width: 769px) {
    /* MASTER PAGE WRAPPERS */
    .master-wrapper-page, .master-wrapper-content, .master-wrapper-main { width: 100% }
    .master-wrapper-content { margin: 15px 0 0 0 }
    .master-wrapper-main .center-1 { width: 100% }
    .master-wrapper-main .side-2 { width: 170px }
    .master-wrapper-main .center-2 { width: auto; margin-left: 180px; float: none; display: table; }

    /* TOPICS */
    .topic-html-content-title{clear: none}

    /* PRODUCT DETAILS PAGE */
    .product-details-page .gallery{width: 50%;margin: 25px 0 15px 0;}
    .product-details-page .overview{float: left;width: 43%;margin: 5px 0;padding: 10px 3%;}
    .product-details-page .attributes select{max-width: 100%;}

    /* CONTACTS */
    .contact-page .inputs-right { margin-left: 25px }
    .contact-page .email, .contact-page .fullname { width: 215px }
    .contact-page .enquiry { width: 280px }

     /* EMAIL A FRIEND */
    .email-a-friend-page .inputs-left, .email-a-friend-page .inputs-right { width: 50% }
    .email-a-friend-page .inputs { width: 85% }
    .email-a-friend-page .friend-email, .email-a-friend-page .your-email, .email-a-friend-page .personal-message { max-width: 100% }




}