@model string

 <li class="custom-value">
    <span class="label">
        @T("Plugins.Widgets.What3words.Address.Field.Label"):
    </span>
    <span class="value">
        @(Model)
    </span>
</li>

