[submodule "src/Plugins/NopBrasil.Plugin.Payments.PagSeguro"]
	path = src/Plugins/NopBrasil.Plugin.Payments.PagSeguro
	url = https://DataplaceDevs@dev.azure.com/DataplaceDevs/Nop/_git/NopBrasil.Plugin.Payments.PagSeguro.git
[submodule "src/Plugins/NopBrasil.Plugin.Shipping.Correios"]
	path = src/Plugins/NopBrasil.Plugin.Shipping.Correios
	url = https://DataplaceDevs@dev.azure.com/DataplaceDevs/Nop/_git/NopBrasil.Plugin.Shipping.Correios.git