@model TopMenuModel.CategoryLineModel
@if(Model.Category.SubCategories.Count > 0)
{
    @await Html.PartialAsync("_SubCategoryLine.TopMenu", Model.Category)
}
else
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">
            @Model.Category.Name
            @if (Model.Category.NumberOfProducts.HasValue)
            {
                <span class="head-number op-number">
                    @if(Model.Category.NumberOfProducts.Value < 0)
                    {
                        @:0@(Model.Category.NumberOfProducts.Value)
                    }
                    @T("Categories.TotalProducts", Model.Category.NumberOfProducts.Value)
                </span>
                <span>&nbsp;</span>
            }
        </a>
    </li>
}