<div class="header">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-selectors-wrapper" style="margin-top: 15px;">
                        @await Component.InvokeAsync(typeof(LogoViewComponent))
                        @await Component.InvokeAsync(typeof(TaxTypeSelectorViewComponent))
                        @await Component.InvokeAsync(typeof(CurrencySelectorViewComponent))
                        @await Component.InvokeAsync(typeof(LanguageSelectorViewComponent))
                        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderSelectors })
                    </div>
                </div>
                <div class="col-md-9 header-upper-right pull-right">
                    <div class="header-links-wrapper">
                        @await Component.InvokeAsync(typeof(HeaderLinksViewComponent))
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderMiddle })
    <div id="searcboxid" class="header-lower" style="display:none">
        <div class="container">
            <div class="row">
               @*  <div class="col-xs-4 col-sm-3 col-md-3">
                    <div class="header-logo">
                        @await Component.InvokeAsync(typeof(LogoViewComponent))
                    </div>
                </div> *@
                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right">
                    <div class="search-box">
                        @await Component.InvokeAsync(typeof(SearchBoxViewComponent))
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>
