@using Nop.Web.Framework;
@model Nop.Web.MVC.Areas.Admin.Models.CategoryModel
@{
    ViewBag.Title = "ViewPage1";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img alt="Add a new category" src="@Html.ResolveUrl("~/Areas/Admin/Content/images/ico-catalog.png")">
            Add a new category @Html.ActionLink("(back to category list)", "List")
                
        </div>
        <div class="options">
            @*<input type="submit" class="adminButtonBlue" title="Save category" id="ctl00_cph1_ctrlCategoryAdd_SaveButton"
                onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cph1$ctrlCategoryAdd$SaveButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))"
                value="Save" name="ctl00$cph1$ctrlCategoryAdd$SaveButton">
            <input type="submit" class="adminButtonBlue" id="ctl00_cph1_ctrlCategoryAdd_SaveAndStayButton"
                onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cph1$ctrlCategoryAdd$SaveAndStayButton&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))"
                value="Save and Continue Edit" name="ctl00$cph1$ctrlCategoryAdd$SaveAndStayButton">*@
        </div>
    </div>
    <table class="adminContent">
        <tbody>
            <tr>
                <td class="adminTitle">
                    @Html.Hint("fgh") Name:
                </td>
                <td class="adminData">
                    @Html.EditorFor(x => x.Name)
                </td>
            </tr>
        </tbody>
    </table>
}
