.foo{}

body,h1,h2,h3,h4,h5,h6,address,blockquote,dd,dl,hr,form,input{margin:0;padding:0;}
body{font-family:arial, verdana, helvetica, sans-serif;font-size:12px;text-align:center;}

.nobr{white-space:nowrap!important;}
.wrap{ white-space:normal!important;}
.a-left{text-align:left!important;}
.a-center{text-align:center!important;}
.a-right{text-align:right!important;}
.section-title{padding:10px 10px 5px 0;font-weight:700;clear:both;}
/* data table */
.data-table{width:100%;border:1px solid;border-collapse:collapse;border-spacing:0;empty-cells:show;}
.data-table th{font-weight:bold;padding:3px 8px;white-space:nowrap;vertical-align:middle;}
.data-table td{padding:3px 8px;}
.data-table th,.data-table td{border-bottom:1px solid;border-right:1px solid;}
.data-table .odd{}
.data-table .even{background-color: #F4FAFF;}

.cart-total-left{width:100%;text-align:right;vertical-align:middle;height:21px;font-weight:700;color:#353434;}
.cart-total-left-below{width:100%;text-align:right;vertical-align:top;height:30px;}
.cart-total-right{text-align:right;vertical-align:middle;padding-left:5px;}

.order-details{margin-bottom:15px;padding:0;}
.order-details .page-body{border:1px solid #d7d7d7;padding:10px;}
.order-details .order-overview{text-align:left;padding-bottom:10px;}
.order-details .order-overview .order-total-top{text-align:right;}
.order-details .order-details-box{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.order-details .order-overview .order-overview-table, .order-details .order-details-box .order-details-table{width:100%;border:0px;border-collapse:collapse;border-spacing:0;}
.order-details .order-details-box .order-details-table .billinginfo,.order-details .order-details-box .order-details-table .shippinginfo{width:50%;vertical-align:top;}
.order-details .products-box,.order-details .ordernotes-box{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.order-details .checkout-attributes{text-align:right;vertical-align:middle;padding:10px;height:auto;}
.order-details .cart-total-left{color:#000;}
