.foo
{
}
/****************************************************************************************************/
/* The contents of this file are subject to the nopCommerce Public License Version 1.0 ("License"); you may not use this file except in compliance with the License.
/* You may obtain a copy of the License at  http://www.nopCommerce.com/License.aspx. 
/* 
/* Software distributed under the License is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. 
/* See the License for the specific language governing rights and limitations under the License.
/* 
/* The Original Code is nopCommerce.
/* The Initial Developer of the Original Code is NopSolutions.
/* All Rights Reserved.
/* 
/* Contributor(s): RetroViz Design. 
/****************************************************************************************************/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HTML GENERAL 

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body, h1, h2, h3, h4, h5, h6, address, blockquote, dd, dl, hr, form, input
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
}


hr
{
	border-bottom: 1px solid #CCC;
	color: #FFF;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	LINKS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

a
{
	color: #009FFF;
	text-decoration: none;
	font-weight: bold;
}

a:hover
{
	text-decoration: underline;
	color: #009FFF;
	font-weight: bold;
}

a img
{
	border: 0;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	IMAGES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

img
{
	border: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HEADINGS & TEXT

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1, h2, h3, h4, h5, h6
{
	font-family: arial, helvetica, sans-serif;
}

h2, h3
{
	font-size: 16px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	SECTION HEADERS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section-title
{
	border-bottom: solid 3px #dfdfdf;
	padding-bottom: 1px;
	margin-bottom: 10px;
	color: #009FFF;
	font-size: 14px;
	font-weight: bold;
	vertical-align: bottom;
}

.section-title img
{
	vertical-align: middle;
	padding-bottom: 2px;
}

.section-header .title a
{
	text-decoration: none;
	font-size: 11px;
	color: #555;
	text-transform: none;
}


.section-header
{
	border-bottom: solid 3px #dfdfdf;
	padding-bottom: 1px;
	margin-bottom: 10px;
	height: 25px;
}

.section-header .title
{
	float: left;
	color: #009FFF;
	font-size: 14px;
	font-weight: bold;
	vertical-align: bottom;
	padding-top: 5px;
	text-transform: capitalize;
}

.section-header .title img
{
	vertical-align: middle;
	padding-bottom: 2px;
}

.section-header .options
{
	text-align: right;
	float: right;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	TABLES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

td
{
	vertical-align: middle;
}

td.fieldname
{
	font-size: 12px;
}

.table-container
{
}

.table-container .row
{
}

.table-container .row .item-name
{
	padding: 3px 10px 0px 0px;
	display: block;
	white-space: nowrap;
	padding-right: 10px;
	vertical-align: middle;
}

.table-container .row .item-value
{
	padding: 3px 0px 0px 0px;
	vertical-align: middle;
}

table.adminContent
{
	border-collapse: collapse;
	color: #333;
	font-size: 12px;
	margin: 0px;
	width: 100%;
	vertical-align: middle;
	text-align: left;
}

table.adminContent td.adminTitle
{
	padding: 4px 4px 4px 4px;
}

table.adminContent td.adminData
{
	padding: 4px 4px 4px 4px;
}

td.adminTitle
{
	text-align: left;
	vertical-align: middle;
	white-space:nowrap;
	width: 175px;
}

td.adminTitle img
{
	vertical-align: bottom;
	padding-right: 2px;
}

td.adminData
{
	text-align: left;
	vertical-align: middle;
}

tr.adminSeparator hr
{
	background-color:#D3D3D3;
    border:medium none;
    color:#D3D3D3;
    height:1px;
    margin-top:10px;
    margin-bottom:10px;
    padding:0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	TAB CONTROL

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.grey .ajax__tab_header
{
	font-family: "Helvetica Neue" , Arial, Sans-Serif;
	background: url(images/tab-line.png) repeat-x bottom;
	font-size: 12px;
	display: block;
}

.grey .ajax__tab_header .ajax__tab_outer
{
	background: url(images/tab.png) no-repeat left top;
	border-color: #222;
	color: #222;
	padding-left: 10px;
	margin-right: 3px;
}

.grey .ajax__tab_header .ajax__tab_inner
{
	background: url(images/tab.png) no-repeat right top;
	border-color: #666;
	color: #666;
	padding: 3px 10px 2px 0px;
}

.grey .ajax__tab_hover .ajax__tab_inner
{
	color: #000;
}

.grey .ajax__tab_active .ajax__tab_outer
{
	background: url(images/tab.png) no-repeat 0pt -40px;
	border-bottom-color: #ffffff;
}

.grey .ajax__tab_active .ajax__tab_inner
{
	background: url(images/tab.png) no-repeat right -40px;
	color: #009FFF;
	border-color: #333;
}

.grey .ajax__tab_body
{
	background-color: #fff;
	border: solid 1px #d7d7d7;
	border-top-width: 0;
	padding: 10px 10px 10px 10px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	SERVER CONTROLS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.adminButtonBlue
{
	background: url(images/blue_button_bg.gif) no-repeat 25% 50% #333;
	border: 1px solid #0f72ac;
	margin-bottom: 3px;
	color: #FFF;
	height: 22px;
	padding: 0 10px 0 10px;
	font-size: 11px;
	font-weight: bold;
}

.adminButton
{
	background: url(images/grey_button_bg.gif) no-repeat 25% 50% #333;
	border: 1px solid #333;
	margin-bottom: 3px;
	color: #FFF;
	text-align: right;
	height: 20px;
	padding: 0 10px 0 10px;
	font-size: 11px;
	font-weight: bold;
}

.adminInput
{
	border: 1px solid #acacac;
	width: 250px;
}

.adminInputNoWidth
{
	border: 1px solid #acacac;
}

label
{
	padding-left: 3px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	ADMIN GRID VIEW

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.tablestyle
{
	font-family: arial;
	font-size: 11px;
	border: 1px solid #808080;
	background-color: #FFFFFF;
	margin-left: 0px;
	color: #245D75;
	width: 100%;
}

.tablestyle td a
{
	color: #D16400;
	font-weight: bold;
	text-decoration: none;
}

.altrowstyle
{
	background-color: #F4FAFF;
}

.headerstyle th
{
	background: url('images/admin-gvw-bg.gif') repeat-x 50%;
	color: #fff;
	padding: 5px 10px 5px 10px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	border: solid 1px #676767;
}

.headerstyle th a
{
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #fff;
	display: block;
	padding-right: 10px;
}

.rowstyle td, .altrowstyle td
{
	padding: 4px 10px 4px 10px;
	border-right: solid 1px #A0C0E7;
	border-right-color: #808080;
}

.PagerStyle
{
	height: 28px;
	background: url(Images/grid_header_back.png) repeat-x;
	background: #EEEEEE;
	vertical-align: middle;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	FORUM TABLE

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.forumtable
{
	font-family: arial;
	font-size: 11px;
	background-color: #FFFFFF;
	color: #245D75;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #808080;
	text-align: center;
}

.forumtable td
{
	border: 1px solid #808080;
}

.forumtable td a
{
	color: #D16400;
	font-weight: bold;
	text-decoration: none;
}

forumtable .headerstyle th
{
	background: url('images/admin-gvw-bg.gif') repeat-x 50%;
	color: #fff;
	padding: 5px 10px 5px 10px;
	vertical-align: middle;
	font-weight: bold;
	border: solid 1px #676767;
}

.forumtable tr.forumgroup td
{
	padding: 4px 0 4px 0;
	background-color: #F4FAFF;
}

.forumtable tr.forumgroup td.name
{
	padding-left: 10px;
	text-align: left;
}

.forumtable tr.forumgroup td.name a
{
	color: #245D75;
}

.forumtable tr.forum td
{
	padding: 4px 0 4px 0;	
}

.forumtable tr.forum td.name
{
	padding-left: 25px;	
	text-align: left;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	HOME PAGES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.homepage
{
}

.homepage .intro
{
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	background: #fcfabc;
	border: dashed 1px #dfdfdf;
	margin-bottom: 10px;
}

.homepage .options
{
	padding: 10px 10px 10px 10px;
	background: #e7efef;
}

.homepage .options ul
{
	margin: 0;
	padding: 0;
}

.homepage .options ul li
{
	margin-bottom: 5px;
	padding-bottom: 5px;
	list-style: none;
}

.homepage .options .title
{
}

.homepage .options .description p
{
	margin-top: 5px;
	margin-bottom: 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	RATING

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.rating-star
{
	font-size: 0pt;
	width: 13px;
	height: 12px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: block;
	background-repeat: no-repeat;
}

.filled-rating-star
{
	background-image: url(Images/FilledStar.png);
}

.empty-rating-star
{
	background-image: url(Images/EmptyStar.png);
}

.saved-rating-star
{
	background-image: url(Images/SavedStar.png);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MISC. CLASSES

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.clear
{
	border: medium none;
	clear: both;
	float: none;
	font-size: 0;
	height: 0;
	line-height: 0;
}

.validatorCalloutHighlight
{
	background-color: #FFFBD5;
}

.progress
{
	position: absolute;
    top: 20px;
    width: 280px;
    height: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 5px 10px;
    text-align: center;
    z-index: 2147483647;
}

div.login-block
{
	position: absolute;
	text-align: left;
	margin: -140px 10px 10px -170px;
	padding: 0px 0px 0px 0px;
	top: 50%;
	left: 50%;
	width: 344px;
	height: 350px;
	background-image: url("images/logo-bg.png");
	background-repeat: no-repeat;
	background-position: top;
	background-color: #77787b;
	color: #ffffff;
}

div.login-block table.login-table-container
{
	margin: 120px 20px 0px 70px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MASTER PAGE WRAPPERS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.master-wrapper-page
{

}

.master-wrapper-content
{

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MASTER HEADER

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header
{
	height: 70px;
	width: 100%;
	background: url('images/admin-header-bg.gif') repeat-x;	
	position: relative;
}

.header .logo
{
	background: url('images/logo.gif');
	display: block;
	width: 340px;
	height: 70px;
	text-decoration: none;	
}

.header .languageselector
{
    position: absolute;
	right: 300px;
	top: 7px;
	text-align: right;
}

.header .links
{
	position: absolute;
	right: 10px;
	top: 7px;
	text-align: right;
}

a img
{
	border: 0;
}
.header .links .separator
{
	color: #FFF;
	padding: 0 3px 0 3px;
}

.header .login-info
{
	position: absolute;
	right: 5px;
	top: 35px;
    text-align: right;
	color: #e7e7e7;
	font-size: 10px;
}

.header .login-info .a
{
    color: #009FFF;
	text-decoration: none;
	font-weight: bold;
}

.header .version
{
	position: absolute;
	right: 5px;
	top: 55px;
	text-align: right;
	color: #e7e7e7;
	font-size: 10px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MASTER HEADER MENU

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header-menu
{
	width: 100%;
	line-height: 29px;
	height:31px;
	background: url('images/admin-menu-bg.gif') repeat-x;	
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MASTER HEADER STATUS BAR

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.status-bar
{
	background: #e7efef no-repeat;
	height: 26px;
	border: solid 1px #acacac;
	padding: 0px 5px 0 5px;
}

.status-bar .help
{
	padding-top: 5px;
	float:left;
	font-weight: bold;
}

.status-bar .breadcrumb
{
	float: right;
	text-align: right;
	padding-top: 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MASTER ERRORS

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.messageBox
{
    background-color:#F4F4F4;
	background-position: 7px 5px;
	background-repeat: no-repeat;
	color: #333333;
	font-family: Tahoma;
	font-size: 11px;
	margin: 5px 0;
	padding: 8px 8px 8px 30px;
}

.messageBoxError
{
    background-color: #FFECEC;
    background-image: url('images/ErrorMessage.gif')
}

.messageBoxSuccess
{
    background-image: url('images/SuccessMessage.gif')
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	MASTER CONTENT

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.content .cph
{
	padding: 20px 15px 5px 15px;	
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	DASHBOARD

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.dashboard
{
	margin-top: 15px;
	border: solid 1px #cccccc;
	width: 100%;
	border-collapse: collapse;
}

table.dashboard td.maincol
{
	padding: 10px;
	vertical-align: top;
}

table.dashboard td.splitcol
{
	width: 50%;
	vertical-align: top;
}

table.dashboard td.rightcol
{
	width: 215px;
	background: #f3f3f3;
	padding: 10px 5px 5px 5px;
	vertical-align: top;
}

table.stats
{
	margin-top: 10px;
	width: 100%;
}

table.stats td.orderaveragereport
{
	width: 100%;
	vertical-align: top;	
}

table.stats td.orderstatistics
{
	width: 50%;
	vertical-align: top;
}

table.stats td.customerstatistics
{
	width: 50%;
	vertical-align: top;
	padding-left: 5px;
}

table.stats td.bestsellers
{
	width: 65%;
	vertical-align: top;
}

table.stats td.searchterms
{
	padding-left: 5px;
	width: 35%;
	vertical-align: top;	
}

table.dashboard td.basecol .warnings
{
	padding: 10px;
}




.statisticsTitle
{
	text-align: left;
	color: #333;
	font-weight: bold;
	margin-bottom: 5px;
}

.dashboard .newsitem
{
	
}

.dashboard .newsitem .newstitle
{
	
}

.dashboard .newsitem .newstitle a:hover
{
	text-decoration: none;
}

.dashboard .newsitem .newsdate
{
	font-size: 0.8em;
	color: #555;
	border-bottom: solid 1px #dfdfdf;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.dashboard .newsitem .newsdetails
{
	color: #333;
	margin-bottom: 10px;
}

.sf-menu, .sf-menu * 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.sf-menu 
{
	line-height: 31px;
}

.sf-menu ul 
{
	position: absolute;
	top: -999em;
	width: 170px;
	line-height: 31px;
}

.sf-menu li 
{
	float: left;
	position: relative;
	padding: 0 5px 0px 5px;
	white-space: nowrap;
	vertical-align: middle;
	text-transform: capitalize;
}

.sf-menu ul li 
{
	width: 164px;
	border-top: solid 1px #e0e0e0;
	padding: 0px 3px 0px 3px;
}

.sf-menu li:hover, .sf-menu li.sfHover
{
	visibility: inherit;
	background: url(images/menu-item-left.png) no-repeat left center;
}

.sf-menu li img
{
	border: none;
	padding-right: 7px;
	margin-bottom: 2px;
	padding-top: 6px;
	vertical-align: text-bottom;
}

.sf-menu li a, .sf-menu li a:hover
{
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial;
	padding-right: 5px;
	height: 31px;
}

.sf-menu li:hover a, .sf-menu li.sfHover a
{
	background: url(images/menu-item-right.png) no-repeat right center;
}

.sf-menu li:hover ul li:hover, .sf-menu li.sfHover ul li.sfHover
{
	background-color: #FDEFD5;
	background-image: none;
}

.sf-menu li:hover ul li a, .sf-menu li.sfHover ul li a
{
	color: #555555;
	background-image: none;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul 
{
	left: 0;
	top: 2.4em;
	z-index: 99;
	width: 170px;
	background-color: #f0f0f0;
	border: solid 1px #6b798c;
}

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul 
{
	top: -999em;
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul 
{
	left: 170px;
	top: 0;
}

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul 
{
	top: -999em;
}

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul 
{
	left: 170px;
	top: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

	ORDER EDITING

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

table.order-edit
{
	width: 100%;
	border: solid 1px black; 
	padding: 5px;
}

table.order-edit td
{
	padding: 1px 5px 1px 5px;
	border: medium none;
}