<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="nop" type="Nop.Core.Configuration.SectionGroup, Nop.Core">
            <section name="host" type="Nop.Core.Configuration.HostSection, Nop.Core" requirePermission="false" />
            <section name="engine" type="Nop.Core.Configuration.EngineSection, Nop.Core" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <nop>
        <host isWeb="false">
        </host>
        <engine>
            <components>
                
            </components>
            <assemblies>
                <clear/>
            </assemblies>
        </engine>
    </nop>
</configuration>

