<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net45" />
  <package id="Autofac.Mvc4" version="3.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
</packages>