@model BlogPostModel
@{    
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.Blog.BlogPosts.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Blog posts");
}

<form asp-controller="Blog" asp-action="BlogPostCreate" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.ContentManagement.Blog.BlogPosts.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="BlogPosts">@T("Admin.ContentManagement.Blog.BlogPosts.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.BlogDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

