@model ActivityLogSearchModel

@{
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Activity logs");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.ActivityLog.ActivityLog")
    </h1>
    <div class="pull-right">
        <a asp-action="ClearAll" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.Common.Clear")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ActivityLogListButtons })
    </div>

</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="CreatedOnFrom" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="CreatedOnFrom" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="CreatedOnTo" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="CreatedOnTo" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="IpAddress" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="IpAddress" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="ActivityLogTypeId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="ActivityLogTypeId" asp-items="Model.ActivityLogType" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-log" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", Model.Grid)
                </div>
            </div>
        </div>
    </div>
</div>