@model ActivityLogTypeSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ActivityLog.ActivityLogType").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Activity types");
}

<form asp-controller="ActivityLog" asp-action="SaveTypes" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.ActivityLog.ActivityLogType")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ActivityTypesListButtons })
        </div>
    </div>
    <div class="content">
        <div class="panel panel-default">
            <div class="panel-body">
                @await Html.PartialAsync("Table", Model.Grid)
            </div>
        </div>
    </div>
</form>