@model ActivityLogContainerModel

@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ActivityLog").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Activity log");
}

<nop-antiforgery-token />

<form asp-controller="ActivityLog" asp-action="ListTypes" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.ActivityLog")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="activity-log-tabs">
                <nop-tab asp-name="activity-log-logs" asp-title="@T("Admin.Configuration.ActivityLog.ActivityLog")" asp-default="true">@await Html.PartialAsync("_List.Logs", Model.ListLogs)</nop-tab>
                <nop-tab asp-name="activity-log-types" asp-title="@T("Admin.Configuration.ActivityLog.ActivityLogType")">@await Html.PartialAsync("_List.LogTypes", Model.ListTypes)</nop-tab>
            </nop-tabs>
        </div>
    </div>

    @{
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "activity-log-tabs");
        eventPublisher.Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
            @eventBlock
        }
    }
</form>