<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
    </system.web>
	
	<!--I use the following configuration for local testing of this plugin (without HTTPS required)-->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="LotOfObjectsBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="HttpsBigMessage" receiveTimeout="20:10:00" sendTimeout="20:10:00" maxReceivedMessageSize="2147483647">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
			<basicHttpBinding>
				<binding name="HttpBigMessage"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 maxReceivedMessageSize="65536" >
					<security mode="None" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="Nop.Plugin.Misc.WebServices.NopService" behaviorConfiguration="LotOfObjectsBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="HttpBigMessage"
						  contract="Nop.Plugin.Misc.WebServices.INopService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

	
	
	
	<!--I use the following configuration for production (with HTTPS required)-->
	<!--
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="LotOfObjectsBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<wsHttpBinding>
				<binding name="HttpsBigMessage" receiveTimeout="20:10:00" sendTimeout="20:10:00" maxReceivedMessageSize="2147483647">
					<security mode="Transport">
						<transport clientCredentialType="None" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<services>
			<service name="Nop.Plugin.Misc.WebServices.NopService" behaviorConfiguration="LotOfObjectsBehavior">
	<endpoint address="" binding="wsHttpBinding" bindingConfiguration="HttpsBigMessage"
			  contract="Nop.Plugin.Misc.WebServices.INopService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>
	-->

</configuration>
