<<<<<<< HEAD
<<<<<<< HEAD
﻿@model CheckoutPaymentInfoModel
<div class="checkout-data">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoTop, additionalData = Model })
    <div class="section payment-info">
        <div class="info">
            @await Component.InvokeAsync(Model.PaymentViewComponent)
        </div>
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoBottom, additionalData = Model })
    @if (Model.DisplayOrderTotals)
    {
        <div class="section order-summary">
            @await Component.InvokeAsync(typeof(OrderSummaryViewComponent))
        </div>
    }
</div>
=======
=======
=======
<<<<<<< HEAD
>>>>>>> 974287325803649b246516d81982b95e372d09b9
﻿@model CheckoutPaymentInfoModel
<div class="checkout-data">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoTop, additionalData = Model })
    <div class="section payment-info">
        <div class="info">
            @await Component.InvokeAsync(Model.PaymentViewComponent)
        </div>
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoBottom, additionalData = Model })
    @if (Model.DisplayOrderTotals)
    {
        <div class="section order-summary">
            @await Component.InvokeAsync(typeof(OrderSummaryViewComponent))
        </div>
    }
</div>
<<<<<<< HEAD
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
=======
=======
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
﻿@model CheckoutPaymentInfoModel
<div class="checkout-data">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoTop, additionalData = Model })
    <div class="section payment-info">
        <div class="info">
            @await Component.InvokeAsync(Model.PaymentViewComponent)
        </div>
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutPaymentInfoBottom, additionalData = Model })
    @if (Model.DisplayOrderTotals)
    {
        <div class="section order-summary">
            @await Component.InvokeAsync(typeof(OrderSummaryViewComponent))
        </div>
    }
</div>
<<<<<<< HEAD
=======
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
