@model CheckoutPaymentInfoModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.Common
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="checkout-page">
    <div class="page-title">
        <h1>@T("Checkout.PaymentInfo")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="checkout-data">
        @*set "data-ajax" attribute to "false"*@
        @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post,
                new Dictionary<string, Object> { { "data-ajax", "false" } }))
        {
                <div class="message-error">
                    @Html.ValidationSummary(false)
                </div>
            <div class="clear">
            </div>
            <div class="payment-info">
                <div class="body">
                    @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                </div>
                <div class="clear">
                </div>
                <div class="select-button">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" id="nextstep"/>
                </div>
            </div>
        }
    </div>
</div>
