@model ShoppingCartModel.GiftCardBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post))
    {
    <div class="giftcard-box">
        <b>@T("ShoppingCart.GiftCardCouponCode")</b>
        <br />@T("ShoppingCart.GiftCardCouponCode.Tooltip")<br />
        <input name="giftcardcouponcode" type="text" id="giftcardcouponcode" class="giftcardcouponcode" />&nbsp;
        <input type="submit" name="applygiftcardcouponcode" value="@T("ShoppingCart.GiftCardCouponCode.Button")" id="applygiftcardcouponcode" class="applycouponcodebutton" />
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="clear">
            </div>
            <div class="message-error">
                @Model.Message
            </div>
        }
    </div>
    }
}