@model Nop.Web.Models.ShoppingCart.WishlistModel
@using Nop.Core.Domain.Orders
@using Nop.Web.Models.Checkout
@{
    Layout = "~/Views/Shared/_MobileRoot.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Wishlist").Text);
}
<div class="wishlist-page">
    UNDONE wishlist will be here
</div>
