@using Nop.Web.Framework.UI
@{
    Layout = "";

    Html.AddCssFileParts(@Url.Content("~/Plugins/ExternalAuth.Twitter/Content/twitterstyles.css"));   
}
<fieldset class="twitter-login-block">
    <legend>@T("Plugins.ExternalAuth.Twitter.Login")</legend>
    <a href="@Url.RouteUrl("Plugin.ExternalAuth.Twitter.Login", new { ReturnUrl = HttpContext.Current.Request.QueryString["ReturnUrl"] })" class="twitter-btn">
        &nbsp;</a>
</fieldset>
