@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-shopping-cart-page");
}

<div class="page shopping-cart-page section-width">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
    }
    <div class="section-head">
        <h2>@T("ShoppingCart")</h2>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
    </div>
</div>
