@using Nop.Plugin.Search.Lucene
@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName(LuceneDefaults.SystemName);
}

<h1>Full-text search based on Lucene (official plugin)</h1>

<p>nopCommerce Fast Full-Text Search plugin based on Lucene enables fast and accurate indexing and retrieval of text data, making it perfect for websites requiring powerful search functionality.</p>

<p>Unlike standard search which relies on exact matches, the Full-Text Search plugin analyzes the content of the website which let it get the right search results even when users input natural language queries not matching the content.</p>

<p>Key features of the full-text search plugin:</p>

<ul>
    <li>High-relevance search results due to auto-complete and typo tolerance.</li>
    <li>It more than doubles the search speed compared to standard solutions.</li>
    <li>The plugin is open-source, giving you the flexibility to customize it according to your unique requirements.</li>
</ul>

<p>Install a fast full-text search plugin based on Lucene by nopCommerce team and increase sales with higher search accuracy and speed.</p>

<a href="https://www.nopcommerce.com/full-text-search-lucene?utm_source=admin-panel&utm_medium=menu&utm_campaign=full-text-search-lucene&utm_content=configuration" target="_blank" class="btn btn-primary">Get the plugin</a>
