.main-header .logo {
    padding: 0;
}
.main-header .logo-lg {
    background: url(images/logo.png) no-repeat 50% 50%;
    background-color: #fff !important;
    height: 50px;
}
.main-header .logo-mini {
    background: url(images/logo-mini.png) no-repeat 50% 50%;
    height: 50px;
    background-color: #fff !important;
}
.navbar-nav>li>span.version {
    padding: 15px;
    display: block;
    color: #fff;
    background-color: #367fa9;
}
table.adminContent {
    border-collapse: collapse;
    color: #333;
    font-size: 14px;
    margin: 0;
    width: 100%;
    vertical-align: middle;
    text-align: left;
}
.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
    border-color: #c5c5c5 !important;
}

.k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.form-group input[type=checkbox] {
    margin-top: 10px;
}

.form-group .checkbox input[type=checkbox] {
    margin-top: 3px;
}

.form-group p {
    margin-top: 6px;
    margin-bottom: 0px;
}

.tag-editor {
    border: 1px solid #d2d6de !important;
    line-height: 26px !important;
}

.form-horizontal .control-label {
    float: right;
}
.form-horizontal img.ico-help {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}

.mce-panel {
    border-color: #d2d6de !important;
}

.k-grid tbody td>.k-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.k-autocomplete.k-state-default, 
.k-picker-wrap.k-state-default, 
.k-numeric-wrap.k-state-default, 
.k-dropdown-wrap.k-state-default {
    border-color: #d2d6de;
    border-radius: 0;
}

.k-state-default>.k-select {
    margin-top: -1px;
    border: none;
    border-radius: 0;
}

.k-dropdown-wrap .k-input, 
.k-picker-wrap .k-input, 
.k-numeric-wrap .k-input {
    height: 32px;
    border-radius: 0;
    padding: 0.177em 8px;
}

.k-dropdown-wrap.k-state-focused, 
.k-picker-wrap.k-state-focused, 
.k-numeric-wrap.k-state-focused {
    border-color: #3c8dbc;
    box-shadow: none;
}

.k-numerictextbox .k-link {
    height: 17px;
    width: 29px;
    background-color: #3c8dbc;
    border-radius: 0;
}

.k-numeric-wrap .k-link+.k-link {
    border-radius: 0;
}

.k-numerictextbox .k-link.k-state-selected {
    background-color: #00c0ef;
}

.k-numerictextbox .k-icon {
    height: 17px;
    background: none;
}

.k-numerictextbox .k-link .k-icon:before {
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    height: 17px;
    line-height: 17px;
}

.k-numerictextbox .k-link .k-i-arrow-n:before {
    content: "\f0d8";
}

.k-numerictextbox .k-link .k-i-arrow-s:before {
    content: "\f0d7";
}