<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.3.0" targetFramework="net451" />
  <package id="Autofac.Mvc5" version="4.0.1" targetFramework="net451" />
  <package id="AutoMapper" version="5.2.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="RedLock.net.StrongName" version="1.7.4" targetFramework="net451" />
  <package id="StackExchange.Redis.StrongName" version="1.2.1" targetFramework="net451" />
</packages>