@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="related-products-grid">
        <div class="title panel-heading">
             <h2>@T("Products.RelatedProducts")</h2>
        </div>
        <div class="row">
            @if (Model.Count <= 3)
            {    
                foreach (var item in Model)
                {
                    <div class="item-box col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    </div>
                }
            }
            else
            {
                <div id="related-products-slider" class="related-products-slider owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                        <div class="item-box col-xs-12 col-sm-12 col-md-12">
                            <div class="thumbnail">@await Html.PartialAsync("_ProductBox", item)</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div> 
}