@model ProductDetailsModel.ProductVariantModel
@using Nop.Web.Models.Catalog;
@if (Model.HasSampleDownload)
{
    <div class="downloadsample">
        <span class="downloadsamplebutton">
            <a href="@Url.Action("sample", "download", new { productvariantid = Model.Id })">@T("Products.DownloadSample")</a>
        </span>
    </div>
}