@model Nop.Web.Models.Catalog.ProductModel
<div class="picture">
    <table style="margin-top: 10px;">
        <tr>
            @foreach (var picture in Model.PictureModels)
            {
                <td align="left">
                    @*display thumbs for mobile devices?*@
                    <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                </td>
            }
        </tr>
    </table>
</div>
