@model ProductDetailsModel.ProductVariantModel
@using Nop.Web.Models.Catalog;
@if (Model.DisplayBackInStockSubscription)
{
    <div class="back-in-stock-subscription">
        @if (Model.IsCurrentCustomerRegistered)
        {
            <a href="@Url.RouteUrl("BackInStockSubscribePopup", new { productVariantId = Model.Id })" data-role="button" data-ajax="false">@T("BackInStockSubscriptions.NotifyMeWhenAvailable")</a>
        }
        else
        {
            <a href="@Url.RouteUrl("Login")" data-role="button">@T("BackInStockSubscriptions.NotifyMeWhenAvailable")</a>
        }
    </div>
}