@model Nop.Web.Models.Catalog.ProductModel.ProductPriceModel
@if (!String.IsNullOrEmpty(Model.OldPrice))
{
    <span class="oldproductPrice">@Model.OldPrice</span>
    <br />
}
<span class="productPrice">@Model.Price</span> 