@model AddToCompareListModel
@using Nop.Web.Models.Catalog;
<div class="compare-products">
    <a href="@Url.RouteUrl("AddProductToCompare", new { productId = Model.ProductId })" data-role="button" data-ajax="false">@T("Products.Compare.AddToCompareList")</a>
</div>
