@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="product-grid cross-sells">
        <span class="cross-sells-title">
            @T("ShoppingCart.CrossSells"): </span>
        <div class="clear">
        </div>
        @(Html.DataList<ProductOverviewModel>(Model, 2,
                    @<div class="item-box">
                        @Html.Partial("_ProductBox", item)
                    </div>
                ))
    </div>
}