@model PopularProductTagsModel
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AllProductTags").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page product-tags-all-page">
    <div class="page-title">
        <h1>@T("Products.Tags.All")</h1>
    </div>
    <div class="page-body">
        @if (Model.Tags.Count > 0)
        {
            <ul data-role="listview" data-inset="true" data-filter="false">
                @foreach (var item in Model.Tags)
                {
                    <li><a href="@Url.RouteUrl("ProductsByTag", new { productTagId = item.Id, SeName = item.SeName })">
                        @item.Name (@item.ProductCount)</a></li>
                }
            </ul>
        }
    </div>
</div>
