@model IList<ProductTagModel>
@using Nop.Web.Models.Catalog;
@if (Model != null && Model.Count > 0)
{
    <div class="product-tags-box">
        <div class="title">
            @T("Products.Tags")
        </div>
        <div class="clear">
        </div>
        <div class="product-tags-list">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="product-tags-wrapper">
                    <a href="@Url.RouteUrl("ProductsByTag", new { productTagId = Model[i].Id, SeName = Model[i].SeName })" class="producttag">
                        @Model[i].Name</a> (@Model[i].ProductCount)</div>
                if (i != Model.Count - 1)
                {
                <div class="product-tags-wrapper">
                    ,
                </div>
                }
            }
        </div>
    </div>

}