@model IList<ProductSpecificationModel>
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@using MvcContrib.UI.Grid
@if (Model.Count > 0)
{
    <div class="productspec-box">
        <div class="title">
            @T("Products.Specs")
        </div>
        <div class="clear">
        </div>
        <div class="productspec-list">
            @Html.Grid(Model).Columns(column =>
           {
               //MvcContrib Grid doesn't allow to disable header. Let's specify "" is column header
               column.For(rph => rph.SpecificationAttributeName).Named("").Attributes(style => "width:30%;");
               column.For(rph => rph.SpecificationAttributeOption).Named("").Attributes(style => "width:70%;");
           }).Attributes(style => "width: 100%; border: 0px").RowStart((row) =>
           {
               if (row.IsAlternate) { return "<tr style='background-color: #F4FAFF;'>"; }
               else { return "<tr>"; }
           })
        </div>
    </div>
}