@model ProductEmailAFriendModel
@using Nop.Web.Models.Catalog
<a href="@(@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.ProductId }))" data-role="button" class="productemailafriendbutton">@T("Products.EmailAFriend")</a>
