@model IList<ProductTagModel>
@using Nop.Web.Framework.UI;
@using Nop.Web.Models.Catalog;
@if (Model != null && Model.Count > 0)
{
    <div class="producttags-box">
        <div class="title">
            @T("Products.Tags")
        </div>
        <div class="clear">
        </div>
        <div class="producttags-list">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="producttags-wrapper">
                    <a href="@Url.RouteUrl("ProductsByTag", new { productTagId = Model[i].Id, SeName = Model[i].Name })" class="producttag">
                        @Model[i].Name</a> (@(Model[i].ProductCount))</div>
                if (i != Model.Count - 1)
                {
                <div class="producttags-wrapper">
                    ,
                </div>
                }
            }
        </div>
    </div>

}