@model IList<ProductOverviewModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="related-products-grid">
        <div class="title">
            <strong>@T("Products.RelatedProducts")</strong>
        </div>
        <div class="product-list">
            <ul data-role="listview" data-inset="true" data-filter="false" data-theme="c">
                @foreach (var product in Model)
                {
                    <li>
                        @Html.Partial("_ProductBox", product)
                    </li>
                }
            </ul>
        </div>
    </div>
}