@{
    var currentSearchTerm = this.Request.Params["Q"];
}
<div class="searchbox">
    @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get))
    {
@*<div data-role="fieldcontain" class="ui-hide-label">*@
        <label for="small-searchterms" class="ui-hidden-accessible">@T("Search"):</label>
        <input type="search" name="q" id="small-searchterms" value="@(currentSearchTerm)" />
@*</div>*@
    }
</div>
