@model IList<VendorModel>
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Vendors").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page vendor-list-page">
    <div class="page-title">
        <h1>@T("Vendors.List")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
        <ul class="vendor-list">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.RouteUrl("Vendor", new { SeName = item.SeName })" class="vendor">
                        @item.Name
                    </a>
                </li>
            }
        </ul>
        }
    </div>
</div>
