@model TabUIModel

<div class="productTabs-header">
    <ul>
        @foreach (var tabInfo in Model.Tabs)
        {
            <li>
                <a href="#quickTab-@tabInfo.TabKey">@tabInfo.Title</a>
            </li>
        }
        @* Uncomment the code below if you want to have a Tab that gets its information from a Topic. This tab will be shown for all products in your store*@
        @*<li><a href="#quickTab-ShippingInfo">@T("ShippingReturns")</a> </li>*@
    </ul>
</div>
<div class="productTabs-body">
    @foreach (var tabInfo in Model.Tabs)
    {
        <div id="quickTab-@tabInfo.TabKey">
            @Html.Raw(tabInfo.Content)
        </div>
    }
    @* Uncomment the code below if you want to have a Tab that gets its information from a Topic. This tab will be shown for all products in your store *@
        @*<div id="quickTab-ShippingInfo">
        @await Component.InvokeAsync("TopicBlock", new { systemName = "ShippingInfo" })
        </div>*@
</div>