@model int

<div class="select2-blue">
    <select asp-for="@Model" asp-items="@((IEnumerable<SelectListItem>)ViewData["SelectList"])" class="form-control select2" style="width: 100%;" data-dropdown-css-class="select2-blue"></select>
</div>

<script>
    $(function() {
        $("#@Html.IdForModel()").select2({
            minimumResultsForSearch: @JavaScriptEncoder.Default.Encode(ViewData["MinimumItemsForSearch"]?.ToString()) || Infinity
        });
    });
</script>