@{
    Layout = "";
}
@model Nop.Plugin.Payments.AliPay.Models.PaymentInfoModel
@using Nop.Web.Framework;

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("Plugins.Payments.AliPay.RedirectionTip")</b>
        </td>
    </tr>
</table>

