@model ProfileIndexModel
@{    
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Profile").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-profile-page");
}
<div class="page profile-page">
    <div class="page-title">
        <h1>@Model.ProfileTitle</h1>
    </div>
    <div class="page-body">
        <div>
            @await Component.InvokeAsync(typeof(ProfileInfoViewComponent), new { customerProfileId = Model.CustomerProfileId })
        </div>
    </div>
</div>
