@model ProfileIndexModel
@using Nop.Web.Models.Profile;
@{    
    Layout = "~/Views/Shared/_Root.cshtml";

    Html.AddTitleParts(T("PageTitle.Profile").Text);
}
<div class="page profile-page">
    <div class="page-title">
        <h1>@Model.ProfileTitle</h1>
    </div>
    <div class="page-body">
        @Html.Action("info", new { customerProfileId = Model.CustomerProfileId })
    </div>
</div>
