@model CategoryModel

@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden"/>

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @await Component.InvokeAsync("SettingMode", new { modeName = "category-advanced-mode" })
                </div>
            </div>
        </div>
        <nop-tabs id="category-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Admin.Catalog.Categories.Info")" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
            <nop-tab asp-name="tab-seo" asp-title="@T("Admin.Common.SEO")" class="advanced-setting">@await Html.PartialAsync("_CreateOrUpdate.SEO", Model)</nop-tab>
            <nop-tab asp-name="tab-products" asp-title="@T("Admin.Catalog.Categories.Products")">@await Html.PartialAsync("_CreateOrUpdate.Products", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "category-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}