@model CategoryModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @await Component.InvokeAsync("SettingMode", new { modeName = "category-advanced-mode" })
                </div>
            </div>
        </div>

        @await Html.PartialAsync("_CreateOrUpdate.Info")
        @await Html.PartialAsync("_CreateOrUpdate.Display")
        @await Html.PartialAsync("_CreateOrUpdate.Mappings")
        @await Html.PartialAsync("_CreateOrUpdate.Seo")
        @await Html.PartialAsync("_CreateOrUpdate.Products")

        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CategoryDetailsBlock, additionalData = Model })
    </div>
</div>
