@model MeasureSearchModel

<div class="panel panel-default">
    <div class="panel-body">

        @await Html.PartialAsync("Table", new DataTablesModel
        {
            //TODO: need to configure "Add" button
            Name = "measuredimension-grid",
            UrlRead = new DataUrl("Dimensions", "Measure", null),
            UrlUpdate = new DataUrl("DimensionUpdate", "Measure", null),
            UrlDelete = new DataUrl("DimensionDelete", "Measure", null),
            SearchButtonId = "search-resources",
            Length = Model.PageSize,
            LengthMenu = Model.AvailablePageSizes,                    
            ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(MeasureDimensionModel.Name))
                {
                    Title = T("Admin.Configuration.Shipping.Measures.Dimensions.Fields.Name").Text,
                    Width = "300",
                    Editable = true,
                    EditType = EditType.String
                },
                new ColumnProperty(nameof(MeasureDimensionModel.SystemKeyword))
                {
                    Title = T("Admin.Configuration.Shipping.Measures.Dimensions.Fields.SystemKeyword").Text,
                    Width = "200",
                    Editable = true,
                    EditType = EditType.String
                },
                new ColumnProperty(nameof(MeasureDimensionModel.Ratio))
                {
                    Title = T("Admin.Configuration.Shipping.Measures.Dimensions.Fields.Ratio").Text,
                    Width = "200",
                    Editable = true,
                    EditType = EditType.Number
                },
                new ColumnProperty(nameof(MeasureDimensionModel.DisplayOrder))
                {
                    Title = T("Admin.Configuration.Shipping.Measures.Dimensions.Fields.DisplayOrder").Text,
                    Width = "100",
                    Editable = true,
                    EditType = EditType.Number
                },
                new ColumnProperty(nameof(MeasureDimensionModel.IsPrimaryDimension))
                {
                    Title = T("Admin.Configuration.Shipping.Measures.Dimensions.Fields.IsPrimaryDimension").Text,
                    Width = "100",
                    ClassName =  StyleColumn.CenterAll,
                    Render = new RenderBoolean()
                },
                new ColumnProperty(nameof(MeasureDimensionModel.Id))
                {
                    Title = T("Admin.Configuration.Shipping.Measures.Dimensions.Fields.MarkAsPrimaryDimension").Text,
                    Width = "150",
                    ClassName =  StyleColumn.CenterAll,
                    Render = new RenderButtonCustom(StyleButton.Olive, "markAsPrimaryDimension", T("Admin.Configuration.Shipping.Measures.Dimensions.Fields.MarkAsPrimaryDimension").Text)
                },
                new ColumnProperty(nameof(MeasureDimensionModel.Id))
                {
                    Title = T("Admin.Common.Edit").Text,
                    Width = "200",
                    ClassName =  StyleColumn.ButtonStyle,
                    Render = new RenderButtonsInlineEdit()
                },
                new ColumnProperty(nameof(MeasureDimensionModel.Id))
                {
                    Title = T("Admin.Common.Delete").Text,
                    Width = "100",
                    ClassName =  StyleColumn.ButtonStyle,
                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
                }
            }
        })
       
        <button type="submit" class="btn btn-default" id="btnMarkAsPrimaryDimension" style="display:none" />

        <script>
            var selectedId;

            function markAsPrimaryDimension(id) {
                selectedId = id;
                $("#btnMarkAsPrimaryDimension").click();
            };

            $(document).ready(function () {
                $("#btnMarkAsPrimaryDimension-action-confirmation-submit-button").bind("click", function () {
                    var postData = {
                        id: selectedId
                    };
                    addAntiForgeryToken(postData);
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("MarkAsPrimaryDimension", "Measure"))",
                        data: postData,
                        success: function (data) {
                            $('#measuredimension-grid').DataTable().ajax.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $("#markAsPrimaryDimensionAlert").click();
                        }
                    });
                    $('#btnMarkAsPrimaryDimension-action-confirmation').modal('toggle');
                });
            });
        </script>
    </div>
</div>
<nop-alert asp-alert-id="markAsPrimaryDimensionAlert" asp-alert-message="@T("Admin.Configuration.Shipping.Measures.Dimensions.MarkAsPrimaryDimension.Alert.FailedToUpdate")" />