@{
    Layout = "_ConfigurePlugin";
}
@model Nop.Plugin.Test.ProductProvider.Models.ConfigurationModel;

<form asp-controller="ProductProvider" asp-action="Save" method="post">
    <div class="form-group">
        <label for="baseurl">Base URL</label>
        <input value="@Model.BaseUrl" type="text" name="BaseUrl" class="form-control" id="baseurl" placeholder="Insert endpoint URL">
    </div>
    <div class="form-group">
        <label for="ids">Get product list endpoint</label>
        <input value="@Model.ProductListEndpoint" type="text" name="ProductListEndpoint" class="form-control" id="ids" placeholder="Insert product list endpoint">
    </div>
    <div class="form-group">
        <label for="getById">Get product details endpoint</label>
        <input value="@Model.ProductDetailsEndpoint" type="text" name="ProductDetailsEndpoint" class="form-control" id="getById" placeholder="Insert product details endpoint">
    </div>
    <div class="form-group">
        <label for="apikey">Api key</label>
        <input value="@Model.ApiKey" type="text" name="ApiKey" class="form-control" id="apikey" placeholder="Insert the api key">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>