@model Telerik.Web.Mvc.GridModel<MeasureWeightModel>
@using Telerik.Web.Mvc.UI;
@using System.Linq;
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
        @T("Admin.Configuration.Measures.Weights")
    </div>
</div>

<table class="adminContent">
    <tr>
        <td>
            <b>NOTE: if you change your primary weight, then do not forget to update the appropriate
                ratios of the units</b>
        </td>
    </tr>
    <tr>
        <td>
            @(Html.Telerik().Grid(Model.Data)
                    .Name("measureweight-grid")
                    .DataKeys(x => {
                        x.Add(y => y.Id).RouteKey("Id");
                    })
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Name).Width(200);
                        columns.Bound(x => x.SystemKeyword).Width(200);
                        columns.Bound(x => x.Ratio).Width(100);
                        columns.Bound(x => x.DisplayOrder).Width(100);
                        columns.Bound(x => x.IsPrimaryWeight).Width(100)
                            .Template(x => x.IsPrimaryWeight.ToString().ToLower()).ReadOnly();
                        columns.Command(commands => commands.Select()).Title("Mark as primary weight").Width(100);
                        columns.Command(commands =>
                        {
                            commands.Edit();
                            commands.Delete();                            
                        }).Width(180);

                    })
                    .ToolBar(x => x.Insert())
                    .Editable(x =>{
                        x.Mode(GridEditMode.InLine);
                    })
                    .DataBinding(dataBinding =>
                    {
                        dataBinding.Ajax().Select("Weights", "Measure")
                            .Update("WeightUpdate", "Measure")
                            .Delete("WeightDelete", "Measure")
                            .Insert("WeightAdd", "Measure");
                    })
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>
