@model LanguageSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Languages").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Languages");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.Languages")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.LanguageListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "languages-grid",
                        UrlRead = new DataUrl("List", "Language", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(LanguageModel.Name))
                            {
                                Title = T("Admin.Configuration.Languages.Fields.Name").Text
                            },
                            new ColumnProperty(nameof(LanguageModel.FlagImageFileName))
                            {
                                Title = T("Admin.Configuration.Languages.Fields.FlagImage").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderPicture(Url.Content("~/images/flags/"))
                            },
                            new ColumnProperty(nameof(LanguageModel.LanguageCulture))
                            {
                                Title = T("Admin.Configuration.Languages.Fields.LanguageCulture").Text,
                                Width = "200"
                            },
                            new ColumnProperty(nameof(LanguageModel.DisplayOrder))
                            {
                                Title = T("Admin.Configuration.Languages.Fields.DisplayOrder").Text,
                                Width = "150",
                                ClassName =  NopColumnClassDefaults.CenterAll
                            },
                            new ColumnProperty(nameof(LanguageModel.Published))
                            {
                                Title = T("Admin.Configuration.Languages.Fields.Published").Text,
                                Width = "150",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(LanguageModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>