@model Nop.Plugin.Widgets.HelloWorld.Models.PublicInfoModel
@{
    Layout = "";
}
@using System
@using Nop.Web.Framework.UI

<div class="con" style="font-weight:bold;color:red;">
    <ul>
        <li>HelloWorld</li>
        <li>HelloWorld</li>
        <li>HelloWorld</li>
        <li>HelloWorld</li>
        <li>HelloWorld</li>
        <li>HelloWorld</li>
        <li>HelloWorld</li>
        <li>HelloWorld</li>
    </ul>
</div>