@model ChangeLinkModel

<button class="button-1" id="amazon-pay-change-button-@Model.ChangeAction">@T("Plugins.Payments.AmazonPay.Confirm.ChangeButton")</button>

<script asp-location="Footer">
    $(function () {
        amazon.Pay.bindChangeAction('#amazon-pay-change-button-@Model.ChangeAction', {
            amazonCheckoutSessionId: '@Model.CheckoutSessionId',
            changeAction: '@Model.ChangeAction'
        });
    });
</script>