body {
    min-height: 100vh;
    background: #ecf0f5 !important;
    color: #868686;
    font-size: 15px;
}

hr {
    margin: 25px 0 20px;
    border: 0;
    border-top: 1px solid #e7e7e7;
    opacity: 1;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.btn-install {
    padding: 6px 35px;
    font-size: 22px;
    background-color: #367fa9;
    color: #ffffff;
}

.btn-install:hover {
    background-color: #2b7199;
    color: #ffffff;
}

.btn-default {
    border-radius: 0;
    padding: 7px 25px 6px;
    background: #ffffff;
    font-size: 16px;
}

.btn-default:hover {
    background-color: #f5f5f5;
    border-color: #dfdede;
}

.margin-t-10 {
    margin-top: 10px;
}

.margin-t-30 {
    margin-top: 30px;
}

.logo-wrapper {
    padding: 25px;
    background-color: #3c8dbc;
}

.logo {
    height: 50px;
    background: url(images/logo.png) no-repeat 50% 50%;
}

.language-selector {
    margin: 10px 0;
}

.content {
    padding: 20px;
    background-color: #ffffff;
}

.form-horizontal {
    padding: 0 1rem;
}

.credentials {
    padding: 22px 10px 7px;
    margin: 20px 0 15px;
    background: #eeeeee;
}

.content-footer {
    padding: 20px;
}

.validation-summary-errors {
    color: red;
}

.validation-summary-errors ul {
    padding-inline-start: 0;
    list-style: none;
}

.throbber-header {
    font-size: 145%;
}

.throbber {
    display: none;
}

.throbber .curtain {
    position: fixed;
    inset: 0;
    background-color: #5e7b8c;
    opacity: 0.9;
}

.throbber .curtain-content {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.throbber .curtain-content div {
    padding: 1.5rem;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 575.98px) {
    .content {
        padding: 1rem;
    }

    .form-horizontal {
        padding: 0;
    }
}