@using Nop.Plugin.Misc.OmnibusDirective
@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName(OmnibusDefaults.SystemName);
}

<h1>EU Omnibus Directive (official plugin)</h1>

<p>The EU Omnibus Directive plugin by the nopCommerce team ensures your online store complies with the EU Omnibus Directive effortlessly.</p>

<p><i>* The EU Omnibus Directive (Directive 2019/2161) aims to strengthen consumer protection in the European Union. The directive imposes significant obligations on online retailers, requiring greater transparency in terms of how discounts are calculated.</i></p>

<p>Main Features of the EU Omnibus Directive Plugin:</p>

<ul>
    <li><b>Automatic price tracking</b>: Monitors price changes and displays the lowest price from the past 30 days alongside any discount.</li>
    <li><b>Automatic price history refresh</b>: Keeps your store’s price records up-to-date by refreshing data every 24 hours or immediately after any price change.</li>
    <li><b>Configurable timeframe</b>: Lets you set the timeframe for price tracking (default is 30 days), based on your store’s discount schedule.</li>
    <li><b>Detailed product pricing history</b> Offers a detailed history of product prices for easy reporting and audits.</li>
    <li><b>Customizable display options</b>: Choose when to show the lowest price — only when it’s lower than the current price, always, or hide it at first.</li>
</ul>
<p></p>

<p>Easy to set up and fully integrated, this plugin keeps you compliant and builds customer confidence.</p>

<a href="https://www.nopcommerce.com/omnibus-directive?utm_source=admin-panel&utm_medium=menu&utm_campaign=omnibus-directive&utm_content=configuration" target="_blank" class="btn btn-primary">Get the plugin</a>
