@model Telerik.Web.Mvc.GridModel<NewsLetterSubscriptionModel>
@using Telerik.Web.Mvc.UI

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-promotions.png")" />
        @T("Admin.Promotions.newsLetterSubscriptions")
    </div>
        <div class="options">
            @*TODO export/import support*@
        </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            @(Html.Telerik().Grid<NewsLetterSubscriptionModel>()
                    .Name("newsLetterSubscriptions-grid")
                    .BindTo(Model.Data)
                    .Columns(columns =>
                    {
                        columns.Bound(x => x.Email);
                        columns.Bound(x => x.Active);
                        columns.Bound(x => x.CreatedOn);
                    })
                    .DataBinding(dataBinding => dataBinding.Ajax().Select("List", "NewsLetterSubscription"))
                    .EnableCustomBinding(true))
        </td>
    </tr>
</table>