@model IList<ProductOverviewModel>

@if (Model.Count > 0)
{
    <div class="product-grid cross-sells col-md-12">
        @if (Model.Count <= 4)
        {
            <div class="title panel-heading">
                <h2>@T("ShoppingCart.CrossSells")</h2>
            </div>
        }
        else
        {
            <div class="title panel-heading responsive-title">
                <h2>@T("ShoppingCart.CrossSells")</h2>
            </div>
        }
        <div class="row">
            @if (Model.Count <= 4)
            {
                @foreach (var product in Model)
                {
                    <div class="item-box product-grid col-xs-12 col-sm-3 col-md-3 product-align clearfix">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    </div>
                }
            }
            else
            {
                <div id="crosssell-products-slider" class="crosssell-products-slider owl-carousel owl-theme">
                    @foreach (var product in Model)
                    {
                        <div class="item-box product-grid col-xs-12 col-sm-12 col-md-12 product-align clearfix">
                            <div class="thumbnail">@await Html.PartialAsync("_ProductBox", product)</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
}