@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Payments.PagSeguro/Content/PagSeguro.css");        
}

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p><b>@T("NopBrasil.Plugins.Payments.PagSeguro.Fields.Redirection")</b></p>
        </td>        
        <td>
            <img class ="imagemPagamento" src="../Plugins/Payments.PagSeguro/Content/Images/logoPagamento.png">
        </td>
    </tr>
</table>
    