@model string

@if (Model.Equals(PublicWidgetZones.HeaderLinksBefore))
{
    <li>
        <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
            <img style="padding-top:10px;" 
                src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/logo-center/15_nowaccepting_blue_badge.jpg" 
                alt="Now accepting PayPal">
        </a>
    </li>
}

@if (Model.Equals(PublicWidgetZones.Footer))
{
    <div class="footer-lower">
        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges">
    </div>
    
}