@model EditForumTopicModel
@{    
    Layout = "_ColumnsOne";

    NopHtml.AddTitleParts(T("Forum.PageTitle.TopicNew").Text);
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsTopicCreateBefore, additionalData = Model })
<form asp-route="TopicCreate" method="post">
    @await Html.PartialAsync("_CreateUpdateTopic", Model)
</form>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BoardsTopicCreateAfter, additionalData = Model })
