label.control-label{font-weight:400}
.text-muted,.help-block{color:#999}
.page-header{border:0}
html > body{background-color:#ecf0f5;color:#666;font-family:'Segoe UI',Tahoma,Arial}
.container.container-narrow{max-width:800px}
.container-installer .top-bar,.container-installer .bottom-bar{padding:5px 0}
.container-installer .top-bar .form-control{background:none;height:20px;padding:0}
.container-installer .panel{margin-bottom:0}
.container-installer .panel .panel-heading{background-color:#3c8dbc;padding:15px 0}
.logo{max-height:40px}
.container-installer .bottom-bar{margin-bottom:20px}
.container-installer .jumbotron{padding:15px!important;margin-bottom:15px}
.throbber{display:none}
.throbber .curtain{position:fixed;left:0;top:0;width:100%;height:100%;background-color:#000;opacity:.5;filter:alpha(opacity=60)}
.throbber .curtain-content{position:fixed;left:0;top:0;width:100%;height:100%;color:#FFF;text-shadow:1px 1px 1px #333;text-align:center;padding-top:200px}
@media (min-width:768px) {
.container-installer .panel .panel-body,.container-installer .panel .panel-footer{padding-right:100px;padding-left:100px}
}