@{
    Layout = "Nop.Plugin.Misc.FacebookShop.Views.MiscFacebookShop.Layout.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Action("HomePageProducts", "MiscFacebookShop")
    </div>
</div>
