/* Black Friday */
.home-page-body .master-wrapper-page {
    background-image: url(https://www.abcwarehouse.com/images/SeamlessTexture.jpg);
}
.home-page-body .category-title {
	color: #fff;
}
.home-page-body .nop-jcarousel .carousel-title {
	color: #fff;
}
.home-page-body .header-lower {
    background: #ec232a !important;
}

/* Black Friday End */