@model MaintenanceModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-12">
            <div>
                <p>
                    @T("Admin.System.Maintenance.ReIndexTables.Lable")
                </p>
            </div>
            <div>
                <button type="submit" name="re-index" class="btn btn-default">
                    <i class="fa fa-gears"></i>
                    @T("Admin.System.Maintenance.ReIndexTables.ReIndexNow")
                </button>
            </div>
        </div>
    </div>
</div>