@model MaintenanceModel

<div class="panel-body">
    <p>
        @T("Admin.System.Maintenance.BackupDatabase.Description")
    </p>
    <div id="backup-list"></div>
</div>
<div class="panel-footer">
    <button type="submit" id="backup-database" name="backup-database" class="btn btn-primary">
        @T("Admin.System.Maintenance.BackupDatabase.BackupNow")
    </button>
</div>