@model MaintenanceModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-6">
            <nop-label asp-for="DeleteExportedFiles.StartDate" />
        </div>
        <div class="col-md-6">
            <nop-editor asp-for="DeleteExportedFiles.StartDate" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <nop-label asp-for="DeleteExportedFiles.EndDate" />
        </div>
        <div class="col-md-6">
            <nop-editor asp-for="DeleteExportedFiles.EndDate" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-6">
            <button type="submit" name="delete-exported-files" class="btn btn-default">
                <i class="fa fa-trash"></i>
                @T("Admin.Common.Delete")
            </button>
        </div>
    </div>
    @if (Model.DeleteExportedFiles.NumberOfDeletedFiles.HasValue)
    {
        <div class="form-group">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible no-margin">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @string.Format(T("Admin.System.Maintenance.DeleteExportedFiles.TotalDeleted").Text, Model.DeleteExportedFiles.NumberOfDeletedFiles.Value)
                </div>
            </div>
        </div>
    }
</div>