<button class="quick-view-button" type="button" title="@T("SevenSpikes.QuickView.Admin.Settings.QuickViewButtonTitle")">
    <span>@T("SevenSpikes.QuickView.Admin.Settings.QuickViewButtonText")</span>
</button>