@model MenuItemModel

<div class="footer-menu__item @Model.CssClass" role="menuitem">
    @if (!string.IsNullOrEmpty(Model.Url))
    {
        <a href="@Model.Url" class="footer-menu__link">@Model.Title</a>
    }
    else
    {
        @Model.Title
    }
</div>
