@model ProductRibbonsSettingsModel

@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    NopHtml.SetActiveMenuItemSystemName("SevenSpikes.ProductRibbons.Admin.Submenus.Settings");
}

<form method="post">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("SevenSpikes.ProductRibbons.Admin.Settings.Common")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn bg-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>        

    <section class="content">
        <div class="form-horizontal">   
            @await Html.TrialMessageAsync(Model.IsTrialVersion, Plugin.Name, Plugin.UrlInStore)

            @await Component.InvokeAsync("StoreScopeConfiguration")

            @await Component.InvokeAsync("SettingMode")
            
            @{ await Html.RenderPartialAsync("_Settings.General", Model); }         
        </div>
    </section>
</form>