@model QuickViewSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="EnableQuickViewPopupOverlay_OverrideForStore" asp-input="EnableQuickViewPopupOverlay" asp-store-scope="Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="EnableQuickViewPopupOverlay" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableQuickViewPopupOverlay" />
            <span asp-validation-for="EnableQuickViewPopupOverlay"></span>
        </div>
    </div>
</div>