@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="master-wrapper-center-1">
    <div class="master-wrapper-cph-1">
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.BeforeMainColumn })
        @RenderBody()
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = Nop.Core.Domain.Cms.WidgetZone.AfterMainColumn })
    </div>
</div>
