@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

@if (IsSectionDefined("ProductBreadcrumb"))
{
    @section Breadcrumb
    {
        @RenderSection("ProductBreadcrumb")
    } 
}

<div class="center-1">
    @Html.Widget("main_column_before")
    @RenderBody()
    @Html.Widget("main_column_after")
</div>
