@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="master-wrapper-center-1">
    <div class="master-wrapper-cph-1">
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "before_main_column" })
        @RenderBody()
        @Html.Action("WidgetsByZone", "Widget", new { widgetZone = "after_main_column" })
    </div>
</div>
