@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
@{
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }
}
<div class="master-wrapper-side-2">
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {
        @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId })
    }
</div>
<div class="master-wrapper-center-2">
    <div class="master-wrapper-cph-2">
        @RenderBody()
    </div>
</div>
