@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="master-wrapper-leftside-3">
    @if (IsSectionDefined("left"))
    {
        @RenderSection("left")
    }
    else
    {
        <div>
            Default content</div>
    }
</div>
<div class="master-wrapper-center-3">
    <div class="master-wrapper-cph-3">
        @RenderBody()
    </div>
</div>
<div class="master-wrapper-rightside-3">
    @if (IsSectionDefined("right"))
    {
        @RenderSection("right")
    }
    else
    {
        <div>
            Default content</div>
    }
</div>