<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" @Html.Partial("LanguageAttributes")>
<head>
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
</head>
<body>
    UNDONE: a root layout for mobile device.
            @RenderBody()
</body>
</html>
