@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        We're sorry, an internal error occurred that prevents the request to complete.</h2>
    <p>
        Our supporting staff has been notified with this error and will address this issue
        shortly. We profusely apologize for the <strong>inconvenience</strong> and for any damage
        this may cause. You might want to try the same action at later time.
    </p>
</body>
</html>