@{
    //page title
    ViewBag.Title = T("XcellenceIT.Plugin.NopAcceleratePlus.Core.Title.GeneralSetting").Text;
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("XcellenceIT.Plugin.NopAcceleratePlus.Core.Configure");
}
@inject Nop.Core.IWebHelper webHelper
<link href="~/Plugins/NopAcceleratePlus.Core/Content/css/admin-search-configure.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Plugins/NopAcceleratePlus.Core/Content/css/wizard-style.min.css">
<nop-antiforgery-token />
<nop-action-confirmation asp-button-id="No-WizardSetup" />
<div class="top-content">
    <div class="content">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 form-box getting-started">
                <form role="form" action="" method="post" class="f1 row">
                    <div class="col-md-4">
                        <img class="getting-started-img" src="~/Plugins/NopAcceleratePlus.Core/Content/img/getting-started.png" />
                    </div>
                    <div class="col-md-8">
                        <div>
                            <h4>Getting Started with nopAccelerate Plus</h4>
                            <p>Quick Start Wizard is the fastest way to integrate nopAccelerate Plus plugins into your store, because it:</p>
                            <p>
                                <ul>
                                    <li>Does the necessary work required in easy and step by step wizard</li>
                                    <li>Gives you basic idea about the key settings and how it impacts the features</li>
                                    <li>Gives you glimpse of key features the plugin offers</li>
                                </ul>
                            </p>
                            <p><a id="No-WizardSetup" href="#">No Thanks, I will setup it manually or import settings</a></p>
                            <button type="submit" id="wizardsetup" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#No-WizardSetup-action-confirmation-submit-button").click(function () {
        var shortMessage = "@T("Plugins.NopAcceleratePlus.Solr.GettingStarted.Admin.Button.No")";
        var longMessage = "";
        var requestUrl = '@Url.Action("SetWizardSetupStatus", "NopAcceleratePlusCore")';
        $.ajax({
            type: 'GET',
            url: requestUrl,
            data: { WizardSetup: true, shortMessage: shortMessage, longMessage: longMessage },
            success: function (data) {
                location.href = "Configure";
            },
            error: function (error) {
                console.log(error);
            }
        });
        $('#No-WizardSetup-action-confirmation').modal('toggle');
        return false;

    });
</script>