@using Nop.Core
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@model LogoModel

@inject IThemeContext themeContext
@inject IStoreContext storeContext
@inject ILocalizationService localizationService

@{
    var logoPath = $"~/Themes/{themeContext.WorkingThemeName}/Content/img/optik-one.svg";
    var logoPathMobile = $"~/Themes/{themeContext.WorkingThemeName}/Content/img/optik-one-mobile.svg";
}

<a href="@Url.RouteUrl("Homepage")" class="logo">
    <img class="header-top__logo desktop" src="@Url.Content(logoPath)" alt="shop optik.one">
    <img class="header-top__logo mobile" src="@Url.Content(logoPathMobile)" alt="shop optik.one">
    <div class="claim">reserve & collect shop</div>
    <section class="eyes lazyload">
        <div class="eye"></div>
        <div class="eye"></div>
    </section>
</a>
