@model (string delivery, string warranty, string subtotal)

@if (Model.delivery != "$0.00")
{
    <span id="cart-slideout__subtotal-value">Delivery: @Model.delivery<br /></span>
}
@if (Model.warranty != "$0.00")
{
    <span id="cart-slideout__subtotal-value">Warranty: @Model.warranty<br /></span>
}

<span id="cart-slideout__subtotal-value">@Model.subtotal</span>