<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />
    <siteMapNode SystemName="Catalog" nopResource="Admin.Catalog" PermissionNames="Catalog.ProductsView,Catalog.CategoriesView,Catalog.ManufacturerView,Catalog.ProductReviewsView,Catalog.ProductTagsView,Catalog.ProductAttributesView" IconClass="fas fa-book" >
      <siteMapNode SystemName="Products" nopResource="Admin.Catalog.Products" PermissionNames="Catalog.ProductsView" controller="Product" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Categories" nopResource="Admin.Catalog.Categories" PermissionNames="Catalog.CategoriesView" controller="Category" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manufacturers" nopResource="Admin.Catalog.Manufacturers" PermissionNames="Catalog.ManufacturerView" controller="Manufacturer" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product reviews" nopResource="Admin.Catalog.ProductReviews" PermissionNames="Catalog.ProductReviewsView" controller="ProductReview" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product tags" nopResource="Admin.Catalog.ProductTags" PermissionNames="Catalog.ProductTagsView" controller="Product" action="ProductTags" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Attributes" nopResource="Admin.Catalog.Attributes" PermissionNames="Catalog.ProductAttributesView" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Product attributes" nopResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Specification attributes" nopResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Checkout attributes" nopResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="far fa-circle"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Sales" nopResource="Admin.Sales" PermissionNames="Orders.OrdersView,Orders.RecurringPaymentsView,Orders.ReturnRequestsView,Orders.GiftCardsView,Orders.CurrentCartsManage" IconClass="fas fa-shopping-cart">
      <siteMapNode SystemName="Orders" nopResource="Admin.Orders" PermissionNames="Orders.OrdersView" controller="Order" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Shipments" nopResource="Admin.Orders.Shipments.List" PermissionNames="Orders.OrdersView" controller="Order" action="ShipmentList"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Return requests" nopResource="Admin.ReturnRequests" PermissionNames="Orders.ReturnRequestsView" controller="ReturnRequest" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Recurring payments" nopResource="Admin.RecurringPayments" PermissionNames="Orders.RecurringPaymentsView" controller="RecurringPayment" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Gift cards" nopResource="Admin.GiftCards" PermissionNames="Orders.GiftCardsView" controller="GiftCard" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Current shopping carts and wishlists" nopResource="Admin.CurrentCarts.CartsAndWishlists" PermissionNames="Orders.CurrentCartsManage" controller="ShoppingCart" action="CurrentCarts"  IconClass="far fa-dot-circle"/>      
    </siteMapNode>
    <siteMapNode SystemName="Customers" nopResource="Admin.Customers" PermissionNames="Customers.CustomersView, Customers.VendorsView, Customers.ActivityLogView, Customers.CustomerRolesView" IconClass="far fa-user" >
      <siteMapNode SystemName="Customers list" nopResource="Admin.Customers.Customers" PermissionNames="Customers.CustomersView" controller="Customer" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="Customers.CustomerRolesView" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="Customers.CustomersView" controller="OnlineCustomer" action="List" IconClass="far fa-dot-circle" />      
      <siteMapNode SystemName="Vendors" nopResource="Admin.Vendors" PermissionNames="Customers.VendorsView" controller="Vendor" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Activity logs" nopResource="Admin.Customers.ActivityLog" PermissionNames="Customers.ActivityLogView" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Activity types" nopResource="Admin.Customers.ActivityLogType" PermissionNames="Customers.ActivityLogView" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="GDPR log" nopResource="Admin.Customers.GdprLog" PermissionNames="Customers.CustomersView" controller="Customer" action="GdprLog" IconClass="far fa-dot-circle" />
    </siteMapNode>
    <siteMapNode SystemName="Promotions" nopResource="Admin.Promotions" PermissionNames="Promotions.AffiliatesView, Promotions.SubscribersView, Promotions.CampaignsView, Promotions.DiscountsView" IconClass="fas fa-tags">
      <siteMapNode SystemName="Discounts" nopResource="Admin.Promotions.Discounts" PermissionNames="Promotions.DiscountsView" controller="Discount" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Affiliates" nopResource="Admin.Affiliates" PermissionNames="Promotions.AffiliatesView" controller="Affiliate" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Newsletter subscriptions" nopResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="Promotions.SubscribersView" controller="NewsLetterSubscription" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Campaigns" nopResource="Admin.Promotions.Campaigns" PermissionNames="Promotions.CampaignsView" controller="Campaign" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" nopResource="Admin.ContentManagement" PermissionNames="ContentManagement.PollsView, ContentManagement.NewsView, ContentManagement.NewsCommentsView, ContentManagement.BlogView, ContentManagement.BlogCommentsView, ContentManagement.TopicsView, ContentManagement.ForumsView, ContentManagement.MessageTemplatesView" IconClass="fas fa-cubes">
      <siteMapNode SystemName="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ContentManagement.TopicsView" controller="Topic" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ContentManagement.MessageTemplatesView" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News items" nopResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ContentManagement.NewsView" controller="News" action="NewsItems" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News comments" nopResource="Admin.ContentManagement.News.Comments" PermissionNames="ContentManagement.NewsCommentsView" controller="News" action="NewsComments" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Blog posts" nopResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ContentManagement.BlogView" controller="Blog" action="BlogPosts" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Blog comments" nopResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ContentManagement.BlogCommentsView" controller="Blog" action="BlogComments" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Polls" nopResource="Admin.ContentManagement.Polls" PermissionNames="ContentManagement.PollsView" controller="Poll" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manage forums" nopResource="Admin.ContentManagement.Forums" PermissionNames="ContentManagement.ForumsView" controller="Forum" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>    
    <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="Configuration.ManageStores,Configuration.ManageCountries,Configuration.ManageLanguages,Configuration.ManageSettings,System.ManageAppSettings,Configuration.ManagePaymentMethods,Configuration.ManageExternalAuthenticationMethods,Configuration.ManageMultifactorAuthenticationMethods,Configuration.ManageWidgets,Configuration.ManageTaxSettings,Configuration.ManageShippingSettings,Configuration.ManageCurrencies,Configuration.ManageACL,Configuration.ManageEmailAccounts,Configuration.ManagePlugins"
       IconClass="fas fa-cogs">
      <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="Configuration.ManageSettings" IconClass="far fa-dot-circle" >
        <siteMapNode SystemName="General settings" nopResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Customer and user settings" nopResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Order settings" nopResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Shipping settings" nopResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Tax settings" nopResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Catalog settings" nopResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Shopping cart settings" nopResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Reward points" nopResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="far fa-circle"/>
        <siteMapNode SystemName="GDPR settings" nopResource="Admin.Configuration.Settings.Gdpr" controller="Setting" action="Gdpr" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Vendor settings" nopResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Blog settings" nopResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="far fa-circle"/>
        <siteMapNode SystemName="News settings" nopResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Forums settings" nopResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Media settings" nopResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="far fa-circle"/>
        <siteMapNode SystemName="App settings" nopResource="Admin.Configuration.AppSettings" PermissionNames="System.ManageAppSettings" controller="Setting" action="AppSettings" IconClass="far fa-circle"/>
        <siteMapNode SystemName="All settings" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="far fa-circle"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="Configuration.ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="Configuration.ManageStores" controller="Store" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="Configuration.ManageCountries" controller="Country" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="Configuration.ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Currencies" nopResource="Admin.Configuration.Currencies" PermissionNames="Configuration.ManageCurrencies" controller="Currency" action="List" IconClass="far fa-dot-circle"/>      
      
      <siteMapNode SystemName="Payment methods" nopResource="Admin.Configuration.Payment.Methods" PermissionNames="Configuration.ManagePaymentMethods" controller="Payment" action="Methods" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Payment restrictions" nopResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="Configuration.ManagePaymentMethods" controller="Payment" action="MethodRestrictions" IconClass="far fa-dot-circle"/>

      <siteMapNode SystemName="Tax providers" nopResource="Admin.Configuration.Tax.Providers" PermissionNames="Configuration.ManageTaxSettings" controller="Tax" action="Providers" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Tax categories" nopResource="Admin.Configuration.Tax.Categories" PermissionNames="Configuration.ManageTaxSettings" controller="Tax" action="Categories" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Shipping" nopResource="Admin.Configuration.Shipping" PermissionNames="Configuration.ManageShippingSettings" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Shipping providers" nopResource="Admin.Configuration.Shipping.Providers"  controller="Shipping" action="Providers" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Warehouses" nopResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Pickup points" nopResource="Admin.Configuration.Shipping.PickupPoints"  controller="Shipping" action="PickupPointProviders" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Dates and ranges" nopResource="Admin.Configuration.Shipping.DatesAndRanges" controller="Shipping" action="DatesAndRanges" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Measures" nopResource="Admin.Configuration.Shipping.Measures" controller="Measure" action="List"  IconClass="far fa-circle" />
      </siteMapNode>
      <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="Configuration.ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Widgets" nopResource="Admin.ContentManagement.Widgets" PermissionNames="Configuration.ManageWidgets" controller="Widget" action="List"  IconClass="far fa-dot-circle"/>
      
      <siteMapNode SystemName="Authentication" nopResource="Admin.Configuration.Authentication" PermissionNames="Configuration.ManageExternalAuthenticationMethods,Configuration.ManageMultifactorAuthenticationMethods" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="External authentication methods" nopResource="Admin.Configuration.Authentication.ExternalMethods" PermissionNames="Configuration.ManageExternalAuthenticationMethods" controller="Authentication" action="ExternalMethods" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Multi-factor authentication methods" nopResource="Admin.Configuration.Authentication.MultiFactorMethods" PermissionNames="Configuration.ManageMultifactorAuthenticationMethods" controller="Authentication" action="MultiFactorMethods" IconClass="far fa-circle"/>
      </siteMapNode>
      
      <siteMapNode SystemName="Local plugins" nopResource="Admin.Configuration.Plugins.Local" PermissionNames="Configuration.ManagePlugins" controller="Plugin" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="All plugins and themes" nopResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="Configuration.ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="System.ManageSystemLog,System.ManageMessageQueue,System.ManageMaintenance,System.ManageScheduleTasks" IconClass="fas fa-cube">
      <siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="System.ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="System.ManageSystemLog" controller="Log" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Warnings" nopResource="Admin.System.Warnings" PermissionNames="System.ManageMaintenance" controller="Common" action="Warnings"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="System.ManageMaintenance" controller="Common" action="Maintenance"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="System.ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="System.ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="System.ManageMaintenance" controller="Common" action="SeNames"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Templates" nopResource="Admin.System.Templates" PermissionNames="System.ManageMaintenance" controller="Template" action="List" IconClass="far fa-dot-circle"/>     
    </siteMapNode>
    <siteMapNode SystemName="Reports" nopResource="Admin.Reports" PermissionNames="Catalog.ProductsView,Orders.OrdersView,Customers.CustomersView,Reports.SalesSummary,Reports.CountrySales,Reports.LowStock,Reports.Bestsellers,Reports.ProductsNeverPurchased,Reports.RegisteredCustomers,Reports.CustomersByOrderTotal,Reports.CustomersByNumberOfOrders" IconClass="fas fa-chart-line">
      <siteMapNode SystemName="Sales summary" nopResource="Admin.Reports.SalesSummary" PermissionNames="Reports.SalesSummary" controller="Report" action="SalesSummary" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Low stock" nopResource="Admin.Reports.LowStock" PermissionNames="Catalog.ProductsView,Reports.LowStock" controller="Report" action="LowStock" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Bestsellers" nopResource="Admin.Reports.Sales.Bestsellers" PermissionNames="Orders.OrdersView,Reports.Bestsellers" controller="Report" action="Bestsellers" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Products never purchased" nopResource="Admin.Reports.Sales.NeverSold" PermissionNames="Orders.OrdersView,Reports.ProductsNeverPurchased" controller="Report" action="NeverSold" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Country sales" nopResource="Admin.Reports.Sales.Country" PermissionNames="Reports.CountrySales" controller="Report" action="CountrySales" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Customers" nopResource="Admin.Reports.Customers" PermissionNames="Customers.CustomersView,Reports.RegisteredCustomers,Reports.CustomersByOrderTotal,Reports.CustomersByNumberOfOrders" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Registered customers" nopResource="Admin.Reports.Customers.RegisteredCustomers" PermissionNames="Customers.CustomersView,Reports.RegisteredCustomers" controller="Report" action="RegisteredCustomers" IconClass="far fa-dot-circle" />
        <siteMapNode SystemName="Customers by order total" nopResource="Admin.Reports.Customers.BestBy.BestByOrderTotal" PermissionNames="Customers.CustomersView,Reports.CustomersByOrderTotal" controller="Report" action="BestCustomersByOrderTotal" IconClass="far fa-dot-circle" />
        <siteMapNode SystemName="Customers by number of orders" nopResource="Admin.Reports.Customers.BestBy.BestByNumberOfOrders" PermissionNames="Customers.CustomersView,Reports.CustomersByNumberOfOrders" controller="Report" action="BestCustomersByNumberOfOrders" IconClass="far fa-dot-circle" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Help" nopResource="Admin.Help" IconClass="fas fa-question-circle">
      <siteMapNode SystemName="Training" nopResource="Admin.Help.Training" url="https://www.nopcommerce.com/training?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=course&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Documentation" nopResource="Admin.Help.Documentation" url="https://docs.nopcommerce.com?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=documentation&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Community forums" nopResource="Admin.Help.Forums" url="https://www.nopcommerce.com/boards?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=forum&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" nopResource="Admin.Help.SupportServices" url="https://www.nopcommerce.com/nopcommerce-premium-support-services?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=premium_support&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Solution partners" nopResource="Admin.Help.SolutionPartners" url="https://www.nopcommerce.com/solution-partners?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=solution_partners&amp;utm_content=help" IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" nopResource="Admin.Plugins" IconClass="fas fa-bars" />
  </siteMapNode>
</siteMap>
