<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" nopResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fas fa-desktop" />
    <siteMapNode SystemName="Catalog" nopResource="Admin.Catalog" PermissionNames="ManageProducts,ManageCategories,ManageManufacturers,ManageProductReviews,ManageProductTags,ManageAttributes" IconClass="fas fa-book" >
      <siteMapNode SystemName="Products" nopResource="Admin.Catalog.Products" PermissionNames="ManageProducts" controller="Product" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Categories" nopResource="Admin.Catalog.Categories" PermissionNames="ManageCategories" controller="Category" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manufacturers" nopResource="Admin.Catalog.Manufacturers" PermissionNames="ManageManufacturers" controller="Manufacturer" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product reviews" nopResource="Admin.Catalog.ProductReviews" PermissionNames="ManageProductReviews" controller="ProductReview" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Product tags" nopResource="Admin.Catalog.ProductTags" PermissionNames="ManageProductTags" controller="Product" action="ProductTags" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Attributes" nopResource="Admin.Catalog.Attributes" PermissionNames="ManageAttributes" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Product attributes" nopResource="Admin.Catalog.Attributes.ProductAttributes" controller="ProductAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Specification attributes" nopResource="Admin.Catalog.Attributes.SpecificationAttributes" controller="SpecificationAttribute" action="List" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Checkout attributes" nopResource="Admin.Catalog.Attributes.CheckoutAttributes" controller="CheckoutAttribute" action="List" IconClass="far fa-circle"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Sales" nopResource="Admin.Sales" PermissionNames="ManageOrders,ManageRecurringPayments,ManageReturnRequests,ManageGiftCards,ManageCurrentCarts" IconClass="fas fa-shopping-cart">
      <siteMapNode SystemName="Orders" nopResource="Admin.Orders" PermissionNames="ManageOrders" controller="Order" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Shipments" nopResource="Admin.Orders.Shipments.List" PermissionNames="ManageOrders" controller="Order" action="ShipmentList"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Return requests" nopResource="Admin.ReturnRequests" PermissionNames="ManageReturnRequests" controller="ReturnRequest" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Recurring payments" nopResource="Admin.RecurringPayments" PermissionNames="ManageRecurringPayments" controller="RecurringPayment" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Gift cards" nopResource="Admin.GiftCards" PermissionNames="ManageGiftCards" controller="GiftCard" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Current shopping carts and wishlists" nopResource="Admin.CurrentCarts.CartsAndWishlists" PermissionNames="ManageCurrentCarts" controller="ShoppingCart" action="CurrentCarts"  IconClass="far fa-dot-circle"/>      
    </siteMapNode>
    <siteMapNode SystemName="Customers" nopResource="Admin.Customers" PermissionNames="ManageCustomers, ManageVendors, ManageActivityLog" IconClass="far fa-user" >
      <siteMapNode SystemName="Customers list" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Customer roles" nopResource="Admin.Customers.CustomerRoles" PermissionNames="ManageCustomers" controller="CustomerRole" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Online customers" nopResource="Admin.Customers.OnlineCustomers" PermissionNames="ManageCustomers" controller="OnlineCustomer" action="List" IconClass="far fa-dot-circle" />      
      <siteMapNode SystemName="Vendors" nopResource="Admin.Vendors" PermissionNames="ManageVendors" controller="Vendor" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Activity logs" nopResource="Admin.Customers.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityLogs" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Activity types" nopResource="Admin.Customers.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ActivityTypes" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="GDPR log" nopResource="Admin.Customers.GdprLog" PermissionNames="ManageCustomers" controller="Customer" action="GdprLog" IconClass="far fa-dot-circle" />
    </siteMapNode>
    <siteMapNode SystemName="Promotions" nopResource="Admin.Promotions" PermissionNames="ManageAffiliates, ManageNewsletterSubscribers, ManageCampaigns, ManageDiscounts" IconClass="fas fa-tags">
      <siteMapNode SystemName="Discounts" nopResource="Admin.Promotions.Discounts" PermissionNames="ManageDiscounts" controller="Discount" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Affiliates" nopResource="Admin.Affiliates" PermissionNames="ManageAffiliates" controller="Affiliate" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Newsletter subscriptions" nopResource="Admin.Promotions.NewsletterSubscriptions" PermissionNames="ManageNewsletterSubscribers" controller="NewsLetterSubscription" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Campaigns" nopResource="Admin.Promotions.Campaigns" PermissionNames="ManageCampaigns" controller="Campaign" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="Content Management" nopResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fas fa-cubes">
      <siteMapNode SystemName="Topics" nopResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Message templates" nopResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News items" nopResource="Admin.ContentManagement.News.NewsItems" PermissionNames="ManageNews" controller="News" action="NewsItems" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="News comments" nopResource="Admin.ContentManagement.News.Comments" PermissionNames="ManageNews" controller="News" action="NewsComments" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Blog posts" nopResource="Admin.ContentManagement.Blog.BlogPosts" PermissionNames="ManageBlog" controller="Blog" action="BlogPosts" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Blog comments" nopResource="Admin.ContentManagement.Blog.Comments" PermissionNames="ManageBlog" controller="Blog" action="BlogComments" IconClass="far fa-dot-circle"/>      
      <siteMapNode SystemName="Polls" nopResource="Admin.ContentManagement.Polls" PermissionNames="ManagePolls" controller="Poll" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Manage forums" nopResource="Admin.ContentManagement.Forums" PermissionNames="ManageForums" controller="Forum" action="List"  IconClass="far fa-dot-circle"/>
    </siteMapNode>    
    <siteMapNode SystemName="Configuration" nopResource="Admin.Configuration" PermissionNames="ManageStores,ManageCountries,ManageLanguages,ManageSettings,ManageAppSettings,ManagePaymentMethods,ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods,ManageWidgets,ManageTaxSettings,ManageShippingSettings,ManageCurrencies,ManageACL,ManageEmailAccounts,ManagePlugins"
       IconClass="fas fa-cogs">
      <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="far fa-dot-circle" >
        <siteMapNode SystemName="General settings" nopResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Customer and user settings" nopResource="Admin.Configuration.Settings.CustomerUser" controller="Setting" action="CustomerUser" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Order settings" nopResource="Admin.Configuration.Settings.Order" controller="Setting" action="Order" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Shipping settings" nopResource="Admin.Configuration.Settings.Shipping" controller="Setting" action="Shipping" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Tax settings" nopResource="Admin.Configuration.Settings.Tax" controller="Setting" action="Tax" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Catalog settings" nopResource="Admin.Configuration.Settings.Catalog" controller="Setting" action="Catalog" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Shopping cart settings" nopResource="Admin.Configuration.Settings.ShoppingCart" controller="Setting" action="ShoppingCart" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Reward points" nopResource="Admin.Configuration.Settings.RewardPoints" controller="Setting" action="RewardPoints" IconClass="far fa-circle"/>
        <siteMapNode SystemName="GDPR settings" nopResource="Admin.Configuration.Settings.Gdpr" controller="Setting" action="Gdpr" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Vendor settings" nopResource="Admin.Configuration.Settings.Vendor" controller="Setting" action="Vendor" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Blog settings" nopResource="Admin.Configuration.Settings.Blog" controller="Setting" action="Blog" IconClass="far fa-circle"/>
        <siteMapNode SystemName="News settings" nopResource="Admin.Configuration.Settings.News" controller="Setting" action="News" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Forums settings" nopResource="Admin.Configuration.Settings.Forums" controller="Setting" action="Forum" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Media settings" nopResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="far fa-circle"/>
        <siteMapNode SystemName="App settings" nopResource="Admin.Configuration.AppSettings" PermissionNames="ManageAppSettings" controller="Setting" action="AppSettings" IconClass="far fa-circle"/>
        <siteMapNode SystemName="All settings" nopResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="far fa-circle"/>
      </siteMapNode>
      <siteMapNode SystemName="Email accounts" nopResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Stores" nopResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Countries" nopResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Currencies" nopResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="far fa-dot-circle"/>      
      
      <siteMapNode SystemName="Payment methods" nopResource="Admin.Configuration.Payment.Methods" PermissionNames="ManagePaymentMethods" controller="Payment" action="Methods" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Payment restrictions" nopResource="Admin.Configuration.Payment.MethodRestrictions" PermissionNames="ManagePaymentMethods" controller="Payment" action="MethodRestrictions" IconClass="far fa-dot-circle"/>

      <siteMapNode SystemName="Tax providers" nopResource="Admin.Configuration.Tax.Providers" PermissionNames="ManageTaxSettings" controller="Tax" action="Providers" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Tax categories" nopResource="Admin.Configuration.Tax.Categories" PermissionNames="ManageTaxSettings" controller="Tax" action="Categories" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Shipping" nopResource="Admin.Configuration.Shipping" PermissionNames="ManageShippingSettings" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Shipping providers" nopResource="Admin.Configuration.Shipping.Providers"  controller="Shipping" action="Providers" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Warehouses" nopResource="Admin.Configuration.Shipping.Warehouses" controller="Shipping" action="Warehouses" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Pickup points" nopResource="Admin.Configuration.Shipping.PickupPoints"  controller="Shipping" action="PickupPointProviders" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Dates and ranges" nopResource="Admin.Configuration.Shipping.DatesAndRanges" controller="Shipping" action="DatesAndRanges" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Measures" nopResource="Admin.Configuration.Shipping.Measures" controller="Measure" action="List"  IconClass="far fa-circle" />
      </siteMapNode>
      <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="far fa-dot-circle" />
      <siteMapNode SystemName="Widgets" nopResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="far fa-dot-circle"/>
      
      <siteMapNode SystemName="Authentication" nopResource="Admin.Configuration.Authentication" PermissionNames="ManageExternalAuthenticationMethods,ManageMultifactorAuthenticationMethods" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="External authentication methods" nopResource="Admin.Configuration.Authentication.ExternalMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="Authentication" action="ExternalMethods" IconClass="far fa-circle"/>
        <siteMapNode SystemName="Multi-factor authentication methods" nopResource="Admin.Configuration.Authentication.MultiFactorMethods" PermissionNames="ManageMultifactorAuthenticationMethods" controller="Authentication" action="MultiFactorMethods" IconClass="far fa-circle"/>
      </siteMapNode>
      
      <siteMapNode SystemName="Local plugins" nopResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="All plugins and themes" nopResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed"  IconClass="far fa-dot-circle"/>
    </siteMapNode>
    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fas fa-cube">
      <siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Warnings" nopResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Templates" nopResource="Admin.System.Templates" PermissionNames="ManageMaintenance" controller="Template" action="List" IconClass="far fa-dot-circle"/>     
    </siteMapNode>
    <siteMapNode SystemName="Reports" nopResource="Admin.Reports" PermissionNames="ManageProducts,ManageOrders,OrderCountryReport,ManageCustomers" IconClass="fas fa-chart-line">
      <siteMapNode SystemName="Sales summary" nopResource="Admin.Reports.SalesSummary" PermissionNames="SalesSummaryReport" controller="Report" action="SalesSummary" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Low stock" nopResource="Admin.Reports.LowStock" PermissionNames="ManageProducts" controller="Report" action="LowStock" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Bestsellers" nopResource="Admin.Reports.Sales.Bestsellers" PermissionNames="ManageOrders" controller="Report" action="Bestsellers" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Products never purchased" nopResource="Admin.Reports.Sales.NeverSold" PermissionNames="ManageOrders" controller="Report" action="NeverSold" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Country sales" nopResource="Admin.Reports.Sales.Country" PermissionNames="OrderCountryReport" controller="Report" action="CountrySales" IconClass="far fa-dot-circle"/>
      <siteMapNode SystemName="Customers" nopResource="Admin.Reports.Customers" PermissionNames="ManageCustomers" IconClass="far fa-dot-circle">
        <siteMapNode SystemName="Registered customers" nopResource="Admin.Reports.Customers.RegisteredCustomers" PermissionNames="ManageCustomers" controller="Report" action="RegisteredCustomers" IconClass="far fa-dot-circle" />
        <siteMapNode SystemName="Customers by order total" nopResource="Admin.Reports.Customers.BestBy.BestByOrderTotal" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByOrderTotal" IconClass="far fa-dot-circle" />
        <siteMapNode SystemName="Customers by number of orders" nopResource="Admin.Reports.Customers.BestBy.BestByNumberOfOrders" PermissionNames="ManageCustomers" controller="Report" action="BestCustomersByNumberOfOrders" IconClass="far fa-dot-circle" />
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Help" nopResource="Admin.Help" IconClass="fas fa-question-circle">
      <siteMapNode SystemName="Training" nopResource="Admin.Help.Training" url="https://www.nopcommerce.com/training?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=course&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Documentation" nopResource="Admin.Help.Documentation" url="https://docs.nopcommerce.com?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=documentation&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Community forums" nopResource="Admin.Help.Forums" url="https://www.nopcommerce.com/boards?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=forum&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Premium support services" nopResource="Admin.Help.SupportServices" url="https://www.nopcommerce.com/nopcommerce-premium-support-services?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=premium_support&amp;utm_content=help"  IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="Solution partners" nopResource="Admin.Help.SolutionPartners" url="https://www.nopcommerce.com/solution-partners?utm_source=admin-panel&amp;utm_medium=menu&amp;utm_campaign=solution_partners&amp;utm_content=help" IconClass="far fa-dot-circle" OpenUrlInNewTab="true"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" nopResource="Admin.Plugins" IconClass="fas fa-bars" />
  </siteMapNode>
</siteMap>
