@model BlogPostModel
@inject IEventPublisher eventPublisher
@{
    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");
}

<div asp-validation-summary="All"></div>
<input type="hidden" asp-for="Id" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="blog-post-edit">
            <nop-tab asp-name="tab-info" asp-default="true" asp-title="@T("Admin.ContentManagement.Blog.BlogPosts.Info")">
                @await Html.PartialAsync(Views.CreateOrUpdateInfo, Model)
            </nop-tab>
            <nop-tab asp-name="tab-seo" asp-title="@T("Admin.Common.SEO")">
                @await Html.PartialAsync("_CreateOrUpdate.SEO", Model)
            </nop-tab>
        </nop-tabs>
    </div>
</div>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "blog-post-edit");
    eventPublisher.Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}