@model ExternalAuthenticationMethodSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ExternalAuthenticationMethods").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("External authentication methods");
}

<nop-antiforgery-token/>
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.ExternalAuthenticationMethods")
    </h1>
    <div class="pull-right">
        &nbsp;
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ExternalAuthenticationListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "authenticationmethods-grid",
                        UrlRead = new DataUrl("Methods", "ExternalAuthentication", null),
                        UrlUpdate = new DataUrl("MethodUpdate", "ExternalAuthentication", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(ExternalAuthenticationMethodModel.FriendlyName))
                                {
                                    Title = T("Admin.Configuration.ExternalAuthenticationMethods.Fields.FriendlyName").Text,
                                    Width = "250"
                                },
                                new ColumnProperty(nameof(ExternalAuthenticationMethodModel.SystemName))
                                {
                                    Title = T("Admin.Configuration.ExternalAuthenticationMethods.Fields.SystemName").Text,
                                    Width = "250"
                                },
                                new ColumnProperty(nameof(ExternalAuthenticationMethodModel.DisplayOrder))
                                {
                                    Title = T("Admin.Configuration.ExternalAuthenticationMethods.Fields.DisplayOrder").Text,
                                    Width = "100",
                                    ClassName = StyleColumn.CenterAll,
                                    Editable = true,
                                    EditType = EditType.Number
                                },
                                new ColumnProperty(nameof(ExternalAuthenticationMethodModel.IsActive))
                                {
                                    Title = T("Admin.Configuration.ExternalAuthenticationMethods.Fields.IsActive").Text,
                                    Width = "100",
                                    ClassName = StyleColumn.CenterAll,
                                    Render = new RenderBoolean(),
                                    Editable = true,
                                    EditType = EditType.Checkbox
                                },
                                new ColumnProperty(nameof(ExternalAuthenticationMethodModel.SystemName))
                                {
                                    Title = T("Admin.Configuration.ExternalAuthenticationMethods.Configure").Text,
                                    Width = "150",
                                    ClassName =  StyleColumn.ButtonStyle,
                                    Render = new RenderCustom("renderColumnConfigure")
                                },
                                new ColumnProperty(nameof(ExternalAuthenticationMethodModel.SystemName))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "200",
                                    ClassName =  StyleColumn.ButtonStyle,
                                    Render = new RenderButtonsInlineEdit()
                                }
                            }
                    })

                    <script>
                        function renderColumnConfigure(data, type, row, meta) {
                            if (row.ConfigurationUrl && row.ConfigurationUrl.length > 0) {
                                return '<a class="btn btn-default" href="' + row.ConfigurationUrl + '"><i class="fa fa-cog"></i>@T("Admin.Configuration.ExternalAuthenticationMethods.Configure")</a>';
                            } else {
                                return '';
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>