<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TelerikMvcExtensions" version="2011.2.712" />
  <package id="FluentValidation" version="2.0.0.0" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="WebActivator" version="1.4.1" />
  <package id="recaptcha" version="1.0.5.0" />
  <package id="Autofac" version="2.5.1.827" />
  <package id="Autofac.Mvc3" version="2.5.1.827" />
</packages>