@model TaxConfigurationModel

@inject IEventPublisher eventPublisher

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Tax").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Tax");
}

<nop-antiforgery-token />

<form asp-controller="Tax" asp-action="Providers" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Tax")
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <nop-tabs id="tax-tabs">
                <nop-tab asp-name="tab-providers" asp-title="@T("Admin.Configuration.Tax.Providers")" asp-default="true">@await Html.PartialAsync("_List.Providers", Model.TaxProviders)</nop-tab>
                <nop-tab asp-name="tab-categories" asp-title="@T("Admin.Configuration.Tax.Categories")">@await Html.PartialAsync("_List.Categories", Model.TaxCategories)</nop-tab>
            </nop-tabs>
        </div>
    </div>

    @{
        //custom tabs
        var eventMessage = new AdminTabStripCreated(this.Html, "tax-tabs");
        eventPublisher.Publish(eventMessage);
        foreach (var eventBlock in eventMessage.BlocksToRender)
        {
        @eventBlock
        }
    }
</form>
