@model CategoryMappingListModel
@inject AdminAreaSettings adminAreaSettings

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "categories-grid",
        UrlRead = new DataUrl("GridList", "CategoryMappingsAdmin", new RouteValueDictionary { ["entityType"] = Model.EntityType, ["entityId"] = Model.EntityId }),
        UrlUpdate = new DataUrl("Update", "CategoryMappingsAdmin", null),
        UrlDelete = new DataUrl("Delete", "CategoryMappingsAdmin", null),
        Length = defaultGridPageSize,
        LengthMenu = gridPageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(CategoryMappingModel.CategoryName))
            {
                Title = T("Admin.Catalog.Categories.Fields.Name").Text
            },
            new ColumnProperty(nameof(CategoryMappingModel.DisplayOrder))
            {
                Title = T("Admin.Catalog.Categories.Fields.DisplayOrder").Text,
                Editable = true,
                EditType = EditType.Number
            },
            new ColumnProperty(nameof(CategoryMappingModel.Id))
            {
                Width = "100",
                Title = T("Admin.Common.View").Text,
                Render = new RenderCustom("renderCategoryViewLink")
            },
            new ColumnProperty(nameof(CategoryMappingModel.Id))
            {
                Width = "100",
                Render = new RenderButtonsInlineEdit()
            },
            new ColumnProperty(nameof(CategoryMappingModel.Id))
            {
                Width = "100",
                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text)
            }
        }
    })
    <script>

        function renderCategoryViewLink(data, type, row, meta) {

            return '<a class="btn btn-default" href="/Admin/Category/Edit/' + row.CategoryId + '" >' + '@T("Admin.Common.View")' + '</a>';
        }
    </script>
</div>
<div class="card-footer">
    <button type="submit" id="btnAddNewCategory"
            onclick="javascript:OpenWindow('@(Url.Action("CategoryAddPopup", "CategoryMappingsAdmin", new { entityId = Model.EntityId, entityType = Model.EntityType, btnId = "btnRefreshCategoryMappings" }))', 800, 800, true); return false;"
            class="btn btn-primary">
        @T("Admin.Catalog.Categories.AddNew")
    </button>
    <input type="submit" id="btnRefreshCategoryMappings" style="display: none" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRefreshCategoryMappings').click(function (e) {
                //refresh grid
                e.preventDefault(); //don't reload the page

                var categoriesGrid = $("#categories-grid").DataTable();
                categoriesGrid.ajax.reload();

                //return false to don't reload a page
                return false;
            });
        });
    </script>
</div>