@model MenuItemModel

<p class="field-customer-roles description description-wide">
    <label>
        <span>@T("SevenSpikes.MegaMenu.Admin.MenuItem.CustomerRoles")</span>
        @Html.ListBoxFor(model => model.SelectedCustomerRoleIds, Model.AvailableCustomerRoles, new { style = "width: 350px" })
        <script type="text/javascript" asp-location="Footer">
            $(document).ready(function () {
                $('#menu-item-' + @Model.Id + ' #@Html.IdFor(model => model.SelectedCustomerRoleIds)').kendoMultiSelect({
                    select: function (e) {
                        var current = this.value();

                        if (this.dataSource.view()[e.item.index()].value === "0") {
                            this.value("");
                        }
                        else if (current.indexOf("0") !== -1) {
                            current = $.grep(current, function (value) {
                                return value !== "0";
                            });

                            this.value(current);
                        }
                    },
                    change: function (e) {
                        if (this.value().length === 0)
                            this.value(["0"]);
                    },
                    placeholder: "@T("admin.common.all")"
                });
            });
        </script>
    </label>
</p>