@using Nop.Core
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@inject IThemeContext themeContext
@inject IStoreContext storeContext
@inject ILocalizationService localizationService

@model LogoModel

@{
    var logoPath = $"~/Themes/{await themeContext.GetWorkingThemeNameAsync()}/Content/img/logo.png";

    var themeLogo = await Component.InvokeAsync("Widget", new { widgetZone = "pavilion_theme_logo" });

}

<a href="@Url.RouteUrl("Homepage")" class="logo">
    @if (!String.IsNullOrEmpty(await themeLogo.RenderHtmlContentAsync()))
    {
        @themeLogo
    }
    else
    {
        string storeName = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), x => x.Name);
        <img title="" alt="@storeName" src="@Url.Content(logoPath)">
    }
</a>