@model CustomerModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="CustomerShoppingCartSearchModel.ShoppingCartTypeId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="CustomerShoppingCartSearchModel.ShoppingCartTypeId" asp-items="@Model.CustomerShoppingCartSearchModel.AvailableShoppingCartTypes" />
        </div>
    </div>
</div>

<div class="panel-body">
    @await Html.PartialAsync("Table", Model.CustomerShoppingCartSearchModel.Grid)

    <script>
        $(document).ready(function() {
            $('#@Html.IdFor(model => model.CustomerShoppingCartSearchModel.ShoppingCartTypeId)').change(function() {
                $('#@Model.CustomerShoppingCartSearchModel.Grid.Name').DataTable().ajax.reload();
            });
        });
    </script>
    
    <script>
        function renderProductName(data, type, row, meta) {
            var link = '@Url.Content("~/Admin/Product/Edit/")' + row.ProductId;
            var div = "";
        
            if (row.AttributeInfo && row.AttributeInfo.length > 0)
                div = "<div>" + row.AttributeInfo + "</div>";

            return '<a href="' + link + '">' + data + '</a>'+div;
        }
    </script>

</div>
