@model CustomerModel

<div class="panel-body">
    @await Html.PartialAsync("Table", Model.CustomerAddressSearchModel.Grid)
</div>
<div class="panel-body">
    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("AddressCreate", new { customerId = Model.Id })'">
        @T("Admin.Customers.Customers.Addresses.AddButton")
    </button>
</div>
