@model CustomerAddressModel

<div asp-validation-summary="ModelOnly"></div>
<input type="hidden" asp-for="CustomerId"/>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerAddressDetailsTop, additionalData = Model })
            <div class="panel panel-default">
                <div class="panel-body">
                    <nop-editor asp-for="Address" asp-template="Address"/>
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerAddressDetailsBottom, additionalData = Model })
        </div>
    </div>
</div>