@model CustomerAddressModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Customers.Customers.Addresses.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}

<form asp-controller="Customer" asp-action="AddressCreate" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Customers.Customers.Addresses.AddNew") 
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.CustomerId">@T("Admin.Customers.Customers.Addresses.BackToCustomer")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" class="btn btn-primary">
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerAddressDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateAddress", Model)
</form>