
@media all and (min-width: 1261px) {

/* GLOBAL STYLES */

body { /*desktop only, don't add to mobile*/
	overflow-x: hidden;
}
.master-wrapper-content {
	width: 1200px;
	margin: auto;
}
.master-column-wrapper {
	display: grid !important;
    grid-template-columns: 20% 78%;
	grid-column-gap: 2%;
	padding-top: 5%;
}
.html-account-page
.master-column-wrapper {
	grid-template-columns: 280px auto;
}
.breadcrumb + .master-column-wrapper {
	padding-top: 1%;
}
.center-1, .center-2 {
	margin-bottom: 140px;
	padding: 0;
} 
.center-1 .page-title {
	padding: 45px 0;
}
.center-2 .page-title {
	margin: -10px 0 30px;
	border-bottom: 1px solid #eee;
	padding: 0 0 10px;
	text-align: right;
}
.side-2 { /*sidebar*/
	margin-bottom: 140px;
}
.home-page .page-body > div {
	margin: 80px 0;
}
.home-page .slider-wrapper {
	padding-top: 30px;
}
.product-grid .title,
.topic-block .title,
.home-page .title {
	padding: 30px 0;
}
.qty-wrapper .increase,
.qty-wrapper .decrease {
	left: 2px; right: auto;
	width: 18px; height: 21px;
}
.qty-wrapper .increase {
	top: 2px;
	bottom: auto;
}
.qty-wrapper .qty-input {
	width: 38px;
	margin: 0 0 0 20px;
}

/* GLOBAL TABLES */

.cart td:not(.add-to-cart) .td-title {
	display: none;
}
.cart .remove-from-cart button {
	position: relative;
	bottom: 1px;
}
.cart .sku .sku-number {
	vertical-align: baseline;
}

/* HEADER */

.responsive-nav-wrapper {
	display: none;
}
.header .close-button {
	display: none;
}

.header-selectors-wrapper {
	flex: 1 1 0;
	text-align: right;
}
.header-links-wrapper {
	flex: 1 1 0;
	display: flex;
	min-height: 37px; /*preserves space when header-selects are not present*/
	text-align: left;
}
.first ~ .header-text-wrapper {
	padding: 0 30px; /*add padding when header-text is centered*/
}

.header-links li + li,
.admin-header-links a + a,
.admin-header-links + .header-links {
	margin-right: 15px;
	border-right: 1px solid #ccc;
	padding-right: 15px;
}
.impersonated.session .header-links {
	margin-right: 0;
	border-right: none;
	padding-right: 0;
}
.admin-header-links {
	margin: auto auto auto 0;
}
.admin-header-links a {
	padding: 0;
}
.header-links {
	margin: auto auto auto 0;
}
.header-links ul {
	font-size: 0;
	white-space: nowrap;
}
.header-links li {
	display: inline-block;
}
.header-links span,
.header-links a {
	display: inline-block;
	font-size: 12px; /*reset zeroing*/
}
.header-links .hidden {
    display: none;
}
.header-links .wishlist-qty {
	display: none;
}

.header-lower {
	display: flex;
	padding: 2.5% 2%;
}
.header-logo.desktop {
	display: block;
	flex: 1 1 0;
	margin: auto 0;
	text-align: right;
}
.header-logo.desktop a {
	display: inline-block;
}
.header-logo.desktop img {
	max-width: 340px;
}
.search-cart-wrapper {
	flex: 1 1 0;
	display: flex;
}
.store-search-box {
	position: relative;
	margin: auto auto auto 0;
}
.store-search-box form {
	z-index: 1021;
}
.search-box .ui-autocomplete {
	box-sizing: content-box;
	position: absolute !important;
	top: -5px !important;
	right: -10px !important;
	z-index: 1020;
	box-shadow: 0 0 20px rgba(0,0,0,.15);
	background-color: #fff;
	padding: 45px 10px 0 10px;
}
.ui-autocomplete .ui-menu-item a {
	width: auto;
	margin: 0 -10px;
	padding: 5px 10px;
}
.flyout-cart-wrapper {
	display: block;
	position: relative;
	z-index: 1021;
	margin: auto 12px auto -14px;
	white-space: nowrap;
}
.cart-wrap:hover .cart-link:before {
	content: "";
	position: absolute;
	top: -5px; right: 0;
	bottom: 0; left: 0;
	z-index: 1021;
	background-color: #fff;
	box-shadow: 0 0 12px rgba(0,0,0,.15);
	animation: fadein 0.3s
}
.cart-wrap:hover .cart-link:after {
    content: "";
    position: absolute;
    top: 100%;
	left: 0; right: 0;
	z-index: 1021;
	height: 12px;
    background: #fff;
}
.cart-link .ico-cart {
	display: block;
	position: relative;
	z-index: 1021;
	padding: 10px 18px 10px 14px;
	font-size: 0;
}
.cart-link .cart-label {
	display: inline-block;
	min-width: 27px;
	margin-left: 7px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 13px;
}
.cart-link .cart-qty {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #e43d51;
    text-align: center;
	vertical-align: middle;
    font-size: 11px;
	line-height: 20px;
	color: #fff;
}
.flyout-cart-dropdown {
	display: none;
	position: absolute;
	top: 100%; left: 0;
	z-index: 1020;
	width: 358px;
	margin-top: -1px;
	box-shadow: 0 1px 20px rgba(0,0,0,.15);
	background-color: #fff;
	padding: 11px 10px 15px;
	white-space: normal;
	animation: fadein 0.3s;
}
.flyout-cart-wrapper:hover
.flyout-cart-dropdown {
	display: block;
}

/* HEADER MENU */

.menu-title, .close-menu,
.header-menu .back-button {
	display: none;
}
.overlayOffCanvas {
	display: none !important;
}

.header-menu {
	margin: auto 0;
	padding: 0 50px;
}
.header-menu > ul {
	margin: -5px 0;
	text-align: center;
	font-size: 0;
}
.header-menu > ul > li {
	display: inline-block;
	padding: 0 15px; /*use pixels, not %, or flex will wrap*/
	vertical-align: middle;
}
.header-menu > ul > li > a,
.header-menu > ul > li > span {
	display: inline-block;
	padding: 5px 0;
	vertical-align: middle;
	font-size: 14px;
	transition: 0.2s ease;
}
.header-menu > ul > li > a:hover {
	text-decoration: underline;
	color: #e43d51;
}
.header-menu > ul > .has-sublist:after {
	content: "\e90c";
	display: inline-block;
	transform: rotate(90deg);
	margin: 0 8px 0 -8px;
	vertical-align: middle;
	font-size: 8px;
	color: #888;
}
.header-menu .sublist-wrap {
	display: none;
	position: absolute;
	z-index: 1022;
	min-width: 200px;
	margin-top: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.15);
	background-color: #fff;
	text-align: right;
}
.header-menu .sublist-wrap:before {
	content: "";
	position: absolute;
	left: 0; right: 0;
	top: -10px;
	height: 10px;
}
.top-menu li:hover > .sublist-wrap,
.header-menu .sublist-wrap.active {
	display: block;
}
.header-menu .sublist {
	padding: 10px 0;
}
.header-menu .sublist li {
	position: relative;
}
.header-menu .sublist li a {
	display: block;
	padding: 8px 20px;
	font-size: 13px; /*reset zeroing*/
}
.header-menu .sublist li:hover > a {
	background: #f6f6f6;
	color: #e43d51;
}
.header-menu .sublist-wrap .sublist-wrap {
	top: -20px;
	right: 100%;
}
.header-menu .sublist .with-subcategories:after {
	content: "\e90e";
	position: absolute;
	top: 0; bottom: 0;
	left: 12px;
	height: 10px;
	margin: auto;
	font-size: 10px;
	color: #888;
}

/* FOOTER */

.footer-block {
	padding-right: 7%;
}

/* SIDEBAR COLUMN */

.block + .block {
	margin-top: 25px;
	border-top: 1px solid #eee;
	padding-top: 25px;
}
.block .title {
	margin-bottom: 10px;
	cursor: default;
}
.block .listbox {
	display: block;
}

.block-recently-viewed-products
.listbox .list li {
	display: flex;
	column-gap: 10px;
}
.block-recently-viewed-products
.listbox .list li + li {
	margin-top: 5px;
}
.block-recently-viewed-products
.product-picture {
	width: 80px;
	padding: 0 !important;
}
.block-recently-viewed-products
.product-picture img {
	display: block;
}
.block-recently-viewed-products
.product-name {
	width: 72%;
	padding: 10px 0 !important;
}

.block.filters > .title {
	display: none;
}
.product-filter + .product-filter {
	margin-top: 25px;
	border-top: 1px solid #eee;
	padding-top: 25px;
}

/* CATEGORY PAGE & GRIDS */

.breadcrumb {
	margin: 0 -3px;
	border-bottom: none;
	padding: 26px 0;
	text-align: right;
}
.category-page .page-title {
}
.picture-wrapper:hover .sub-category-list {
	display: flex;
}
.home-page-category-grid .title {
	margin-top: -30px;
}
.home-page-category-grid .category-title {
	margin-bottom: 7px;
	font-size: 17px;
}
.product-selectors:first-child {
	margin-top: -31px;
}
.two-products .product-grid .item-grid {
	grid-template-columns: 1fr 1fr;
}
.extended-gallery .product-data .product-grid,
.product-data .variants ~ .product-grid {
	padding-top: 20px;
}
.product-details-page .item-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cross-sells .item-grid {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pager { /*pagination*/
	padding: 15px 0;
}

/* PRODUCT PAGE */

.gallery, .overview {
	width: 48.5%;
	padding-top: 0;
}
.standard-gallery .price-reviews-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.standard-gallery .overview .prices {
	align-items: center;
}
.standard-gallery .tier-prices {
	/*order: 3;*/
	width: 100%;
}
.standard-gallery .prices-table {
	display: table; width: 100%;
	border-collapse: collapse;
}
.standard-gallery .prices-row {
	display: table-row;
}
.standard-gallery .prices-cell {
	display: table-cell;
	border: 1px solid #e3e3e3;
	box-shadow: none;
}
.standard-gallery .attributes select,
.standard-gallery .attributes .textbox,
.standard-gallery .attributes textarea {
	width: 465px;
}
.extended-gallery .gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px 10px;
	/*width: 67%;*/
	width: 814px;
}
.extended-gallery .thumb-item {
	display: block;
	width: auto;
	max-width: none;
	margin: 0;
}
.extended-gallery .overview {
	position: sticky;
	top: 10px;
	/*width: 30%;*/
	width: 350px;
}
.extended-gallery .product-name {
	margin-bottom: 5px;
	border: none;
	padding: 0 !important;
}
.extended-gallery .product-name h1 {
	font-size: 24px;
}
.extended-gallery .overview .prices {
	margin-bottom: 20px;
}
.extended-gallery .datepicker {
	width: 340px;
}
.overview .giftcard,
.variant-overview .giftcard {
	width: 465px;
}
.customer-entered-price {
	width: 465px;
	margin-bottom: -3px;
}
.customer-entered-price .enter-price-input {
	width: 60px;
}
.variants .customer-entered-price {
	width: 100%;
}
.add-to-cart-panel .qty-wrapper {
	margin-left: 5px;
}
.add-to-cart-panel .add-to-cart-button {
	max-width: none;
}

/* COMPARE PAGE */

.compare-products-clear-list {
    top: 45px;
}

/* TOPICS */

.home-page .topic-block {
	position: relative;
	margin-top: 90px !important;
	padding: 5% 0;
}
.home-page .topic-block:before {
	content: "";
	position: absolute;
	top: 0; bottom: 0;
	left: -1000px;
	right: -1000px;
	background-color: #f3f3f3;
}
.home-page .topic-block .wrapper {
	position: relative;
	background-color: #fff;
	padding: 0 3% 4%;
}
.home-page .topic-block-title {
	padding-top: 10px;
}
.home-page .topic-block-body,
.home-page .topic-block-body p {
	line-height: 28px;
}

.vertical .topic-block .wrapper {
	display: flex;
	align-items: center;
	padding: 0;
}
.vertical .topic-block-title {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	padding: 1% 70px;
}
.vertical .topic-block .title {
	font-size: 60px;
}
.vertical .topic-block-body {
	flex-grow: 1;
	padding-left: 8%;
	text-align: right;
}

/* REGISTRATION & LOGIN */

.login-page .customer-blocks {
	flex-flow: row-reverse;
	column-gap: 20px;
	padding-top: 30px;
}
.login-page .fieldset,
.login-page .new-wrapper {
	margin: 0px 0px;
	padding: 0 50px 40px;
}
.login-page .new-wrapper {
	display: flex;
	flex-flow: column;
}
.login-page .new-wrapper .text {
	flex-grow: 1;
}

/* ACCOUNT PAGES */

.block-account-navigation {
	position: sticky;
	top: 30px;
}
.block-account-navigation .title {
	display: none;
}
.block-account-navigation .active {
	position: relative;
	background-color: #f3f3f3;
}
.block-account-navigation .active:after {
	content: "";
	position: absolute;
	left: -20px;
	top: calc(50% - 10px);
	bottom: calc(50% - 10px);
	border: 10px solid #fff;
	border-right-color: #f3f3f3;
}
.block-account-navigation a {
	border-bottom: 1px solid #eee;
	padding: 18px 10px !important;
}
.account-page .page-title {
	margin: 0 0 30px;
	border: none;
	padding-bottom: 0;
	text-align: center;
}

/* SHOPPING CART */

.order-progress {
	padding: 45px 0;
}
.order-progress:before {
	left: -1000px;
	right: -1000px;
}
.order-progress li {
	max-width: 130px;
}

/* BLOG & NEWS */

.news-list-homepage {
	margin-top: 100px !important;
}
 
}

@media all and (min-width: 1540px) {

	.header-menu > ul > li {
		padding: 0 20px;
	}
}