@model GiftCardModel
<div class="panel-body">
    @await Html.PartialAsync("Table", Model.GiftCardUsageHistorySearchModel.Grid)
    <script>
        function renderColumnOrderNumber(data, type, row, meta) {
            var textRenderer = $.fn.dataTable.render.text().display;
            return '<a class="btn btn-default" href="@Url.Content("~/Admin/Order/Edit/")' + row.OrderId + '"><i class="fa fa-eye"></i>' + textRenderer(row.CustomOrderNumber) + ' - @T("Admin.Common.View")</a>';
        }
    </script>
</div>
