@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.HasSampleDownload)
{
    <div class="download-sample">
        <a class="button-2 download-sample-button" href="@Url.RouteUrl("GetSampleDownload", new { productid = Model.Id })">@T("Products.DownloadSample")</a>
    </div>
}