@model IList<ProductOverviewModel>
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-recently-viewed-products-page");
}
@using Nop.Web.Models.Catalog;
<div class="page recently-viewed-products-page">
    <div class="page-title">
        <h1>@T("Products.RecentlyViewedProducts")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-grid">
                <div class="item-grid">
                    @foreach (var product in Model)
                    {
                        <div class="item-box">
                            @Html.Partial("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
