@model ProductDetailsModel

@if (!string.IsNullOrWhiteSpace(Model.StockAvailability) || Model.DisplayBackInStockSubscription)
{
    <div class="availability">
        @if (!string.IsNullOrWhiteSpace(Model.StockAvailability))
        {
            <div class="stock">
                <strong>@T("Products.Availability"):</strong>
                <span class="value" id="stock-availability-value-@Model.Id">@Model.StockAvailability</span>
            </div>
        }
    </div>
     @await Html.PartialAsync("_BackInStockSubscription", Model)
}