@model ProductDetailsModel

@if (Model.EmailAFriendEnabled)
{
    <div class="email-a-friend">
        <button type="button" class="btn btn-default" onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')">@T("Products.EmailAFriend")</button>
    </div>
}
