@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.NewProducts").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-recently-added-products-page");
}

<div class="page recently-added-products-page">
    <div class="page-title panel-heading">
        <a href="@Url.RouteUrl("NewProductsRSS")" class="link-rss pull-right" title="@T("Products.NewProducts.RSS.Hint")"><i class="fa fa-rss-square">@*@T("Products.NewProducts.RSS")*@</i></a>
        <h1>@T("Products.NewProducts")</h1>
    </div>
    <div class="page-body">
        <div class="row">
            @if (Model.Count > 0)
            {
                foreach (var product in Model)
                {
                    <div class="item-box col-xs-12 col-sm-4 col-md-4">
                        <div class="thumbnail">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
