@model ProductEmailAFriendModel

@{
    Layout = null;
}

<div class="email-a-friend">
    <div class="result">
        <br />

        @if (!string.IsNullOrEmpty(Model.Result))
        {
            @Html.Raw(Model.Result)
        }
        else
        {
            <div class="card" style="">
                <div class="card-body">
                    @* <h5 class="card-title">Contact Details</h5> *@
                    <p class="card-text">You can use below contact details to contact directly.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Mobile :
                        <a href="tel:@Model.TargetCustomerMobileNumber">@Model.TargetCustomerMobileNumber</a>
                        @* <button class="btn btn-primary"><i class="fas fa-copy"></i></button> *@
                    </li>
                    <li class="list-group-item">
                        Email :
                        <a href="mailto:@Model.TargetCustomerEmailId">@Model.TargetCustomerEmailId</a>
                    </li>
                </ul>
            </div>
        }

    </div>
</div>
