<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" />
  <package id="FluentValidation" version="3.4.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="NUnit" version="2.6.1" />
  <package id="RhinoMocks" version="3.6.1" />
  <package id="WebActivator" version="1.5.1" />
</packages>