     
@using Nop.Web.Framework;
@using Telerik.Web.Mvc.UI;

@{
    var product = Nop.Core.Context.Current.Resolve<Nop.Services.Catalog.IProductService>().GetProductById(Model);    
}
@ViewData.TemplateInfo.FormattedModelValue

@if(product != null){
    <div>exists</div>   
}else{
    <div>doesnt</div> 
}