@model int
@using Nop.Web.Framework;
@using Telerik.Web.Mvc.UI;

@{
    var product = EngineContext.Current.Resolve<Nop.Services.Catalog.IProductService>().GetProductById(Model);    
}
@(Html.Telerik().ComboBox().Name(ViewData.TemplateInfo.HtmlFieldPrefix)
    .DataBinding(binding => {
        binding.Ajax().Select("_AjaxComboBo", "Product");
    }))

@*@if(product != null){
    <div>exists</div>   
}else{
    <div>doesnt</div> 
}*@