<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nop.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nop.Services.Properties.Settings>
            <setting name="Nop_Services_EuropaCheckVatService_checkVatService"
                serializeAs="String">
                <value>http://ec.europa.eu/taxation_customs/vies/services/checkVatService</value>
            </setting>
        </Nop.Services.Properties.Settings>
    </applicationSettings>
</configuration>