<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net45" />
  <package id="EPPlus" version="3.1.3.3" targetFramework="net45" />
  <package id="MaxMind.Db" version="0.2.1.0" targetFramework="net45" />
  <package id="MaxMind.GeoIP2" version="0.3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="RestSharp" version="104.4.0" targetFramework="net45" />
</packages>