<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net451" />
  <package id="EPPlus" version="4.1.0" targetFramework="net451" />
  <package id="ImageResizer" version="3.4.3" targetFramework="net451" />
  <package id="ImageResizer.Plugins.PrettyGifs" version="3.4.3" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.9" targetFramework="net451" />
  <package id="MaxMind.Db" version="2.0.0" targetFramework="net451" />
  <package id="MaxMind.GeoIP2" version="2.6.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="7.1.2" targetFramework="net451" />
</packages>