@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
       @T("test <br /> test");
       
       @T("test2 test5");
    </div>
</body>
</html>
