@model OrderAddressModel

<div asp-validation-summary="All"></div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.OrderAddressDetailsTop, additionalData = Model })
            <div class="panel panel-default">
                <div class="panel-body">
                    <nop-editor asp-for="Address" asp-template="Address" />
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.OrderAddressDetailsBottom, additionalData = Model })
        </div>
    </div>
</div>
