@model OrderAddressModel

<div asp-validation-summary="All"></div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <nop-editor asp-for="Address" asp-template="Address" />
                </div>
            </div>
        </div>
    </div>
</div>
