@model OrderScheduleModel

@{ //page title
    ViewBag.PageTitle = T("Admin.Orders.EditOrderScheduleDetails").Text;
    //active menu item (system name)
    Html.AppendScriptParts("~/lib/timeRangePicker/timeRangePicker.js");
    Html.AppendCssFileParts("~/lib/timeRangePicker/timeRangePicker.css");
    Html.SetActiveMenuItemSystemName("OrderSchedule");

}

<form asp-controller="Order" asp-action="ScheduleDate" method="post" id="orderschedule-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Orders.EditOrderScheduleDetails")
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.OrderDetailsButtons, additionalData = Model })
        </div>
    </div>

    <div asp-validation-summary="All"></div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-body">
                <div class="panel panel-default sub-panel">
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-md-2">
                                <nop-label asp-for="ScheduleDate1" />
                            </div>
                            <div class="col-md-6">
                                <div class="input-group timerange">
                                    <nop-editor asp-for="ScheduleDate1" />
                                    <span class="input-group-addon" style="">
                                        <i aria-hidden="true" class="far fa-calendar"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="ScheduleDate1"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <nop-label asp-for="ScheduleDate2" />
                            </div>
                            <div class="col-md-6">
                                <div class="input-group timerange">
                                    <nop-editor asp-for="ScheduleDate2" />
                                    <span class="input-group-addon" style="">
                                        <i aria-hidden="true" class="far fa-calendar"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="ScheduleDate2"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <nop-label asp-for="ScheduleDate3" />
                            </div>
                            <div class="col-md-6">
                                <div class="input-group timerange">
                                    <nop-editor asp-for="ScheduleDate3" />
                                    <span class="input-group-addon" style="">
                                        <i aria-hidden="true" class="far fa-calendar"></i>
                                    </span>
                                </div>
                                <span asp-validation-for="ScheduleDate3"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>