@model StoreSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Stores").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Stores");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.Stores")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.StoreListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table",new DataTablesModel
                    {
                        Name = "stores-grid",
                        UrlRead = new DataUrl("List", "Store", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(StoreModel.Name))
                            {
                                Title = T("Admin.Configuration.Stores.Fields.Name").Text
                            },
                            new ColumnProperty(nameof(StoreModel.Url))
                            {
                                Title = T("Admin.Configuration.Stores.Fields.Url").Text
                            },
                            new ColumnProperty(nameof(StoreModel.DisplayOrder))
                            {
                                Title = T("Admin.Configuration.Stores.Fields.DisplayOrder").Text,
                                ClassName =  NopColumnClassDefaults.CenterAll
                            },
                            new ColumnProperty(nameof(StoreModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>