@model Nop.Web.Framework.Mvc.DeleteConfirmationModel
@using (Html.BeginForm(Model.ActionName, Model.ControllerName, new { id = Model.Id }))
{
    <div>
        <p>
            @T("Admin.Common.DeleteConfirmation")
        </p>
        <div class="form-actions">
            <span class="k-button" onclick="closeModalWindow();">@T("Admin.Common.NoCancel")</span>
            <input type="submit" class="k-button" value="@T("Admin.Common.Delete")" />
        </div>
    </div>
}