@model Nop.Plugin.Shipping.CanadaPost.Models.CanadaPostShippingModel
@{

    Layout = "_ConfigurePlugin";
}

<form asp-controller="ShippingCanadaPost" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Raw(T("Plugins.Shipping.CanadaPost.Instructions"))
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CustomerNumber" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CustomerNumber" />
                        <span asp-validation-for="CustomerNumber"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ContractId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ContractId" />
                        <span asp-validation-for="ContractId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="UseSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UseSandbox" />
                        <span asp-validation-for="UseSandbox"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>