@{
    string q = Context.Request.Query["q"];
}

<form asp-route="SevenSpikes.Nop.Plugins.FacebookShop.ProductSearch" method="get">
    <input type="text" class="search-text" autocomplete="off" placeholder="@T("Search.SearchBox.Tooltip")" name="q" value="@q"/>
    <button type="submit" class="search-button" value="@T("Search")">@T("Search")</button>
</form>