@{
    Layout = "";
}

<div class="slider-nav">
  <div>your content</div>
  <div>your content</div>
  <div>your content</div>
 <div>your content</div>
  <div>your content</div>
  <div>your content</div>
 <div>your content</div>
  <div>your content</div>
  <div>your content</div>
 <div>your content</div>
  <div>your content</div>
  <div>your content</div>
</div>

<script>
    $('.slider-nav').slick({
      slidesToShow: 7,
      slidesToScroll: 1,
      dots: false,
      centerMode: true,
      focusOnSelect: true
    });
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
