@model DeliveryDateModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Shipping.DeliveryDates.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Delivery dates");
}

<form asp-controller="Shipping" asp-action="CreateDeliveryDate" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.Shipping.DeliveryDates.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="DatesAndRanges">@T("Admin.Configuration.Shipping.DeliveryDates.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.DeliveryDateDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateDeliveryDate", Model)
</form>