@model ProductDetailsModel
@if ((Model.FreeShippingNotificationEnabled && Model.IsFreeShipping) || !string.IsNullOrWhiteSpace(Model.DeliveryDate))
{
    <div class="delivery">
        <script type="text/javascript" asp-location="Footer">
            $(document).on("product_attributes_changed", function (data) {
                if (data.changedData.isFreeShipping) {
                    $(".free-shipping").addClass("visible");
                } else {
                    $(".free-shipping").removeClass("visible");
                }
            });
        </script>
        @if (Model.FreeShippingNotificationEnabled && Model.IsFreeShipping)
        {
            <div class="free-shipping">@T("Products.FreeShipping")</div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.DeliveryDate))
        {
            <div class="delivery-date">
                <span class="label">@T("Products.DeliveryDate"):</span>
                <span class="value">@Model.DeliveryDate</span>
            </div>
        }
    </div>
}