@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.HasSampleDownload)
{
    <div class="download-sample">
        <span class="download-sample-button">
            <a href="@Url.RouteUrl("GetSampleDownload", new { productid = Model.Id })">@T("Products.DownloadSample")</a>
        </span>
    </div>
}