@model ProductDetailsModel.GiftCardModel
@if (Model.IsGiftCard)
{
    <div class="giftcard">
        <div>
            <label asp-for="RecipientName" asp-postfix=":"></label>
            <input asp-for="RecipientName" class="recipient-name"/>
            <nop-required />
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div>
                <label asp-for="RecipientEmail" asp-postfix=":"></label>
                <input asp-for="RecipientEmail" class="recipient-email"/>
                <nop-required />
            </div>
        }
        <div>
            <label asp-for="SenderName" asp-postfix=":"></label>
            <input asp-for="SenderName" class="sender-name"/>
        </div>
        @if (Model.GiftCardType == Nop.Core.Domain.Catalog.GiftCardType.Virtual)
        {
            <div>
                <label asp-for="SenderEmail" asp-postfix=":"></label>
                <input asp-for="SenderEmail" class="sender-email"/>
            </div>
        }
        <div>
            <label asp-for="Message" asp-postfix=":"></label>
            <textarea asp-for="Message" class="message"></textarea>
        </div>
    </div>
}