@model ProductDetailsModel

@if (Model.VideoModels.Any())
{
    <div class="video-gallery">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ProductDetailsBeforeVideos, additionalData = Model })
    <div class="video-thumbs">
    @foreach (var video in Model.VideoModels)
    {
        <iframe class="thumb-item" src="@video.VideoUrl" width="@video.Width" height="@video.Height" frameborder="0" allow="@video.Allow"></iframe>
    }
    </div>
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.ProductDetailsAfterVideos, additionalData = Model })
</div>
}