<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages theme="administration">
      <namespaces>
        <add namespace="System.Collections.Generic"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Audit"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Audit.UsersOnline"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Categories"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Configuration.Settings"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Blog"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.NewsManagement"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Polls"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.CustomerManagement"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Directory"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Localization"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Manufacturers"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Measures"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Media"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Messages"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Orders"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Payment"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Attributes"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Specs"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Products"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Affiliates"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Campaigns"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Discounts"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Security"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.SEO"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Shipping"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Tax"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Templates"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Utils"/>
        <add namespace="NopSolutions.NopCommerce.BusinessLogic.Warehouses"/>
        <add namespace="NopSolutions.NopCommerce.Common"/>
        <add namespace="NopSolutions.NopCommerce.Common.Utils"/>
        <add namespace="NopSolutions.NopCommerce.Common.Utils.Html"/>
        <add namespace="NopSolutions.NopCommerce.Controls"/>
        <add namespace="NopSolutions.NopCommerce.Controls.Payment.Validators"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>
  </system.web>
</configuration>
