<form asp-controller="OverriddenProduct" asp-action="ExportProducts" method="post" id="export-avalara-selected-form">
    <script>
        $(document).ready(function () {
            $('#export-avalara-selected').click(function (e) {
                e.preventDefault();
                var ids = selectedIds.join(",");
                $('#export-avalara-selected-form #selectedIds').val(ids);
                $('#export-avalara-selected-form').submit();
                return false;
            });
        });
    </script>
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>