@model AffiliateModel

<div class="panel-group">
    <div class="sub-panel panel-search">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.StartDate" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="AffiliatedOrderSearchModel.StartDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.EndDate" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="AffiliatedOrderSearchModel.EndDate" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.OrderStatusId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="AffiliatedOrderSearchModel.OrderStatusId" asp-items="Model.AffiliatedOrderSearchModel.AvailableOrderStatuses" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.PaymentStatusId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="AffiliatedOrderSearchModel.PaymentStatusId" asp-items="Model.AffiliatedOrderSearchModel.AvailablePaymentStatuses" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="AffiliatedOrderSearchModel.ShippingStatusId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="AffiliatedOrderSearchModel.ShippingStatusId" asp-items="Model.AffiliatedOrderSearchModel.AvailableShippingStatuses" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="button" id="search-orders" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-panel">
        <div class="panel-body">
            @await Html.PartialAsync("Table", Model.AffiliatedOrderSearchModel.Grid)
            
            <script>
                var selectedIds = [];
                var reportAggregates = "";

                function renderOrderStatus(data, type, row, meta) {

                    var addClass = '';

                    switch (row.OrderStatusId) {
                    case 10:
                        addClass = "yellow";
                        break;
                    case 20:
                        addClass = 'blue';
                        break;
                    case 30:
                            addClass = 'green';
                        break;
                    case 40:
                            addClass = 'red';
                        break;
                    }

                    return '<span class="grid-report-item ' + addClass + '">' + row.OrderStatus +'</span>';
                }

                $(document).ready(function() {
                    //search button
                    $('#search-orders').click(function() {
                        //search
                        $('#@Model.AffiliatedOrderSearchModel.Grid.Name').DataTable().ajax.reload();
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });
                });
            </script>
        </div>
    </div>
</div>
