@model CheckoutConfirmModel

@using Nop.Core.Domain.Topics
@using Nop.Web.Framework.Mvc.Routing;
@using Nop.Web.Models.Checkout;
@using Nop.Web.Components;
@using Nop.Web.Framework.Infrastructure;
@using Nop.Web.Framework.UI;

@inject INopHtmlHelper _nopHtmlHelper

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*we remove the default InputTagHelper to prevent the checkbox duplicating: https://stackoverflow.com/questions/42544961/asp-net-core-custom-input-tag-helper-rendering-duplicate-checkboxes*@
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.InputTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Nop.Web.Framework
@addTagHelper *, MiniProfiler.AspNetCore.Mvc

<div class="checkout-data">
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutConfirmTop, additionalData = Model })
    @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning) || Model.Warnings.Count > 0)
    {
        <div class="section confirm-order">
            @if (!string.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <div>
                    <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                </div>
            }
            @if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
        </div>
    }
    @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.OpCheckoutConfirmBottom, additionalData = Model })
    <div class="section order-summary">
        @await Component.InvokeAsync(typeof(Nop.Plugin.Pos.Components.OrderSummaryPOSViewComponent), new { prepareAndDisplayOrderReviewData = false })
    </div>
    @if (string.IsNullOrEmpty(Model.MinOrderTotalWarning) && Model.TermsOfServiceOnOrderConfirmPage)
    {
        <div id="terms-of-service-warning-box" title="Terms of service" style="display:none;">
            <p>Please accept the terms of service before the next step.</p>
        </div>
        <div class="terms-of-service">
            <input id="termsofservice" type="checkbox" name="termsofservice" />
            <label for="termsofservice">I agree with the terms of service and I adhere to them unconditionally</label>
            @if (Model.TermsOfServicePopup)
            {
                <a class="read" id="read-terms">(Read)</a>
                <script>
                    $(document).ready(function() {
                        $('#read-terms').on('click', function(e) {
                            e.preventDefault();
                            displayPopupContentFromUrl('@Url.RouteUrl("TopicPopup", new {SystemName = "conditionsofuse"})', 'Terms of service');
                        });
                    });
                </script>
            }
            else
            {
                <a class="read" id="read-terms" href="@Url.RouteTopicUrl("conditionsofuse")">(Read)</a>
            }
        </div>
    }
    @if (Model.DisplayCaptcha)
    {
        <nop-captcha />
    }
</div>