@model MenuItemModel

<div class="menu__item @(Model.ChildrenItems.Any() ? "menu-dropdown" : "") @Model.CssClass">
    @if (Model.ChildrenItems.Any())
    {
        <div class="menu__item-toggle">
            @await Html.PartialAsync("_MenuItem.cshtml", Model)
        </div>
        <div class="menu__list-view">
            @foreach (var item in Model.ChildrenItems)
            {
                @await Html.PartialAsync("_MenuItem.List.cshtml", item)
            }
        </div>
    }
    else
    {
        @await Html.PartialAsync("_MenuItem.cshtml", Model)
    }
</div>
