@model DiscountModel

@if (Model.Id > 0)
{
    <div class="panel-body">
        @await Html.PartialAsync("Table", Model.DiscountProductSearchModel.Grid)
    </div>
    <div class="panel-footer">
        <button type="submit" id="btnAddNewProduct" onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "Discount", new { discountId = Model.Id, btnId = "btnRefreshProducts", formId = "discount-form" }))', 800, 800, true); return false;" class="btn btn-primary">
            @T("Admin.Promotions.Discounts.AppliedToProducts.AddNew")
        </button>
        <input type="submit" id="btnRefreshProducts" style="display: none" />
        <script>
            $(document).ready(function() {
                $('#btnRefreshProducts').click(function() {
                    //refresh grid
                    $('#@Model.DiscountProductSearchModel.Grid.Name').DataTable().ajax.reload();
                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="panel-body">
        @T("Admin.Promotions.Discounts.AppliedToProducts.SaveBeforeEdit")
    </div>
}