@model DiscountModel

@if (Model.Id > 0)
{
<div class="panel-body">
    @await Html.PartialAsync("Table", Model.DiscountCategorySearchModel.Grid)
</div>
    <div class="panel-footer">
        <button type="submit" id="btnAddNewCategory" onclick="javascript:OpenWindow('@(Url.Action("CategoryAddPopup", "Discount", new { discountId = Model.Id, btnId = "btnRefreshCategories", formId = "discount-form" }))', 800, 800, true); return false;" class="btn btn-primary">
            @T("Admin.Promotions.Discounts.AppliedToCategories.AddNew")
        </button>
        <input type="submit" id="btnRefreshCategories" style="display: none" />
        <script>
            $(document).ready(function() {
                $('#btnRefreshCategories').click(function() {
                    //refresh grid
                    $('#@Model.DiscountCategorySearchModel.Grid.Name').DataTable().ajax.reload();

                    //return false to don't reload a page
                    return false;
                });
            });
        </script>
    </div>
}
else
{
    <div class="panel-body">
        @T("Admin.Promotions.Discounts.AppliedToCategories.SaveBeforeEdit")
    </div>
}