@model DiscountModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Promotions.Discounts.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Discounts");
}

<form asp-controller="Discount" asp-action="Create" method="post" id="discount-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Promotions.Discounts.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Promotions.Discounts.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.DiscountDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>