@model ReviewTypeSearchModel

<div class="panel-body">
    <p>
        <em>@T("Admin.Settings.ReviewType.Description")</em>
    </p>
    @await Html.PartialAsync("Table", Model.Grid)
</div>    
<div class="panel-footer">
    <a class="btn btn-primary" href="@Url.Action("Create", "ReviewType")">
        <i class="fa fa-plus-square"></i>
        @T("Admin.Common.AddNew")
    </a>
</div>