@model AbcWarehouse.Plugin.Widgets.AddressAutocomplete.Models.ConfigModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="AddressAutocomplete" asp-action="Configure" method="post">
	<div class="cards-group">
		<div class="card card-default">
			<div class="card-body">
				<div class="form-group row">
					<div class="col-md-3">
						<nop-label asp-for="GooglePlacesApiKey" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="GooglePlacesApiKey" />
						<span asp-validation-for="GooglePlacesApiKey"></span>
					</div>
				</div>
				<div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
				</div>
			</div>
		</div>		
	</div>
</form>