@model AbcWarehouse.Plugin.Payments.UniFi.Models.ConfigModel

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="UniFiPayments" asp-action="Configure" method="post">
	<div class="cards-group">
		<div class="card card-default">
			<div class="card-body">
				<div class="form-group row">
					<div class="col-md-3">
						<nop-label asp-for="ClientId" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="ClientId" />
						<span asp-validation-for="ClientId"></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-3">
						<nop-label asp-for="ClientSecret" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="ClientSecret" />
						<span asp-validation-for="ClientSecret"></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-3">
						<nop-label asp-for="UseIntegration" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="UseIntegration" />
						<span asp-validation-for="UseIntegration"></span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-md-3">
						<nop-label asp-for="IsDebugMode" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="IsDebugMode" />
						<span asp-validation-for="IsDebugMode"></span>
					</div>
				</div>
				<div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
				</div>
			</div>
		</div>		
	</div>
</form>