@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName("nopCommerce mobile application");
}


<h1>nopCommerce Mobile App for iOS and Android</h1>


<p>The mobile app is completely ready-to-go, so you can start selling your products and services straight away.</p>

<p>Like the nopCommerce platform, the mobile app comes with the source code and offers unlimited customization options. What’s more, it can seamlessly adapt to your online store design and functionality.</p>

<p>No coding or designing skills are required to integrate the app with your nopCommerce store, configure its content and features, publish it on the Google Play Store and App Store, and manage its workflow.</p>

<p>Here are some other significant features that will ensure efficient mobile eCommerce launching, customization, and maintenance:
    <ul>
        <li>Built with the latest version of Flutter and Dart</li>
        <li>The official Web API plugin is included</li>
        <li>Based on the latest mobile development technologies, including Material 3 Design</li>
        <li>Providing the best shopping experience due to seamless and clear navigation and mobile checkout process</li>
        <li>High level of security</li>
    </ul>
</p>

<a href="https://www.nopcommerce.com/ecommerce-mobile-app?utm_source=admin-panel&utm_medium=menu&utm_campaign=MobileApp&utm_content=configuration" target="_blank" class="btn btn-primary">Get the plugin</a>
