<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NopSolutions.NopCommerce.Payment.Methods.USAePay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NopSolutions.NopCommerce.Payment.Methods.USAePay.Properties.Settings>
            <setting name="Nop_Payment_USAePay_services_usaepayService" serializeAs="String">
                <value>https://sandbox.usaepay.com/soap/gate/3213EA2A</value>
            </setting>
        </NopSolutions.NopCommerce.Payment.Methods.USAePay.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
