@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{
    <div class="title">
        <h1>@T("Bestsellers")</h1>
    </div>
    <div class="product-grid">
        <div class="owl-carousel owl-carousel2 owl-theme">
            @foreach (var item in Model)
            {
                <div class="item">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}