@{
    Layout = "";
}
<table class="adminContent">
    <tr>
        <td>
            Actually configuration is not required. Just some notes:
            <ul>
                <li>Ensure that permissions are properly configured on Access Control List page (disabled by default)</li>
                <li>To access service use http://www.yourStore.com/Plugins/Misc.WebServices/Remote/NopService.svc</li>
                <li>For mex endpoint use http://www.yourStore.com/Plugins/Misc.WebServices/Remote/NopService.svc/mex</li>
            </ul>
        </td>
    </tr>
</table>
