@{
    Layout = "";
}
<table class="adminContent">
    <tr>
        <td>
            @T("Plugins.Misc.WebServices.Description1")
            <ul>
                <li>@T("Plugins.Misc.WebServices.Description2")</li>
                <li>@T("Plugins.Misc.WebServices.Description3", "http://www.yourStore.com/Plugins/Misc.WebServices/Remote/NopService.svc")</li>
                <li>@T("Plugins.Misc.WebServices.Description4", "http://www.yourStore.com/Plugins/Misc.WebServices/Remote/NopService.svc/mex")</li>
            </ul>
        </td>
    </tr>
</table>
