@model List<ExternalAuthenticationMethodModel>
@if (Model.Any())
{
    <div class="title">@T("Account.AssociatedExternalAuth.Or")</div>
}
@foreach (var authenticationMethod in Model)
{
    @await Component.InvokeAsync(authenticationMethod.ViewComponent)
}