@model ProductModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.AvailableDiscounts != null && Model.AvailableDiscounts.Count > 0)
            {
                foreach (var discount in Model.AvailableDiscounts)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="SelectedDiscountIds" value="@discount.Id"
                                   @if (Model.SelectedDiscountIds != null && Model.SelectedDiscountIds.Contains(discount.Id)) { <text> checked="checked" </text>} />
                                @discount.Name
                        </label>
                    </div>
                }
            }
            else
            {
                @T("Admin.Catalog.Products.Discounts.NoDiscounts")
            }
        </div>
    </div>
</div>