@model ProductModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.NopLabelFor(model => model.CategoryIds)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CategoryIds, new {SelectList = Model.AvailableCategories })
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    var categoryIdsInput = $('#@Html.FieldIdFor(model => model.CategoryIds)').data("kendoMultiSelect");
                    categoryIdsInput.setOptions({
                        autoClose: false
                    });

                    @if (Model.AvailableCategories.Count == 0)
                    {
                        <text>
                            categoryIdsInput.setOptions({
                                enable: false,
                                placeholder: '@T("Admin.Catalog.Products.Categories.NoCategoriesAvailable")'
                            });
                            categoryIdsInput._placeholder();
                            categoryIdsInput._enable();
                        </text>
                    }
                });
            </script>
        </div>
    </div>
</div>