@model ProductModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.NopLabelFor(model => model.ManufacturerIds)
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ManufacturerIds, new { SelectList = Model.AvailableManufacturers })
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    var manufacturersIdsInput = $('#@Html.FieldIdFor(model => model.ManufacturerIds)').data("kendoMultiSelect");
                    manufacturersIdsInput.setOptions({
                        autoClose: false
                    });

                    @if (Model.AvailableManufacturers.Count == 0)
                    {
                        <text>
                            manufacturersIdsInput.setOptions({
                                enable: false,
                                placeholder: '@T("Admin.Catalog.Products.Manufacturers.NoManufacturersAvailable")'
                            });
                            manufacturersIdsInput._placeholder();
                            manufacturersIdsInput._enable();
                        </text>
                    }
                });
            </script>
        </div>
    </div>
</div>