@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="master-wrapper-fluid-content-right">
    @RenderWrappedSection("right", new { @class = "master-wrapper-fluid-content-sidebar" })
</div>
<div class="master-wrapper-fluid-content-left">
    @RenderWrappedSection("left", new { @class = "master-wrapper-fluid-content-sidebar" })
</div>
<div class="master-wrapper-fluid-content">
    <div class="master-wrapper-fluid-content-inner">
        @RenderBody()
    </div>
</div>
<div class="clear">
</div>