@{
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="master-wrapper-leftside-3">
    @RenderSection("left", true)
</div>
<div class="master-wrapper-center-3">
    <div class="master-wrapper-cph-3">
        @RenderBody()
    </div>
</div>
<div class="master-wrapper-rightside-3">
    @RenderSection("right", true)
</div>
