@using Nop.Web.Framework.UI;
@using Nop.Plugin.Widgets.AbcSynchronyPayments.Models;
@using Nop.Core;

@inject IStoreContext storeContext;

@model SynchronyPaymentModel

@{
    // remove from bundle
    Html.AddCssFileParts("https://use.fontawesome.com/releases/v5.3.1/css/all.css", "", true);
    Html.AddCssFileParts("~/Plugins/Widgets.AbcSynchronyPayments/styles/styles.css");
    var storeText = "ABC Warehouse";

    // add hawthorne stylesheet if required
    if ((await storeContext.GetCurrentStoreAsync()).Url.Contains("hawthorne"))
    {
        Html.AddCssFileParts("~/Plugins/Widgets.AbcSynchronyPayments/styles/styles-haw.css");
        storeText = "Hawthorne";
    }
}

@if (Model != null)
{
    <div class="synchrony-payment synchrony-payment-detail" style="display: @(!Model.IsHidden ? "block" : "none")">
        @if (Model.IsMonthlyPaymentStyle)
        {
            <span>
                <b>$@Model.MonthlyPayment</b>/month
                <i class="fas fa-question-circle deferredPricingIcon-@Model.ProductId">
                </i><br />
                with @Model.MonthCount Months Special Financing when<br />
                you use your @storeText Card.
            </span>
        }
        else
        {
            <span>
                Get <b>@Model.MonthCount Month</b> Special Financing when<br />
                you use your @storeText Card. <a class="deferredPricingIcon-@Model.ProductId">Get Payment Details</a>
            </span>

        }
    </div>
}
@Html.Partial("_Modal", Model)