@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new {step = CheckoutProgressStep.Cart})
}
<div class="page shopping-cart-page">
    <div class="page-title">
        <h1>@T("ShoppingCart")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model})
    </div>
</div>
