@model dynamic
<noscript>
    <div class="noscript">
        <p>
            <strong>JavaScript seems to be disabled in your browser.</strong>
        </p>
        <p>
            You must have JavaScript enabled in your browser to utilize the functionality of
            this website.
        </p>
    </div>
</noscript>
