@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.StoreClosed").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-store-closed-page");
}
<div class="page store-closed-page">
    <div class="page-title">
        <h1>@T("StoreClosed")</h1>
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>
</div>
