@model Nop.Plugin.ExternalAuth.Facebook.Models.ConfigurationModel

@inject Nop.Core.IWebHelper webHelper

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="FacebookAuthentication" asp-action="Configure" method="post">
	<section class="content">
		<div class="container-fluid">			
				<div class="card card-default">
					<div class="card-body">
						@Html.Raw(string.Format(T("Plugins.ExternalAuth.Facebook.Instructions").Text, webHelper.GetStoreLocation()))
						<div class="form-group row">
							<div class="col-md-3">
								<nop-label asp-for="ClientId" />
							</div>
							<div class="col-md-9">
								<nop-editor asp-for="ClientId" />
								<span asp-validation-for="ClientId"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-3">
								<nop-label asp-for="ClientSecret" />
							</div>
							<div class="col-md-9">
								<nop-editor asp-for="ClientSecret" />
								<span asp-validation-for="ClientSecret"></span>
							</div>
						</div>
						<div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
						</div>
					</div>
				</div>			
		</div>
	</section>
</form>