@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/ExternalAuth.Facebook/Content/facebookstyles.css");    
}
<div class="facebook-login-block">
    <div class="buttons">
        <a href="@Url.Action("Login", "FacebookAuthentication", new { ReturnUrl = this.Context.Request.Query["ReturnUrl"] })" class="facebook-btn"></a>
    </div>
</div>