@model Nop.Web.Areas.Admin.Models.Books.BookContentModel
@using Nop.Web.Areas.Admin.Models.Books
@{
    //page title
    ViewBag.PageTitle = "Books";
}

<div class="content-header clearfix">
    <h1 class="float-left">
        Books
    </h1>
    <div class="float-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            AddNew
        </a>
    </div>
</div>

<div asp-validation-summary="All"></div>
<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div id="book-form" class="search-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-4">
                            <button type="button" id="search-book" class="btn btn-primary btn-search">
                                <i class="fas fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                @await Html.PartialAsync("Table", new DataTablesModel
           {
               Name = "book-grid",
               UrlRead = new DataUrl("List", "Book", null),
               SearchButtonId = "search-book",
               Length = Model.Book.PageSize,
               LengthMenu = Model.Book.AvailablePageSizes,
               Filters = new List<FilterParameter>
                {
                new FilterParameter(nameof(Model.SearchName))
                },
               ColumnCollection = new List<ColumnProperty>
                {
                new ColumnProperty(nameof(BookModel.Id))
                {
                Title = "Id",
                Width = "10%"
                },
                new ColumnProperty(nameof(BookModel.Name))
                {
                Title = "Name",
                Width = "50%"
                },
                new ColumnProperty(nameof(BookModel.CreatedOn))
                {
                Title = "Name",
                Width = "20%",
                Render = new RenderDate()
                },
                new ColumnProperty(nameof(BookModel.Id))
                {
                Title = "Edit",
                Width = "10%",
                ClassName = NopColumnClassDefaults.Button,
                Render = new RenderButtonEdit(new DataUrl("Edit"))

                },
                new ColumnProperty(nameof(BookModel.Id))
                {
                Title = "Delete",
                Width = "10%",
                ClassName = NopColumnClassDefaults.Button,
                Render = new RenderButtonRemove("Delete")

                }

                }
           })
                <script>
                function table_deletedata_book_grid(id) {
                        $.ajax({
                            cache: false,
                            type: "get",
                            url: `delete/${id}`,
                            error: function (jqXHR, textStatus, errorThrown) {
                                showAlert('deleteSelectedFailed', errorThrown);
                            },
                            complete: function (jqXHR, textStatus) {
                                if (jqXHR.status === 204) {
                                    showAlert('nothingSelectedAlert', '@T("Admin.Common.Alert.NothingSelected")');
                                    return;
                                }
                                $('#book-grid').DataTable().ajax.reload();
                            }
                        });
                }
                </script>
            </div>
        </div>
    </div>
</section>


