@model Nop.Plugin.Widgets.AbcPickupInStore.Models.PickStoreModel
@using Nop.Web.Framework.UI
@using Nop.Web.Framework
@using Nop.Plugin.Misc.AbcCore;
@using Nop.Plugin.Misc.AbcCore.Services;
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Services.Configuration
@using Nop.Services.Localization
@using Nop.Web.Framework.Themes

@inject FrontEndService frontEndService;
@inject IStoreContext storeContext;

@{
    Layout = "";
    var currentStore = await storeContext.GetCurrentStoreAsync();
    bool isHawthorne = frontEndService.StoreIsHawthorne(currentStore);

    string storeSpecificColor = isHawthorne ? await HtmlHelpers.GetPavilionPrimaryColorAsync() : await HtmlHelpers.GetPavilionAccentColorAsync();
    string accentColor = "#" + storeSpecificColor;

    var productFlag = frontEndService.GetProductFlag(Model.ProductId);
    bool isOnlineOnly = productFlag != null && productFlag.PriceBucketImageUrl != null && productFlag.PriceBucketImageUrl.Contains("Online");

    string storeText = "";
    if (Model.SelectedShop != null)
    {
        storeText = ": " + Model.SelectedShop.Name;
    }
}

<style>
		/*general styles*/
		.delivery-method-selection {
			margin: 1rem 0;
		}

		#store_selector_widget {
			display: none;
		}

		a#display_edit_store {
			font-size: 1rem;
			color: blue;
			margin-left: 7px;
		}

		.radio-row {
			margin-top: 5px;
			text-align: left;
		}

		@@media all and (max-width: 768px) {
			.radio-row {
				margin-top: 15px;
			}
		}

		@@media all and (max-width: 450px) {
			.radio-row a#display_edit_store {
				display: block;
				margin-top: 10px;
			}
		}

		/*radio button styles*/

		.radio-input+.radio-label:before {
			width: 1rem;
			height: 1rem;
			border: 1px solid #aaa;
			border-radius: 50%;
			background-color: white;
			content: '';
			display: inline-block;
			position: absolute;
			top: 2px;
			left: 1px;
		}

		.radio-label {
			font-size: 1rem;
			padding-left: 1.5rem;
			margin-top: .5rem;
			position: relative;
		}

		.radio-input {
			display: none;
		}

		.radio-label:hover {
			color: @accentColor;
		}

		.radio-label:hover:before {
			border-color: @accentColor;
		}

		.radio-input:checked+.radio-label:after {
			width: 1rem;
			height: 1rem;
			content: '';
			border-radius: 50%;
			position: absolute;
			top: 2px;
			left: 1px;
			transform: scale(0.5);
			display: block;
			background-color: @accentColor;
		}

		.radio-input:disabled+.radio-label, .radio-input .is-disabled+.radio-label {
			color: #c3c3c3;
		}

		.radio-input:disabled+.radio-label:before, .radio-input .is-disabled+.radio-label:before {
			background-color: #e5e5e5;
			border-color: #c3c3c3;
		}

		div#zipcode-input-container {
			display:none;
		}
</style>

<script>
		$(function() {
			$('#zipcode_submit_btn').on('click', function () {
				$('#store_selector_widget').show();
				$('html, body').animate({
					scrollTop: $("#store_selector_widget").offset().top - 50
				}, 500);

				return false;
			});

			$('#home-delivery-radio').on('click', function () {
				$('#store_selector_widget').hide();
				$('#zipcode-input-container').hide();
			});

			$('#pickup-radio').on('click', function() {
				$('#zipcode-input-container').show();
			});
		});
</script>

<div class="delivery-method-selection">
    <div class="radio-row">
        <input id="home-delivery-radio" type="radio" class="radio-input" name="delivery-method" checked="checked" />
        <label class="radio-label" for="home-delivery-radio">
            Home Delivery
        </label>
    </div>
    @if (!isOnlineOnly)
    {
        <div class="radio-row">
            <input id="pickup-radio" type="radio" class="radio-input" name="delivery-method" />
            <label class="radio-label" for="pickup-radio">
                <span id="display_store_pretext">@Model.PickupInStoreText</span><span id="display_store_text">@storeText</span>
            </label>
			<div id="zipcode-input-container">
				<span class="title-subtext">Zipcode:&nbsp; </span>
				<input id="zipcode_input" type="text">
				<button id="zipcode_submit_btn" class="">Go</button>
			</div>
        </div>
    }

</div>
