@using Nop.Plugin.Misc.AbcCore.Domain;
@using System.Linq;
@model AbcPromo[]

@{
    Html.AddCssFileParts("~/Plugins/Widgets.AbcPromos/styles/product-box.css");
}

@for (int i = 0; i < 2; i++)
{
    var promo = Model[i];
    if (promo != null) {
        <a class="product-box-specials" href="@promo.GetPopupCommand()">@promo.Description</a>
    }
    else
    {
        <a class="product-box-specials">&nbsp;</a>
    }
}
