@model LogoModel
    <div class="display-flex flex-wrap justify-content-res">
        <div class="social-item-closed">
            <a href="https://www.youtube.com/channel/UC3oLbGlXeDOyY61c2uzFgsg" target="_blank">
                <div class="display-flex align-items-center">
                    <div class="s-account-img">
                        <img alt="الريشة" src="~/images/socialLogos/arreshaar.jpg" />
                    </div>
                    <div class="s-account-info">
                        <h3>الريشة</h3>
                        <div>320k+ Subscribers</div>
                        <div>Arabic</div>
                    </div>
                </div>
                <hr class="arresha-hr" />
                <div class="social-logo text-center">
                    <img src="~/images/socialLogos/youtube.svg" />
                </div>

            </a>
        </div>
        <div class="social-item-closed">
            <a href="https://www.youtube.com/channel/UC_kOmsEmXGYb0_tUJlCdwAQ" target="_blank">
                <div class="display-flex align-items-center">
                    <div class="s-account-img">
                        <img alt="Arresha" src="~/images/socialLogos/EnglishChannelios.png" />
                    </div>
                    <div class="s-account-info">
                        <h3>Arresha</h3>
                        <div>10k+ Subscribers</div>
                        <div>English</div>
                    </div>
                </div>
                <hr class="arresha-hr" />
                <div class="social-logo text-center">
                    <img src="~/images/socialLogos/youtube.svg" />
                </div>

            </a>
        </div>
        <div class="social-item-closed">
            <a href="https://www.instagram.com/tawfiq.as/" target="_blank">
                <div class="display-flex align-items-center">
                    <div class="s-account-img">
                        <img alt="Arresha_studios" src="~/images/socialLogos/arreshaar.jpg" />
                    </div>
                    <div class="s-account-info">
                        <h3>Tawfiq Abuhalawah</h3>
                        <div>3.5k+ Followers</div>
                        <div>English / Arabic</div>
                        <div>@@tawfiq.as</div>
                    </div>
                </div>
                <hr class="arresha-hr" />
                <div class="social-logo text-center">
                    <img src="~/images/socialLogos/instagram.svg" />
                </div>

            </a>
        </div>
        <div class="social-item-closed">
            <a href="https://www.facebook.com/ArreshaStudios" target="_blank">
                <div class="display-flex align-items-center">
                    <div class="s-account-img">
                        <img alt="Arresha_studios" src="~/images/socialLogos/arreshaFB.png" />
                    </div>
                    <div class="s-account-info">
                        <h3>Arresha - الريشة</h3>
                        <div>23k+ Likes</div>
                        <div>Arabic</div>
                        <div>@@arreshaStudios</div>
                    </div>
                </div>
                <hr class="arresha-hr" />
                <div class="social-logo text-center">
                    <img src="~/images/socialLogos/facebook.svg" />
                </div>

            </a>
        </div>
        <div class="social-item-closed">
            <a href="https://twitter.com/arreshaStudios" target="_blank">
                <div class="display-flex align-items-center">
                    <div class="s-account-img">
                        <img alt="Arresha_studios" src="~/images/socialLogos/arreshaar.jpg" />
                    </div>
                    <div class="s-account-info">
                        <h3>Tawfiq Abuhalawah</h3>
                        <div>1.5k+ Followers</div>
                        <div>English / Arabic</div>
                        <div>@@arreshaStudios</div>
                    </div>
                </div>
                <hr class="arresha-hr" />
                <div class="social-logo text-center">
                    <img src="~/images/socialLogos/twitter.svg" />
                </div>
            </a>
        </div>
        <div class="social-item-closed">

        </div>
    </div>