@model BlogPostTagListModel

@if (Model.Tags.Count > 0)
{
    <div class="block block-popular-blogtags well box-shadow-wrapper">
        <div class="title main-title" >
            <strong>@T("Blog.TagCloud")</strong>
        </div>
        <div class="listbox">
            <ul class="nav nav-list">
                @foreach (var item in Model.Tags)
                {
                    <li><a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}