<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.4" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" />
  <package id="SqlServerCompact" version="4.0.8854.1" />
</packages>