@using Nop.Plugin.Misc.PowerBI
@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName(PowerBIDefaults.SystemName);
}

<h1>Power BI (official plugin)</h1>

<p>This Power BI integration by the nopCommerce team provides businesses with advanced analytics, comprehensive reports, and real-time insights to optimize their daily operations.</p>

<p>From detailed sales analysis and customer behavior tracking to geographical and order statuses, the plugin helps make informed decisions, enhance performance, and tailor strategies for growth.</p>

<p>The installation package includes 13 comprehensive reports covering key aspects of business data:</p>

<ul>
    <li>Sales Summary</li>
    <li>Sales History</li>
    <li>Sales by Day of Week</li>
    <li>Sales by Shipping Address</li>
    <li>Order Overview</li>
    <li>Orders by Status</li>
    <li>Average Order Value</li>
    <li>Latest 20 Orders</li>
    <li>Top Products</li>
    <li>Monthly Performance</li>
    <li>Year-to-year comparison</li>
    <li>Customers</li>
    <li>Advanced Product Search</li>
</ul>

<p>The source code ensures the ability to customize existing reports and add new ones.</p>


<a href="https://www.nopcommerce.com/microsoft-power-bi?utm_source=admin-panel&utm_medium=menu&utm_campaign=PowerBI&utm_content=configuration" target="_blank" class="btn btn-primary">Get the plugin</a>
