<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nop.Plugin.Shipping.Fedex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nop.Plugin.Shipping.Fedex.Properties.Settings>
            <setting name="Nop_Plugin_Shipping_Fedex_RateServiceWebReference_RateService"
                serializeAs="String">
                <value>https://gatewaybeta.fedex.com:443/web-services/rate</value>
            </setting>
        </Nop.Plugin.Shipping.Fedex.Properties.Settings>
    </applicationSettings>
</configuration>