@model ConfigModel

@using Nop.Plugin.Misc.AbcExportOrder.Models

@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="AbcExportOrder" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="OrderIdPrefix" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="OrderIdPrefix" />
                        <span asp-validation-for="OrderIdPrefix"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="TablePrefix" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TablePrefix" />
                        <span asp-validation-for="TablePrefix"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FailureAlertEmail" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FailureAlertEmail" />
                        <span asp-validation-for="FailureAlertEmail"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>