@model ConfigModel

@using Nop.Plugin.Misc.AbcExportOrder.Models

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="AbcExportOrder" asp-action="Configure" method="post">
	<div class="cards-group">
		<div class="card card-default">
			<div class="card-body">
				<div class="form-group row">
					<div class="col-md-3">
						<nop-override-store-checkbox asp-for="OrderIdPrefix_OverrideForStore" asp-input="OrderIdPrefix" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
						<nop-label asp-for="OrderIdPrefix" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="OrderIdPrefix" />
						<span asp-validation-for="OrderIdPrefix"></span>
					</div>
				</div>
                <div class="form-group row">
					<div class="col-md-3">
						<nop-override-store-checkbox asp-for="TablePrefix_OverrideForStore" asp-input="TablePrefix" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
						<nop-label asp-for="TablePrefix" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="TablePrefix" />
						<span asp-validation-for="TablePrefix"></span>
					</div>
				</div>
                <div class="form-group row">
					<div class="col-md-3">
						<nop-override-store-checkbox asp-for="FailureAlertEmail_OverrideForStore" asp-input="FailureAlertEmail" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
						<nop-label asp-for="FailureAlertEmail" />
					</div>
					<div class="col-md-9">
						<nop-editor asp-for="FailureAlertEmail" />
						<span asp-validation-for="FailureAlertEmail"></span>
					</div>
				</div>
				<div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
				</div>
			</div>
		</div>		
	</div>
</form>