@model SearchModel

@if (Model.CatalogProductsModel.Products.Count > 0)
{
    <div class="@(Model.CatalogProductsModel.ViewMode == "list" ? "product-list" : "product-grid")">
        <div class="item-grid">
            @foreach (var product in Model.CatalogProductsModel.Products)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", product)
                </div>
            }
        </div>
    </div>

    var pager = Html.Pager(Model.CatalogProductsModel)
        .QueryParam("pagenumber")
        // for search page
        .BooleanParameterName("advs")
        .BooleanParameterName("isc")
        .BooleanParameterName("sid")
        .RenderEmptyParameters(true);

    @if (!await pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
}
else if (!string.IsNullOrEmpty(Model.CatalogProductsModel.NoResultMessage))
{
    <div class="no-result">
        @Model.CatalogProductsModel.NoResultMessage
    </div>
}