@model RichBlogSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="BlogCategoryNavigationWidgetZone_OverrideForStore" asp-input="BlogCategoryNavigationWidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="BlogCategoryNavigationWidgetZone"/>
        </div>
        <div class="col-md-9">
            <nop-select asp-for="BlogCategoryNavigationWidgetZone" asp-items="Model.AvailableBlogCategoryNavigationWidgetZones" />
        </div>
    </div>
</div>