@model RichBlogSettingsModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="BlogListImageWidgetZone_OverrideForStore" asp-input="BlogListImageWidgetZone" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="BlogListImageWidgetZone" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="BlogListImageWidgetZone" asp-items="Model.AvailableBlogListImageWidgetZones" />
                </div>
            </div>
        </div>
    </div>
</div>