@using Nop.Plugin.Widgets.PowerReviews.Models

@model ListingModel


<div id="pr_snippet_product_@Model.ProductId">
  <span style="display: none" class="product-box-sku">@Model.ProductSku</span>
</div>
