@model ConfigurationModel

@using Nop.Plugin.Misc.InfigoProductProvider.Models
@using Nop.Web.Areas.Admin.Components

@{
    Layout = "_ConfigurePlugin";
}

<link rel="stylesheet" href="~/Plugins/Misc.Sendinblue/Content/styles.css"/>

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="InfigoProductProvider" asp-action="Configure" method="post">
    <div class="form-group">
        <label asp-for="UserName">Username</label>
        <input type="text" asp-for="UserName" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ApiBase">Api base</label>
        <input type="text" asp-for="ApiBase" placeholder="Api base" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ProductListUrl">Product list url</label>
        <input type="text" asp-for="ProductListUrl" placeholder="Product list url" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ProductDetailsUrl">Product details url</label>
        <input type="text" asp-for="ProductDetailsUrl" placeholder="Product details url" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>