@model ConfigurationModel

@using Nop.Plugin.Misc.InfigoProductProvider.Models

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="InfigoProductProvider" asp-action="Configure" method="post">
    <div class="form-group">
        <nop-label asp-for="ApiUserName"/>
        <input type="text" asp-for="ApiUserName" placeholder="Username" class="form-control">
    </div>
    <div class="form-group">
        <nop-label asp-for="ApiBase"/>
        <input type="text" asp-for="ApiBase" placeholder="Api base" class="form-control">
    </div>
    <div class="form-group">
        <nop-label asp-for="ProductListUrl"/>
        <input type="text" asp-for="ProductListUrl" placeholder="Product list url" class="form-control">
    </div>
    <div class="form-group">
        <nop-label asp-for="ProductDetailsUrl"/>
        <input type="text" asp-for="ProductDetailsUrl" placeholder="Product details url" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
@* For testing *@
<form asp-controller="InfigoProductProvider" asp-action="Re">
    <button type="submit">request</button>
</form>