@model BlogSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="AllowNotRegisteredUsersToLeaveComments_OverrideForStore" asp-input="AllowNotRegisteredUsersToLeaveComments" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowNotRegisteredUsersToLeaveComments" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AllowNotRegisteredUsersToLeaveComments" />
            <span asp-validation-for="AllowNotRegisteredUsersToLeaveComments"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="BlogCommentsMustBeApproved_OverrideForStore" asp-input="BlogCommentsMustBeApproved" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="BlogCommentsMustBeApproved" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="BlogCommentsMustBeApproved" />
            <span asp-validation-for="BlogCommentsMustBeApproved"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="NotifyAboutNewBlogComments_OverrideForStore" asp-input="NotifyAboutNewBlogComments" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="NotifyAboutNewBlogComments" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="NotifyAboutNewBlogComments" />
            <span asp-validation-for="NotifyAboutNewBlogComments"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="ShowBlogCommentsPerStore" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShowBlogCommentsPerStore" />
            <span asp-validation-for="ShowBlogCommentsPerStore"></span>
        </div>
    </div>
</div>