@model GeneralCommonSettingsModel

<div class="card-body">
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="MinificationSettings.EnableHtmlMinification_OverrideForStore" asp-input="MinificationSettings.EnableHtmlMinification" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="MinificationSettings.EnableHtmlMinification" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MinificationSettings.EnableHtmlMinification" />
            <span asp-validation-for="MinificationSettings.EnableHtmlMinification"></span>
        </div>
    </div>
    <div class="form-group row advanced-setting">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="MinificationSettings.UseResponseCompression_OverrideForStore" asp-input="MinificationSettings.UseResponseCompression" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="MinificationSettings.UseResponseCompression" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="MinificationSettings.UseResponseCompression" />
            <span asp-validation-for="MinificationSettings.UseResponseCompression"></span>
        </div>
    </div>
</div>
