@model GeneralCommonSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LocalizationSettings.LoadAllLocaleRecordsOnStartup" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LocalizationSettings.LoadAllLocaleRecordsOnStartup" />
            <span asp-validation-for="LocalizationSettings.LoadAllLocaleRecordsOnStartup"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LocalizationSettings.LoadAllLocalizedPropertiesOnStartup" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LocalizationSettings.LoadAllLocalizedPropertiesOnStartup" />
            <span asp-validation-for="LocalizationSettings.LoadAllLocalizedPropertiesOnStartup"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LocalizationSettings.LoadAllUrlRecordsOnStartup" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LocalizationSettings.LoadAllUrlRecordsOnStartup" />
            <span asp-validation-for="LocalizationSettings.LoadAllUrlRecordsOnStartup"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LocalizationSettings.UseImagesForLanguageSelection" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LocalizationSettings.UseImagesForLanguageSelection" />
            <span asp-validation-for="LocalizationSettings.UseImagesForLanguageSelection"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LocalizationSettings.SeoFriendlyUrlsForLanguagesEnabled" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LocalizationSettings.SeoFriendlyUrlsForLanguagesEnabled" />
            <span asp-validation-for="LocalizationSettings.SeoFriendlyUrlsForLanguagesEnabled"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label asp-for="LocalizationSettings.AutomaticallyDetectLanguage" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="LocalizationSettings.AutomaticallyDetectLanguage" />
            <span asp-validation-for="LocalizationSettings.AutomaticallyDetectLanguage"></span>
        </div>
    </div>
</div>