@model GeneralCommonSettingsModel

<div class="card-body">
    <p>
        @T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.Description")
    </p>
    <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <button type="button" name="uploadicons" class="btn bg-olive" data-toggle="modal" data-target="#uploadicons-window">
                <i class="fas fa-upload"></i>
                @T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIcons")
            </button>
        </div>
    </div>
</div>