@model ShippingSettingsModel

<div class="card-body">
    <div class="card card-default">
        <div class="card-header">
            <nop-override-store-checkbox asp-for="ShippingOriginAddress_OverrideForStore" asp-parent-container="pnlShippingOriginAddress" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            @T("Admin.Configuration.Settings.Shipping.ShippingOriginAddress")
        </div>
        <div class="card-body">
            <div id="pnlShippingOriginAddress">
                <nop-editor asp-for="ShippingOriginAddress" asp-template="Address"/>
            </div>
        </div>
    </div>
</div>
