@using Nop.Core.Infrastructure
@using Nop.Services.Helpers
@{
    var dateTimeHelper = EngineContext.Current.Resolve<IDateTimeHelper>();
}
<div class="forums-header">
    <div class="current-time">
        @dateTimeHelper.ConvertToUserTime(DateTime.UtcNow).ToString("F")
    </div>
    @Html.Partial("_SearchBox")
</div>