@model ActiveDiscussionsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("Forum.PageTitle.ActiveDiscussions").Text);
    //page class
    Html.AppendPageCssClassParts("html-active-discussions-page");
}
<div class="page active-discussions-page">
    @await Component.InvokeAsync("ForumBreadcrumb")
    @await Html.PartialAsync("_ForumHeader")
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_activediscussions_after_header" })
    @await Html.PartialAsync("_ActiveTopics", Model)
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_activediscussions_after_topics" })
</div>
