@model BoardsIndexModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("Forum.PageTitle.Default").Text);
    //page class
    Html.AppendPageCssClassParts("html-forums-main-page");
}
<div class="page forums-main-page">
    @await Component.InvokeAsync("TopicBlock", new { systemName = "ForumWelcomeMessage" })
    @await Html.PartialAsync("_ForumHeader")
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_main_after_header" })
    @foreach (var forumGroup in Model.ForumGroups)
    {
        Html.RenderPartial("_ForumGroup", forumGroup);
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_main_before_activediscussions" })
    @await Component.InvokeAsync("ForumActiveDiscussionsSmall")
    @await Component.InvokeAsync("Widget", new { widgetZone = "boards_main_after_activediscussions" })
</div>
