@model EditForumTopicModel
@{
    Layout = "_ColumnsOne";

    Html.AddTitleParts(T("Forum.PageTitle.TopicEdit").Text);
}
@await Component.InvokeAsync("Widget", new { widgetZone = "boards_topicedit_before", additionalData = Model.Id })
<form asp-route="TopicEdit" method="post">
    @await Html.PartialAsync("_CreateUpdateTopic", Model)
</form>
@await Component.InvokeAsync("Widget", new { widgetZone = "boards_topicedit_after", additionalData = Model.Id })
