<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nop.Plugin.Payments.PayPalDirect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nop.Plugin.Payments.PayPalDirect.Properties.Settings>
            <setting name="Nop_Plugin_Payments_PayPalDirect_PayPalSvc_PayPalAPIInterfaceService" serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
        </Nop.Plugin.Payments.PayPalDirect.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
