@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    NopHtml.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-account-page");
    NopHtml.AppendPageCssClassParts("html-change-password-page");
    var returnUrl = Context.Request.Query["returnUrl"];
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title section-head">
        <h2>@T("Account.MyAccount") - @T("Account.ChangePassword")</h2>
    </div>
    <div class="page-body">
        <div class="px-category-bg">
            <div class="px_password_change">
                <form asp-route="CustomerChangePassword" method="post" autocomplete="off" asp-route-returnurl="@returnUrl">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>                
                    <div class="px_register_input">
                        <div class="inputs">
                            <div class="px_input_field">
                                <span class="pi-padlock1 px_icon"></span>
                                <input asp-for="OldPassword" placeholder="Old Password" />
                            </div>
                            <nop-required />
                            <span asp-validation-for="OldPassword"></span>
                        </div>
                    </div>

                    <div class="px_register_input">
                        <div class="inputs">
                            <div class="px_input_field">
                                <span class="pi-padlock1 px_icon"></span>
                                <input asp-for="NewPassword" placeholder="New Password" />
                            </div>
                            <nop-required />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                    </div>

                    <div class="px_register_input">
                        <div class="inputs">
                            <div class="px_input_field">
                                <span class="pi-padlock1 px_icon"></span>
                                <input asp-for="ConfirmNewPassword" placeholder="ConfirmNew Password" />
                            </div>
                            <nop-required />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>

                   
                    <div class="buttons">
                        <button type="submit" class="button-1 change-password-button primary-btn">@T("Account.ChangePassword.Button")</button>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</div>