@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="section-head">
        <h2>@T("Account.PasswordRecovery")</h2>
    </div>
    <div class="page-body section-width">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                    <div class="px_register_input">
                        <div class="inputs">
                            <div class="px_input_field">
                                <span class="pi-mail-2 px_icon"></span>
                                <input asp-for="Email" class="email" placeholder="Your Email ID" />
                            </div>
                            <nop-required />
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button primary-btn">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div>
        </form>
    </div>
</div>