@{
    var errors = ExternalAuthorizerHelper.RetrieveErrorsToDisplay(true);
}
@using Nop.Services.Authentication.External;
@if (errors != null && errors.Count > 0)
{
    <div class="external-auth-errors">
        @for (int i = 0; i < errors.Count; i++)
        {
            @errors[i]
            if (i != errors.Count - 1)
            {
            <br />
            }
        }
    </div>
}