<<<<<<< HEAD
<<<<<<< HEAD
﻿@using Nop.Core.Http.Extensions
@using Nop.Services.Authentication

@{

    var session = Context.Session;

    var errors = session.Get<IList<string>>(NopAuthenticationDefaults.ExternalAuthenticationErrorsSessionKey);

    if (errors != null)
        session.Remove(NopAuthenticationDefaults.ExternalAuthenticationErrorsSessionKey);
}

@if (errors != null && errors.Count > 0)
{
    <div class="external-auth-errors">
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
=======
=======
=======
<<<<<<< HEAD
>>>>>>> 974287325803649b246516d81982b95e372d09b9
﻿@using Nop.Core.Http.Extensions
@using Nop.Services.Authentication

@{

    var session = Context.Session;

    var errors = session.Get<IList<string>>(NopAuthenticationDefaults.ExternalAuthenticationErrorsSessionKey);

    if (errors != null)
        session.Remove(NopAuthenticationDefaults.ExternalAuthenticationErrorsSessionKey);
}

@if (errors != null && errors.Count > 0)
{
    <div class="external-auth-errors">
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
<<<<<<< HEAD
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
=======
=======
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
﻿@using Nop.Core.Http.Extensions
@using Nop.Services.Authentication

@{

    var session = Context.Session;

    var errors = session.Get<IList<string>>(NopAuthenticationDefaults.ExternalAuthenticationErrorsSessionKey);

    if (errors != null)
        session.Remove(NopAuthenticationDefaults.ExternalAuthenticationErrorsSessionKey);
}

@if (errors != null && errors.Count > 0)
{
    <div class="external-auth-errors">
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
<<<<<<< HEAD
=======
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
>>>>>>> cf758b6c548f45d8d46cc74e51253de0619d95dc
>>>>>>> 974287325803649b246516d81982b95e372d09b9
}