@{
    var errors = ExternalAuthorizerHelper.RetrieveErrorsToDisplay(true);
}
@using Nop.Services.Authentication.External;
@if (errors != null && errors.Count > 0)
{
    <div class="external-auth-errors">
        <ul>
            @for (int i = 0; i < errors.Count; i++)
            {
                <li>@errors[i]</li>
            }
        </ul>
    </div>
}