@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <input asp-for="Email" class="email" />
                        <nop-required />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons">
                <button type="submit" name="send-email" class="button-1 password-recovery-button">@T("Account.PasswordRecovery.RecoverButton")</button>
            </div>
        </form>        
    </div>
</div>