@model Nop.Web.Models.Customer.RegisterResultModel
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
}
<div class="registration-page">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="body">
        <div class="section-body">
            <p>
                @Model.Result
            </p>
        </div>
    </div>
</div>