@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var continueUrl = "";
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        continueUrl = this.Context.Request.QueryString["returnUrl"];
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}
<div class="page registration-result-page">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="page-body">
        <div class="section-body">
            @Model.Result
        </div>
        <div class="buttons">
            <a href="@continueUrl" data-role="button">@T("Account.Register.Result.Continue")</a>
        </div>
    </div>
</div>
