@model JCarouselSettingsModel
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    NopHtml.SetActiveMenuItemSystemName("SevenSpikes.JCarousel.Admin.Submenus.ManageSettings");
}

<form method="post">

    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i><a asp-action="List">@T("SevenSpikes.JCarousel.Admin.BackToList")</a></small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn bg-primary save-settings-button">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-primary save-settings-button">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @{ await Html.RenderPartialAsync(Views.CreateOrUpdate, Model); }
</form>