@model JCarouselSettingsModel
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.JCarousel.Admin.Submenus.ManageSettings");
}

<form method="post">

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i><a asp-action="List">@T("SevenSpikes.JCarousel.Admin.BackToList")</a></small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue save-settings-button">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @await Html.PartialAsync(Views.CreateOrUpdate, Model)
</form>