@model SevenSpikes.Nop.Plugins.HtmlWidgets.Areas.Admin.Models.HtmlWidgetModel
@{
    Layout = AdminViewLocations.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("SevenSpikes.Plugins.HtmlWidgets.Admin.Submenus.ManageHtmlWidgets");
}

<form method="post" id="html-widgets-form">
    <nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Common.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("(" + T("SevenSpikes.Plugins.HtmlWidgets.Admin.Entities.HtmlWidget.BackToList") + ")", "List")</small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn bg-primary save-settings-button">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-primary save-settings-button">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>

    @await Html.PartialAsync(Views.CreateOrUpdate, Model)
</form>