@model Nop.Plugin.MultiFactorAuth.GoogleAuthenticator.Models.TokenModel

<form asp-controller="Authentication" asp-action="VerifyGoogleAuthenticator" method="post">
    <div class="inputs">
        <label asp-for="Token" asp-postfix=":"></label>
        <input asp-for="Token" class="username" autofocus="autofocus" />
        <span asp-validation-for="Token"></span>
    </div>
    <div class="form-group row">    
        <div class="buttons">
            <button id="googleAuthSendCode_submit" type="submit" name="save-info-button" class="button-1 save-customer-info-button">@T("Plugins.MultiFactorAuth.GoogleAuthenticator.Customer.SendCode")</button>
        </div>
    </div>
</form>