@{
    Layout = "";
}
@model Nop.Plugin.Payments.MercadoPago.Models.PaymentInfoModel
<h1>Hello world</h1>

<button>
    <a asp-route="UrlCheckout">Pagar</a>
</button>
<form action="/procesar-pago" method="POST">
    <script src="https://www.mercadopago.com.ar/integrations/v1/checkout.js"
            data-public-key="TEST-635b1007-6bfb-4dd0-a22a-b9831a272906"
            data-transaction-amount="100.00">
    </script>
</form>

<fieldset>
    <ul>
        <li>
            <label for="email">Email</label>
            <input id="email" name="email" value="test_user_19653727@testuser.com" type="email" placeholder="your email" />
        </li>
        <li>
            <label for="cardNumber">Credit card number:</label>
            <input type="text" id="cardNumber" data-checkout="cardNumber" placeholder="4509 9535 6623 3704" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </li>
        <li>
            <label for="securityCode">Security code:</label>
            <input type="text" id="securityCode" data-checkout="securityCode" placeholder="123" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </li>
        <li>
            <label for="cardExpirationMonth">Expiration month:</label>
            <input type="text" id="cardExpirationMonth" data-checkout="cardExpirationMonth" placeholder="12" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </li>
        <li>
            <label for="cardExpirationYear">Expiration year:</label>
            <input type="text" id="cardExpirationYear" data-checkout="cardExpirationYear" placeholder="2015" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
        </li>
        <li>
            <label for="cardholderName">Card holder name:</label>
            <input type="text" id="cardholderName" data-checkout="cardholderName" placeholder="APRO" />
        </li>
        <li>
            <label for="docType">Document type:</label>
            <select id="docType" data-checkout="docType"></select>
        </li>
        <li>
            <label for="docNumber">Document number:</label>
            <input type="text" id="docNumber" data-checkout="docNumber" placeholder="12345678" />
        </li>
    </ul>
    <input type="hidden" name="paymentMethodId" />
    <input type="submit" value="Pay!" />
</fieldset>

<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td>
            <label asp-for="CreditCardTypes">@T("Payment.SelectCreditCard"):</label>
        </td>
        <td>
            <select asp-for="CreditCardType" asp-items="Model.CreditCardTypes" class="dropdownlists"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardNumber" style="width:165px;" autocomplete="off" maxlength="22" />
            <span asp-validation-for="CardNumber"></span>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="ExpireMonth">@T("Payment.ExpirationDate"):</label>
        </td>
        <td>
            <select asp-for="ExpireMonth" asp-items="Model.ExpireMonths"></select>
            /
            <select asp-for="ExpireYear" asp-items="Model.ExpireYears"></select>
        </td>
    </tr>
    <tr>
        <td>
            <label asp-for="CardCode">@T("Payment.CardCode"):</label>
        </td>
        <td>
            <input type="text" asp-for="CardCode" style="width:60px;" autocomplete="off" maxlength="4" />
            <span asp-validation-for="CardCode"></span>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () { 
        async('https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js', function () {
            Mercadopago.setPublishableKey("TEST-635b1007-6bfb-4dd0-a22a-b9831a272906");
        });        
    })

    function async(u, c) {
        var d = document, t = 'script',
            o = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
        s.parentNode.insertBefore(o, s);
    }

    function tokenHandler(res) {
        console.log(res);
    }

    function createToken() {
        Mercadopago.createToken(form, tokenHandler);
    }
</script>
