@{
    var errors = ExternalAuthorizerHelper.RetrieveErrorsToDisplay(true);
}
@using Nop.Services.Authentication.External;
@if (errors != null && errors.Count > 0)
{
    <div class="external-auth-errors">
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}