@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}
<div class="page registration-result-page">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="page-body">
        <div class="result">
            @Model.Result
        </div>
        <div class="buttons">
            <a href="@Model.ReturnUrl" class="button-1 register-continue-button">@T("Common.Continue")</a>
        </div>
    </div>
</div>