@model string

@{
    Html.AddCssFileParts("~/Plugins/Widgets.PercentOffAppliancesMessage/styles/style.css");
}

<div id="percent-off-appliances-message" style="font-weight: bold;">
    Save an additional 5% and pay only <span class="discounted-price">@Model</span> on eligible in-store purchases. <a href="/policies-information#5-percent-offer" target="_blank"><span class="learn-more-text">Learn More</span></a>
</div>