@model string

@{
    Html.AddCssFileParts("~/Plugins/Widgets.PercentOffAppliancesMessage/styles/style.css");
}

<div id="percent-off-appliances-message" style="font-weight: bold;">
    Pay only <span>@Model</span> on select appliances in-store only. <a href="/policies-information#5-percent-offer" target="_blank">Learn More</a>
</div>