@model string

@{
    Html.AddCssFileParts("~/Plugins/Widgets.PercentOffAppliancesMessage/styles/style.css");
}

<div id="percent-off-appliances-message" style="font-weight: bold;">
    Save an additional 5% and pay only <span>@Model</span> on eligible in-store purchases. <a href="/policies-information#5-percent-offer" target="_blank">Learn More</a>
</div>