@model BlogPostTagListModel
@if (Model.Tags.Count > 0)
{
    <section class="block block-popular-blogtags">
        <h2 class="title">
            @T("Blog.TagCloud")
        </h2>
        <div class="listbox">
            <ul class="tags">
                @foreach (var item in Model.Tags)
                {
                    <li><a href="@Url.RouteUrl(NopRouteNames.Standard.BLOG_BY_TAG, new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                    </li>
                }
            </ul>
        </div>
    </section>
}