.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}

.tooltip .top {
    min-width: 18rem; 
    top: -20px;
    left: 50%;
    transform: translate(-90%, -100%);
    padding: 1rem;
    color: #444444;
    background-color: #EEEEEE;
    font-weight: normal;
    font-size: 0.75rem;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
    display: none;
    border: 1px solid gray;
}

.tooltip:hover .top {
    display: block;
}

.tooltip .top i {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.tooltip .top i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: #EEEEEE;
    box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}

@media (min-width: 768px) {
    .tooltip .top {
        transform: translate(-50%, -100%);
    }

    .tooltip .top i {
        display: block;
    }
}