.foo{}
/* MISC. CLASSES */
.searchbox{margin: 0 0 15px 0px;}
.htmlcontent{padding-bottom:5px;}
.htmlcontent-title{padding:0 0 5px;clear:both;}
.htmlcontent-header{font-size:1.2em;font-weight:700;}
.htmlcontent-body{}
.htmlcontent-body a{text-decoration:underline;}
.page-title{}
.topicpage{padding-left:0;}
.topicpage .topicpage-body{}
.topicpage .topicpage-body a{text-decoration:underline;}
.user-agreement-page{}
.user-agreement-page .page-body{}
.clear{border:medium none;clear:both;float:none;font-size:0;height:0;line-height:0;}
.nobr{white-space:nowrap!important;}
.message-error{font-family:Verdana, Arial, sans-serif;font-weight:700;color:red;}
.validation-summary-errors{font-family:Verdana, Arial, sans-serif;font-weight:700;color:red;}
.field-validation-error{font-family:Verdana, Arial, sans-serif;font-weight:700;color:red;}
.changedevice{text-align:center;}
.changedevice a{text-decoration:none;}
.currencyselector,.taxdisplaytypeselector,.languageselector{}
.currencyselector .title,.taxdisplaytypeselector .title,.languageselector .title{font-weight:700;}
.homepage-logo {}
/* PAGER */
.pager{text-align:center;}
.pager a{font-size:1em;}
.pager a:link{text-align:center;}
.pager span{font-size:1.2em;font-weight:700;}
/* NAVIGATIONS */
.block{margin-bottom:15px;padding-bottom:5px;padding-left:0;color:#FFF;}
.block .title{font-size:.9em;font-weight:700;text-transform:uppercase;padding:7px 10px;color:#333;}
/* ORDER SUMMARY, SHOPPING CART, WISHLIST */
.shoppingcart-page,.wishlist-page{}
.shoppingcart-page .body,.wishlist-page .body{}
.wishlist .shareinfo{}
.wishlist .shareinfo .sharelabel{}
.wishlist .shareinfo .sharelink{}
.order-summary-content{}
.wishlist-content{}
.order-summary-content .totals{padding:23px 0 0 0;}
.order-summary-content .cart-collaterals{padding:20px 0 10px;}
.order-summary-content .deals{margin:0 20px 0 0;}
.order-summary-content .coupon-box,.order-summary-content .giftcard-box{padding:10px;background:#F7F5E8;margin:0 0 10px;border:dotted 1px #d3d3d3;}
.order-summary-content .coupon-box .current-code{}
.order-summary-content .giftcard-box{}
.order-summary-content .cart,.wishlist-content .cart{}
.wishlist-content .cart{margin-bottom:10px;}
.order-summary-content .cart .cart-item-row,.wishlist-content .cart .cart-item-row{font-weight:normal;}
.order-summary-content .cart .cart-item-row .product,.wishlist-content .cart .cart-item-row .product{text-align:left;;}
.order-summary-content .cart .cart-item-row .product a,.wishlist-content .cart .cart-item-row .product a{}
.order-summary-content .cart .cart-item-row .sku,.wishlist-content .cart .cart-item-row .sku{}
.order-summary-content .cart .cart-item-row .quantity,.wishlist-content .cart .cart-item-row .quantity{}
.order-summary-content .cart .cart-item-row .unitprice,.wishlist-content .cart .cart-item-row .unitprice{color:Green;}
.order-summary-content .cart .cart-item-row .totalprice,.wishlist-content .cart .cart-item-row .totalprice{color:Green;}
.order-summary-content .cart .cart-item-row .remove,.wishlist-content .cart .cart-item-row .remove{}
.order-summary-content .cart .cart-item-row .shoppingcartquantitytext,.wishlist-content .cart .cart-item-row .shoppingcartquantitytext{width:100px;}
.order-summary-content .cart-footer{}
.order-summary-content .total-info{margin:0;}
.cart_total_left{text-align:left;vertical-align:top;font-weight:700;color:#353434;}
.cart_total_left_below{text-align:left;vertical-align:top;height:30px;}
.cart_total_right{text-align:left;vertical-align:middle;padding-left:5px;}
.order-summary-content .removediscountbutton{}
.order-summary-content .removegiftcardbutton{}
.order-summary-content .selected-checkout-attributes{margin:0;padding:0;width:100%;text-align:right;vertical-align:middle;color:#353434;}
.order-summary-content .checkout-attributes{margin:10px 0;padding:10px 20px;background:none repeat scroll 0 0 #F7F5E8;border:1px dotted #D3D3D3;}
.order-summary-content .checkout-attributes .textprompt{font-weight:bold;}
.order-summary-content .min-amount-warning{margin:0;padding:10px 0 10px 10px;}
.order-summary-content .terms-of-service{margin:0;padding:0;}
.order-summary-content .terms-of-service .read{text-decoration:underline;}
.order-summary-content .common-buttons{margin:0;padding:10px;}
.order-summary-content .checkout-buttons{margin:0;padding:0;}
.order-summary-content .addon-buttons{clear:both;margin:0;padding:10px;text-align:right;}
/* CHECKOUT, ORDER DETAILS */
.checkout-page{}
.checkout-page .checkout-data{margin:0;padding:0;background-color:inherit;}
.order-summary-title{padding:10px;font-weight:700;clear:both;}
.order-summary-body{text-align:center;margin:10px;}
.checkout-data .select-address-title{font-weight:700;clear:both;}
.checkout-data .address-grid{margin:0;padding:0;}
.checkout-data .address-grid .address-item{font-weight:normal;}
.checkout-data .address-grid .address-item .select-button{}
.checkout-data .address-grid .address-item .address-box{}
.checkout-data .enter-address-title{font-weight:700;clear:both;}
.checkout-data .enter-address{}
.checkout-data .enter-address .enter-address-body{text-align:left;margin:10px;}
.checkout-data .enter-address .buttons{margin:10px;text-align:left;}
.checkout-data .enter-address .the-same-address{text-align:left;margin:10px;}
.checkout-data .shipping-options{text-align:left;height:auto;}
.checkout-data .shipping-options .shipping-option-item{text-align:left;vertical-align:text-top;}
.checkout-data .shipping-options .shipping-option-item .option-name{}
.checkout-data .shipping-options .shipping-option-item .option-description{padding:5px 0 5px 16px;}
.checkout-data .shipping-options .select-button{text-align:left;}
.checkout-data .shipping-options .message-error{text-align:left;}
.checkout-data .userewardpoints{margin:0;padding:10px;background:#F7F5E8;border:dotted 1px #d3d3d3;}
.checkout-data .payment-methods{text-align:left;height:auto;}
.checkout-data .payment-methods .payment-method-item{text-align:left;vertical-align:text-top;}
.checkout-data .payment-methods .select-button{text-align:left;}
.checkout-data .payment-methods .message-error{text-align:left;}
.checkout-data .payment-info{text-align:left;height:auto;}
.checkout-data .payment-info .body{text-align:left;vertical-align:text-top;}
.checkout-data .payment-info .select-button{text-align:left;}
.checkout-data .confirm-order{text-align:left;height:auto;}
.checkout-data .confirm-order .select-button{text-align:left;}
.checkout-data .confirm-order .message-error{text-align:left;}
.checkout-data .order-completed{text-align:left;height:auto;}
.checkout-data .order-completed .body{text-align:left;vertical-align:text-top;}
.checkout-data .order-completed .select-button{text-align:left;}
.order-details{margin:0;padding:0;}
.order-details .info{}
.order-details .section-title{padding:10px;font-weight:700;clear:both;}
.order-details .order-overview{text-align:left;padding-bottom:10px;}
.order-details .order-details-box{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.order-details .products-box,.order-details .shipments-box,.order-details .ordernotes-box{font-weight:normal;}
.order-details .checkout-attributes{padding:10px;height:auto;}
.order-details .products-box .product{}
.order-details .products-box .sku{}
.order-details .products-box .unitprice{}
.order-details .products-box .qty{}
.order-details .products-box .subtotal{}
.shipment-details{margin:0;padding:0;}
.shipment-details .info{}
.shipment-details .section-title{padding:10px;font-weight:700;clear:both;}
.shipment-details .overview{text-align:left;padding-bottom:10px;}
.shipment-details .trackingurl{}
.shipment-details .products-box,.shipment-details .shipmentstatusevents-box{font-weight:normal;}
.shipment-details .products-box .product{}
.shipment-details .products-box .sku{}
.shipment-details .products-box .qty{}
.downloadable-products{}
.downloadable-products .item{font-weight:normal;}
.return-request{}
.return-request .section-addinfo{padding:10px;font-weight:700;}
.return-request .products-box{font-weight:normal;}
.return-request .why{}
.return-request .buttons{}
.customer-return-request-list{}
.customer-return-request-list .section-title{padding:10px;font-weight:700;clear:both;}
.customer-return-request-list .request-item{font-weight:normal;}
/* PRODUCTS IN LINES - TEMPLATE */
.product-list{margin:0 auto;padding:0;}
.product-list .product-title{font-weight:700;white-space:normal;font-size:13px;}
.product-list .picture{}
.product-list .description{color:#555;white-space:normal;font-size:12px;}
.product-list .prices{font-size:12px;}
.product-list .prices .productPrice{color:green;}
.product-list .prices .oldproductPrice{color:red;text-decoration:line-through;}
/* FEATURED PRODUCTS */
.featured-product-grid{text-align:center;}
.featured-product-grid .title{font-weight:700;text-transform:uppercase;clear:both;margin:0;}
/* PAGES */
.category-page .category-description,.manufacturer-page .manufacturer-description{font-size:1.1em;}
.login-page{}
.login-page .wrapper{}
.login-page .wrapper .new-wrapper{}
.login-page .wrapper .new-wrapper .register-title{margin:0 10px;font-weight:700;}
.login-page .wrapper .new-wrapper .register-block{margin:10px;border:solid 1px #d3d3d3;vertical-align:top;}
.login-page .wrapper .new-wrapper .checkout-as-guest-or-register-block{margin:10px;border:solid 1px #d3d3d3;vertical-align:top;}
.login-page .wrapper .new-wrapper .buttons{}
.login-page .wrapper .returning-wrapper{}
.login-page .wrapper .returning-wrapper .login-title{margin:0 10px;font-weight:700;}
.login-page .wrapper .returning-wrapper .buttons{}
.captcha-enabled{height:310px!important;}
.login-page .wrapper .returning-wrapper .login-block{text-align:left;margin:10px;padding:15px 5px 5px;border:solid 1px #d3d3d3;}
.login-page .forgot-password{}
.registration-page{}
.registration-page .body{margin:0;padding:0;background-color:inherit;}
.registration-page .section-title{padding:10px;font-weight:700;clear:both;}
.registration-page .section-body{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.registration-page .buttons{float:right;margin-bottom:5px;margin-top:5px;text-align:center;clear:both;}
.registration-page .required{color:red;}
.password-recovery-page,newsletter-page{}
.password-recovery-page .body,newsletter-page .body{margin:0;padding:0;background-color:inherit;}
.customer-avatar{padding:10px;}
.customer-avatar .buttons{margin:5px 0;}
.account-activation-page{}
.account-activation-page .body{margin:0;padding:0;background-color:inherit;}
.address-edit-page{}
.address-edit-page .body{margin:0;padding:0;background-color:inherit;}
.search-panel{margin:0;padding:0;}
.search-panel .search-input{}
.search-panel .search-results{padding-top:10px;}
.search-panel .search-results .result{font-weight:700;}
.search-panel .warning{text-decoration:underline;}
.contact-form{}
.contact-form .buttons{text-align:right;}
.contact-form .send-email{}
.newslist{}
.newslist .newsitems{margin:0 5px;padding:0;}
.newslist .newsitems .item{border-bottom:dashed 1px #9a9a9a;margin-bottom:10px;padding-bottom:10px;}
.newslist .newsitems .newsdate{font-style:italic;}
.newslist .newsitems a.newstitle{color:#444;text-decoration:none;font-size:1.2em;}
.newslist .newsitems .newsdetails{margin-top:10px;margin-bottom:10px;}
.newslist .newsitems .readmore{text-decoration:none;background-color:inherit;}
.newsitem{}
.newsitem .newsdate{font-style:italic;}
.newsitem .newsbody{margin:0;padding:0;}
.newsitem .newsbody a{text-decoration:underline;}
.newsitem .result{font-family:Verdana, Arial, sans-serif;font-weight:700;color:red;}
.newscomments{}
.newscomments .title{padding:10px;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;}
.newscomments .newcomment{margin:0;padding:0;}
.newscomments .newcomment .leavetitle{padding:0 10px 10px 0;font-weight:700;font-size:1.1em;color:#3a3a3a;}
.newscomments .newcomment .buttons{}
.newscomments .commentlist{}
.newscomment{font-weight:normal;}
.newscomment .commentinfo{}
.newscomment .commentinfo .userinfo{}
.newscomment .commentinfo .userinfo a.username{font-weight:700;margin-bottom:5px;}
.newscomment .commentinfo .userinfo span.username{font-weight:700;margin-bottom:5px;}
.newscomment .commentinfo .commenttime{}
.newscomment .commentinfo .commenttime .statvalue{}
.newscomment .commentcontent{}
.newscomment .commentcontent .commenttitle{font-weight:700;}
.newscomment .commentcontent .commentbody{}
.newscomment .commentcontent .commentbody a{text-decoration:underline;}
.newscomment .commentcontent .commentbody .commenttext{}
.blog{}
.blog .blogposts .post .blogdate{color:#9a9a9a;font-style:italic;}
.blog .blogposts .post a.blogtitle{color:#444;text-decoration:none;font-size:1.2em;}
.blog .blogposts{margin:0 5px;padding:0;}
.blog .blogposts .post{border-bottom:dashed 1px #9a9a9a;margin-bottom:10px;padding-bottom:10px;}
.blog .blogposts .blogbody,.blog .blogposts .tags{margin-top:10px;margin-bottom:10px;}
.blog .blogposts .blogbody a,.blog .blogposts .tags a{text-decoration:underline;}
.blog .blogposts .blogdetails{text-decoration:none;background-color:inherit;}
.blogpost{}
.blogpost .postdate{color:#9a9a9a;font-style:italic;}
.blogpost .postbody,.blogpost .tags{margin:0;padding:0;}
.blogpost .postbody a,.blogpost .tags a{text-decoration:underline;}
.blogpost .result{font-family:Verdana, Arial, sans-serif;font-weight:700;color:red;}
.blogcomments{}
.blogcomments .title{padding:10px;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;}
.blogcomments .newcomment{margin:0;padding:0;}
.blogcomments .newcomment .leavetitle{padding:0 10px 10px 0;font-weight:700;font-size:1.1em;color:#3a3a3a;}
.blogcomments .newcomment .buttons{}
.blogcomments .commentlist{}
.blogcomment{font-weight:normal;}
.blogcomment .commentinfo{}
.blogcomment .commentinfo .userinfo{}
.blogcomment .commentinfo .userinfo a.username{font-weight:700;margin-bottom:5px;}
.blogcomment .commentinfo .userinfo span.username{font-weight:700;margin-bottom:5px;}
.blogcomment .commentinfo .commenttime{}
.blogcomment .commentinfo .commenttime .statvalue{}
.blogcomment .commentcontent{}
.blogcomment .commentcontent .commenttitle{font-weight:700;}
.blogcomment .commentcontent .commentbody{}
.blogcomment .commentcontent .commentbody a{text-decoration:underline;}
.blogcomment .commentcontent .commentbody .commenttext{}
.emailafriend-page{margin:0;padding:0;}
.emailafriend-page .send-email{}
.emailafriend-page .send-email .product{font-weight:700;}
.recently-added-products{margin:0;padding:0;}
.recently-viewed-products{margin:0;padding:0;}
/* CUSTOMER ACCOUNT */
.account-page{}
.account-page .body{margin:0;padding:0;}
.customer-info-box{margin:0;padding:0;}
.customer-info-box .section-title{padding:10px;font-weight:700;clear:both;}
.customer-info-box .section-body{text-align:left;padding:10px;border:1px solid #d7d7d7;height:auto;}
.customer-info-box .buttons{margin-bottom:5px;margin-top:5px;text-align:center;}
.customer-addresses{margin:0;padding:0px;background-color:inherit;}
.customer-addresses .section-title{padding:10px;font-weight:700;clear:both;}
.customer-addresses .address-list{}
.customer-addresses .address-list .buttons {}
.customer-addresses .address-list .address-item{font-weight:normal;}
.customer-addresses .add-button{}
.customer-orders{margin:0;padding:0px;background-color:inherit;}
.customer-orders .recurring-payments{}
.customer-orders .recurring-payments .section-title{padding:10px;font-weight:700;clear:both;}
.customer-orders .recurring-payments .recurring-payments-box{font-weight:normal;}
.customer-orders .order-list{}
.customer-orders .order-list .order-item{font-weight:normal}
.customer-orders .order-list .order-item .buttons{}
.customer-pass-recovery{padding:0px;background-color:inherit;}
.customer-pass-recovery .result{font-family:Verdana, Arial, sans-serif;font-weight:700;color:red;}
.customer-rewardpoints{margin:0;padding:0px;background-color:inherit;}
.customer-rewardpoints .section-title{padding:10px;font-weight:700;clear:both;}
.customer-rewardpoints .reward-points-overview{}
.customer-rewardpoints .reward-points-history{}
.customer-rewardpoints .reward-points-history .item{font-weight:normal;}
.backinstock-subscriptions-box{margin:0;padding:0;}
.backinstock-subscriptions-box .buttons{}
.bissgridpagerstyle{padding:5px;background:#eee;vertical-align:middle;}
.bissgridpagerstyle span{font-weight:700;font-size:1.1em;}

/* PRODUCT DETAILS */
.product-details-page{}
.product-collateral{margin-top:10px;margin-bottom:10px;clear:both;}
.product-essential{}
.product-details-info{}
.product-details-info .defaultpicture{margin:5px;}
.product-details-info .defaultpicture img{max-width:100%;}
.product-details-info .picture{margin:5px;display:inline !important;}
.product-details-info .picture img{max-width:100%;}
.product-details-info .picturethumbs{}
.product-details-info .overview{margin-right:15px;margin-top:25px;padding:5px;}
.product-details-info .overview .productname{color:#f93;font-size:1.3em;margin-bottom:.3em;}
.product-details-info .overview .shortdescription,.product-details-info .overview .manufacturers,.product-details-info .overview .sku,.product-details-info .overview .manufacturerpartnumber,.product-details-info .overview .stock,.product-details-info .overview .gtin{margin-bottom:.3em;font-size:1.1em;}
.backinstocksubscription{}
.product-details-info .fulldescription{border-top:solid 1px #d3d3d3;clear:both;margin-bottom:.3em;}
.product-reviews-overview{margin-top:20px;margin-bottom:20px;}
.product-reviews-overview .product-review-box{margin-right:5px;width:69px;height:13px;}
.product-review-box .rating{height:13px;width:55px;background:url(images/star_x_inactive.gif) 0 0 repeat-x;}
.product-review-box .rating div{height:12px;background:url(images/star_x_active.gif) 0 0 repeat-x;}
.product-reviews-overview .product-review-links{margin:0;}
.product-no-reviews{margin-top:20px;margin-bottom:20px;}
.product-reviews-page{}
.product-reviews-page .page-title a{text-decoration:underline;}
.write-review{}
.product-review-list{margin:30px 0 0;}
.product-review-list .product-review-item{font-weight:normal;}
.product-review-list .product-review-item .review-title{font-weight:700;float:left;margin-bottom:5px;}
.product-review-list .product-review-item .product-review-box{float:right;margin-right:5px;width:69px;height:13px;}
.product-review-list .product-review-item .review-text{margin-bottom:5px;}
.product-review-list .product-review-item .review-info{margin-bottom:5px;}
.product-review-list .product-review-item .review-info .separator{margin:0 2px;}
.product-review-helpfulness{color:#333;clear:both;}
.product-review-helpfulness .vote{font-weight:700;text-decoration:none;}
.product-variant-list{margin-bottom:15px;padding:0;}
.product-variant-line{clear:both;margin-bottom:20px;padding-bottom:20px;margin-top:10px;border-bottom:solid 1px #d3d3d3;}
.product-variant-line .picture{margin-bottom:15px;}
.product-variant-line .overview{}
.product-variant-line .overview .productname{font-size:1.3em;margin-bottom:.3em;}
.product-variant-line .description{clear:both;margin-bottom:.3em;}
.product-details-page .downloadsample{clear:both;margin-top:15px;margin-bottom:15px;}
.product-details-page .downloadsample .downloadsamplebutton{}
.product-variant-line .price{padding-top:10px;margin-right:30px;}
.product-variant-line .price .productPrice{color:green;}
.product-variant-line .price .oldProductPrice{color:red;text-decoration:line-through;}
.product-variant-line .add-info{padding-top:10px;width:100%;}
.product-variant-line .add-info .enter-price-label{display:inline-block;margin-right:10px;}
.product-variant-line .add-info .enter-price-input{display:inline-block;width:60px;}
.product-variant-line .add-info .qty-label{display:inline-block;margin-right:10px;}
.product-variant-line .add-info .qty-input{display:inline-block;width:40px;}
.product-variant-line .attributes{}
.product-variant-line .attributes .textprompt{font-weight:bold;}
.product-variant-line .stock,.product-variant-line .sku,.product-variant-line .manufacturerpartnumber,.product-variant-line .gtin{}
.product-variant-line .giftCard{}
.product-essential .price{margin-top:15px;margin-bottom:15px;}
.product-essential .price .productPrice{color:green;}
.product-essential .price .oldProductPrice{color:red;text-decoration:line-through;}
.related-products-grid,.also-purchased-products-grid{margin:5px 0}
.related-products-grid .title,.also-purchased-products-grid .title{font-weight:700;font-size:1.1em;}
.productspec-box{margin:5px 0}
.productspec-box .title{font-weight:700;font-size:1.1em;}
.productspec-box .productspec-list{}
.producttags-box{margin:5px 0}
.producttags-box .title{font-weight:700;font-size:1.1em;}
.producttags-box .producttags-list{}
.producttags-box .producttags-list a{text-decoration:underline;}
.producttags-box .producttags-list .producttags-wrapper{float:left;}
.tier-prices{text-align:center;margin-bottom:10px;}
.tier-prices .prices-header{padding:3px;font-weight:700;}
.tier-prices .prices table{width:100%;border-collapse:collapse;text-align:center;vertical-align:middle;background:#f3f3f3;}
.tier-prices .prices .prices-table td{padding:0;}
.tier-prices .prices .item-table td{border-bottom:solid 3px #d7d7d7;padding-top:3px;padding-bottom:3px;font-weight:700;}
.tier-prices .prices .item-table .item-price{color:Green;}
.tier-prices .prices .header-table td{border-bottom:solid 3px #d7d7d7;padding-top:3px;padding-bottom:3px;font-weight:700;}
.tier-prices .prices .prices-table .field-header{font-weight:700;text-align:center;}
.home-page-product-grid .title{font-size:.9em;font-weight:700;text-transform:uppercase;padding:7px 10px;color:#333;}
/* PRIVATE MESSAGES */
.sendpmbox{}
.sendpmbox .pmlinkbutton{}
.privatemessagesend{}
.privatemessagesend .wrapper{padding:5px;}
.privatemessagesend .postmessage{}
.privatemessagesend .postmessage .options{}
.privatemessageview{}
.privatemessageview .wrapper{padding:5px;}
.privatemessageview .viewmessage{}
.privatemessageview .viewmessage .subject-label{font-weight:bold;}
.privatemessageview .viewmessage .message-label{font-weight:bold;}
.privatemessageview .viewmessage .options{}
.private-messages-page{}
.private-messages-page .body{margin:0;padding:0;}
.private-messages-box{}
.private-messages-box .section-body{text-align:left;padding:10px;height:auto;}
.private-messages-box .item{font-weight:normal;}
.pmgridpagerstyle,.latestpostsgridpagerstyle,.fsgridpagerstyle{padding:5px;background:#eee;vertical-align:middle;}
.pmgridpagerstyle span,.latestpostsgridpagerstyle span,.fsgridpagerstyle span{font-weight:700;}
.pmread{}
.pmunread{font-size:16px;}
/* FORUM MAIN */
.forumsmain{}
.forumgroup a{text-decoration:none;}
.forumsmain .forumsmainheader{}
.forumsmain .forumsmainheader .forumsearchbox{}
.forumsmain .activediscussions{margin-top:50px;}
.forumgrouppage .forumsearchbox{}
.forumgroup{}
.forumgroup .grouptitle{font-size:1.1em;font-weight:700;padding-bottom:5px;}
.forumgroup .grouptitle a{color:#555;}
.forumgroup .forum {vertical-align:middle;padding-left:3px;min-height:40px;}
.forumgroup .forum .image {float:left;width:36px;height:36px;background:url(images/ico-forum.gif) no-repeat 40% 40%;}
.forumgroup .forum .forumname{font-weight:700;color:#555;float:left;margin:11px 0 0 7px;}
.forumgroup .forum .topics{font-size:.8em;color:#555;float:right;margin:11px 0 0 7px;}
/* FORUM PAGE */
.forum{}
.forum .forumheader{}
.forum .forumheader .forumoptions,.forumfooter .forumoptions{}
.forum .forumheader .forumoptions a,.forumfooter .forumoptions a{}
.forum .top .foruminfo{}
.forum .top .foruminfo .forumname{font-weight:700;font-size:1.2em;}
.forum .top .foruminfo .forumdescription{color:#555;}
.forum .top .actions{}
.forum .top .actions .newtopic{}
.forum .topics{}
.forum .topics .topic {vertical-align:middle;padding-left:3px;min-height:40px;}
.forum .topics .topic a{text-decoration:none;}
.forum .topics .topic .topicname{font-weight:700;color:#555;float:left;margin:11px 0 0 7px;}
.forum .topics .topic .replies{font-size:.8em;color:#555;float:right;margin:11px 0 0 7px;}
.forum .topics .topic .post{float:left;width:36px;height:36px;background:url(images/ico-forum-post.gif) no-repeat 40% 40%;}
.forum .topics .topic .postannoucement,.forum .topics .topic .poststicky{float:left;width:36px;height:36px;background:url(images/ico-forum-post-high.gif) no-repeat 40% 40%;}
.forum .pager{padding:5px 3px 5px 0;}
.forum-subscriptions-box{}
.forum-subscriptions-box .item{font-weight:normal;}
.forum-subscriptions-box .buttons{}
/* FORUM TOPIC EDIT */
.postedit{}
.postedit .wrapper{}
.postedit .posttopic{}
.postedit .posttopic .options{}
.moveforumtopic{}
.moveforumtopic .body{}
.moveforumtopic .body .options{}
/* FORUM TOPIC */
.forumtopic{}
.forumtopic .manage{}
.forumtopic .topicheader{}
.forumtopic .topicheader .topicoptions,.topicfooter .topicoptions{}
.forumtopic .topicheader .topicoptions a,.topicfooter .topicoptions a{}
.forumtopic .posts{}
.topicfooter{}
.forumtopic .pager,.topicfooter .pager{padding:10px 0 10px 0;}
.forumpost{border:1px solid #878787;margin:10px 0;}
.forumpost .postinfo{padding:5px;border-bottom:solid 1px #F3F3F3;}
.forumpost .postinfo .manage{}
.forumpost .postinfo .userinfo{font-weight:700;line-height:20px;padding:3px;background:#e3f3f3;}
.forumpost .postinfo .userinfo a.username{font-weight:700;margin-bottom:5px;}
.forumpost .postinfo .userinfo span.username{font-weight:700;margin-bottom:5px;}
.forumpost .postinfo .posttime{padding:3px;background:#e3f3f3;}
.forumpost .postinfo .posttime .statvalue{}
.forumpost .postcontent{}
.forumpost .postcontent .postbody{padding:3px;}
.forumpost .postcontent .postbody a{text-decoration:underline;}
.forumpost .postcontent .postbody .posttext{}
.forumpost .postcontent .postbody .posttext .quote{padding:5px;border:dashed 1px #000;background-color:#fff;}
.forumpost .postcontent .signature{border-color:#DDD;border-style:solid;border-width:1px 0 0;font-size:90%;margin:1em 8px 8px;padding:1em 0 20px;text-align:left;font-style:italic;}
/* FORUM SEARCH */
.forumsearchbox{padding:5px 0 15px 0;}
.forumsearch{}
.forumsearch .forum-search-panel{}
.forumsearch .forum-search-panel .search-input{}
.forumsearch .forum-search-panel .search-error{color:Red;}
.forumsearch .forum-search-panel .search-results{}
.forumsearch .topics{}
.forumsearch .topics .topic {vertical-align:middle;padding-left:3px;min-height:40px;}
.forumsearch .topics .topic .topicname{font-weight:700;color:#555;float:left;margin:11px 0 0 7px;}
.forumsearch .topics .topic .replies{font-size:.8em;color:#555;float:right;margin:11px 0 0 7px;}
.forumsearch .topics .topic .post{float:left;width:36px;height:36px;background:url(images/ico-forum-post.gif) no-repeat 40% 40%;}
.forumsearch .topics .topic .postannoucement,.forumsearch .topics .topic .poststicky{float:left;width:36px;height:36px;background:url(images/ico-forum-post-high.gif) no-repeat 40% 40%;}
.forumsearch .pager{padding:5px 3px 5px 0;}
/* PROFILE PAGE */
.profile-page{}
.profile-page .title{}
.profile-page .body{margin-top:15px;}
.profile-page .body .profileInfoBox{}
.profile-page .body .profileInfoBox .title{}
.profile-page .body .profileInfoBox .profileStat{font-weight:700;padding:2px;}
.profile-page .body .profileInfoBox .profileStat .profileStatValue{font-weight:400;color:#555;}
.profile-page .body .profileInfoBox .userDetails{padding:10px;}
.profile-page .body .profileInfoBox .userDetails .avatar{margin-bottom:5px;}
.profile-page .body .profileInfoBox .userDetails .avatar .avatar-img{border:solid 2px #CEDBE1!important;}
.profile-page .body .profileInfoBox .userStats{padding:10px;}
.profile-page .body .profileInfoBox .userStats .section-title{text-transform:uppercase;margin-bottom:10px;}
/* ACTIVE DISCUSSIONS */
.activediscussionspage{}
.activediscussions .activediscussionstitle{font-size:1.1em;padding-bottom:5px;font-weight:700;}
.activediscussions .activediscussionstitle .viewall{float:right;text-align:right;}
.activediscussions .topics{}
.activediscussions .topics .topic {vertical-align:middle;padding-left:3px;min-height:40px;}
.activediscussions .topics .topic .topicname{font-weight:700;color:#555;float:left;margin:11px 0 0 7px;}
.activediscussions .topics .topic .replies{font-size:.8em;color:#555;float:right;margin:11px 0 0 7px;}
/* BBCODES */
pre{white-space:pre-wrap;/* css-3 */white-space:0;/* Mozilla, since 1999 */white-space:0;/* Opera 4-6 */white-space:0;/* Opera 7 */word-wrap:break-word;/* Internet Explorer 5.5+ */}
.csharpcode,.csharpcode pre{font-size:small;color:#000;font-family:Consolas, "Courier New", Courier, Monospace;background-color:#fff;}
.csharpcode pre{margin:0;}
.csharpcode .rem{color:green;}
.csharpcode .kwrd{color:#00f;}
.csharpcode .str{color:#006080;}
.csharpcode .op{color:#0000c0;}
.csharpcode .preproc{color:#c63;}
.csharpcode .asp{background-color:#ff0;}
.csharpcode .html{color:maroon;}
.csharpcode .attr{color:red;}
.csharpcode .alt{background-color:#f4f4f4;width:100%;margin:0;}
.csharpcode .lnum{color:#606060;}
