@model PollModel
<section class="block block-poll">
    <h2 class="title">
        @T("Polls.Title")
    </h2>
    <div class="listbox">
        @await Html.PartialAsync("_Poll", Model)
    </div>
</section>
