<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nop.Plugin.Tax.StrikeIron.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nop.Plugin.Tax.StrikeIron.Properties.Settings>
            <setting name="Nop_Plugin_Tax_StrikeIron_TaxDataBasic_TaxDataBasic"
                serializeAs="String">
                <value>http://ws.strikeiron.com/StrikeIron/TaxDataBasic5/TaxDataBasic</value>
            </setting>
        </Nop.Plugin.Tax.StrikeIron.Properties.Settings>
    </applicationSettings>
</configuration>