@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model PluginModel
@{    
    //page title
    ViewBag.Title = T("Admin.Configuration.Plugins.EditDetails").Text;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Plugins.EditDetails")
        </h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-default" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdatePlugin", Model)
}