@model IList<PollModel>
@if (Model.Count > 0)
{
    <section class="home-page-polls">
        <h2 class="title">
            @T("Polls.Title")
        </h2>
        @foreach (var poll in Model)
        { 
            @await Html.PartialAsync("_Poll", poll)
        }
    </section>
}
