<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.5.7.10213" />
  <package id="WebActivator" version="1.0.0.0" />
  <package id="SQLCE" version="4.0.8435.1" />
  <package id="EFCodeFirst" version="0.8" />
  <package id="EFCodeFirst.SqlServerCompact" version="0.8" />
  <package id="RhinoMocks" version="3.6" />
</packages>