@using Nop.Plugin.Misc.Dynamics365
@{
    Layout = "_ConfigurePlugin";
    NopHtml.SetActiveMenuItemSystemName(Dynamics365Defaults.SystemName);
}

<h1>Microsoft Dynamics 365 (official plugin)</h1>

<p>The Microsoft Dynamics 365 plugin by nopCommerce offers seamless integration of your store with Dynamics 365 — CRM and ERP business applications by Microsoft.</p>

<p>The plugin supports synchronization with two main Dynamics 365 applications - Business Central and Sales.</p>

<h2>Dynamics 365 Business Central</h2>
<p>
    <ul>
        <li>Comprehensive ERP solution allowing to manage finances, inventory, and operations all in one place.</li>
        <li>Automation of tasks like invoicing, warehouse management, and order processing.</li>
        <li>Supply chain optimization to streamline procurement, production, and logistics.</li>
    </ul>
</p>

<h2>Dynamics 365 Business Central</h2>
<p>
    <ul>
        <li>Sales process automation can help close deals faster with guided workflows and predictive tools.</li>
        <li>Centralized sales management allowing to handle quotes, orders, and customer documents effortlessly.</li>
        <li>Advanced analytics gives actionable insights to refine strategies and boost revenue.</li>
    </ul>
</p>

<p>The system is customizable to fit specific needs and scales with your business as it grows. Additionally, its cloud-based accessibility provides secure, anytime access to data from any device.</p>

<a href="https://www.nopcommerce.com/microsoft-dynamics-365?utm_source=admin-panel&utm_medium=menu&utm_campaign=ms-dynamics&utm_content=configuration" target="_blank" class="btn btn-primary">Get the plugin</a>
