@{
    Layout = "~/Views/Shared/_Root.cshtml";

    //title
    Html.AddTitleParts(T("Common.Config").Text);
}
<div class="page config-page">
    <div class="page-body">
        @Html.Action("TaxTypeSelector", "Common")
        @Html.Action("CurrencySelector", "Common")
        @Html.Action("LanguageSelector", "Common")
    </div>
</div>
