@model CurrencySelectorModel
@using Nop.Web.Models.Common;
@if (Model.AvailableCurrencies.Count > 1)
{
    <div class="currency-selector">
        <div class="title">
            @T("Currencies")
        </div>
        <ul data-role="listview" data-inset="true" data-filter="false">
            @foreach (var currency in Model.AvailableCurrencies)
            {
                <li @(currency.Id == Model.CurrentCurrencyId ? " data-icon=false" : null)><a href="@Url.RouteUrl("ChangeCurrency", new { customercurrency = currency.Id })" data-ajax="false">
                    @currency.Name</a></li>
            }
        </ul>
    </div>
}