@model FooterModel
@using Nop.Web.Models.Common;

<div class="footer">
    @*<div class="footer-menu footer-menu-first">
        <h3>Company Info</h3>
        <ul>
            <li>About Us</li>
            <li>Security &amp; Privacy</li>
            <li>Shipping &amp; Returns</li>
            <li>Terms of Use</li>
            <li>Blog</li>
        </ul>
    </div>
    <div class="footer-menu">
        <h3>Customer Services</h3>
        <ul>
            <li>Contact Us</li>
            <li>Returns</li>
            <li>Sitemap</li>
            <li>Help</li>
        </ul>
    </div>
    <div class="footer-menu">
        <h3>My Account</h3>
        <ul>
            <li>My Account</li>
            <li>Order History</li>
            <li>Wish List</li>
            <li>RMA Request</li>
        </ul>
    </div>*@
    @*<div class="footer-menu">
        <h3>Join Our Community</h3>
        <p></p>
    </div>
    <div class="footer-menu">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f5d0e512233612d"></script>
        <!-- AddThis Button END 
        More options https://www.addthis.com/get/sharing?where=website&type=bm&clickbacks=1&frm=home&analytics=0&bm=tb15&flag=registered&lb=1#.T10QVRHxpqm
    -->
    </div>*@

    <div class="footer-poweredby">
        Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
        @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
            Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
    </div>
    <div class="footer-disclaimer">
        @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
    </div>
    <div class="footer-store-theme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("ChangeDeviceBlock", "Common")
    @Html.Widget("footer")
</div>
