@model LanguageSelectorModel
@using Nop.Web.Models.Common;
@if (Model.AvailableLanguages.Count > 1)
{
    <div class="language-selector">
        <div class="title">
            @T("Languages")
        </div>
        <ul data-role="listview" data-inset="true" data-filter="false">
            @foreach (var lang in Model.AvailableLanguages)
            {
                <li @(lang.Id == Model.CurrentLanguageId ? " data-icon=false" : null)><a href="@Url.RouteUrl("ChangeLanguage", new { langid = lang.Id })" data-ajax="false">
                    @lang.Name</a></li>
            }
        </ul>
    </div>
}