@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.PageNotFound").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-not-found-page");
}
<div class="page not-found-page">
    <div class="page-title">
        <h1>@T("PageTitle.PageNotFound")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "PageNotFound" })
    </div>
</div>
