<<<<<<< HEAD
﻿@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.StoreClosed").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-store-closed-page");
}
<div class="page store-closed-page">
    <div class="page-title">
        <h1>@T("StoreClosed")</h1>
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>
</div>
=======
﻿@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.StoreClosed").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-store-closed-page");
}
<div class="page store-closed-page">
    <div class="page-title">
        <h1>@T("StoreClosed")</h1>
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>
</div>
>>>>>>> 174426a8e1a9c69225a65c26a93d9aa871080855
