
@media all and (min-width: 1025px) {

/* GLOBAL TABLES */

.cart label:first-child {
	display: none;
}
.cart td .message-error {
	margin: 5px 0;
	text-align: right;
}

/* CATEGORY PAGE & GRIDS */

.item-box {
	width: 23.5%; /*four per row*/
}
.item-box:nth-child(3n+1) {
	clear: none; /*revert the fourth item*/
	margin-right: 2%; /*revert the fourth item*/
}
.item-box:nth-child(4n+1) {
	clear: both;
	margin-right: 0;
}

.item-box .buttons {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border: 10px solid #f6f6f6;
	background-color: rgba(255,255,255,0.9);
	opacity: 0;
	transition: all 0.3s ease;
}
.item-box:hover .buttons {
	opacity: 1;
}
.item-box .buttons:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.item-box .dummy-link {
    position: absolute;
    top: 0;
	right: 0;
	bottom: 0;
    left: 0;
	z-index: 0;
}
.item-box .buttons .wrap {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	z-index: 1;
	width: 163px; /*4 buttons, 40px per button + 1px gap between all*/
	margin: -20px auto 0;
	font-size: 0;
	white-space: nowrap;
}

.product-list .item-box .picture {
	width: 20%;
}
.product-list .item-box .details {
	width: 60%;
}
.product-list .item-box .buttons {
	width: 20%;
}

/* FEATURED CATEGORIES */

.featured-categories.default {
	margin-bottom: 60px;
}
.featured-categories.default .item-box {
	display: table;
	clear: none !important;
	width: 50%;
	margin: 0 !important;
	padding: 1px;
}
.featured-categories.default .wrapper {
	display: table-row;
}
.featured-categories.default .details {
	display: table-cell;
	position: relative;
	width: 50%;
	background: url('../img/pattern.png') repeat;
	text-align: center;
	vertical-align: top;
	color: #222;
}
.featured-categories.default .details:before {
	content: "";
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	margin: auto;
	background-color: #fff;
}
.featured-categories.default .title {
	position: absolute;
	top: 49%;
	right: 0;
	left: 0;
	margin: auto;
	padding: 0 20px;
	font-size: 1.5vw;
	font-weight: 400;
	-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.featured-categories.default .text {
	display: inline-block;
	position: absolute;
	top: 15%;
	right: 0;
	left: 0;
	margin: auto;
	padding: 0 20px;
}
.featured-categories.default .text:after {
	content: "";
	display: block;
	width: 30px;
	height: 2px;
	margin: 5px auto 0;
	background-color: #f61853;
}
.featured-categories.default .button {
	display: inline-block;
	position: absolute;
	left: 0; right: 0;
	bottom: 15%;
	width: 120px;
	margin: auto;
	border: 1px solid #222;
	padding: 11px 10px 9px;
	font-size: 11px;
	white-space: nowrap;
	text-transform: uppercase;
}
.featured-categories.default .picture {
	display: table-cell;
	width: 50%;
	vertical-align: top;
}

.featured-categories.default 
.item-box:nth-child(n+3) {
	margin-top: 30px !important;
}

.featured-categories.in-header
.sub-category-list {
	display: block;
	margin: 0 !important;
}

/* LOGIN PAGE */

.customer-blocks {
	overflow: hidden;
	max-width: 1800px;
	margin: auto;
}
.customer-block {
	max-width: 1800px;
	margin: 0 0 2%;
}
.customer-block.login-block {
	float: right;
	width: 49%;
}
.customer-block.register-block,
.customer-block.checkout-as-guest {
	float: left;
	width: 49%;
}

/* WISHLIST & COMPARE LIST */

.compare-products-mobile {
	display: none;
}
.compare-products-table {
	display: table;
    border-collapse: separate;
	border-spacing: 20px 0;
}
.compare-products-page .page-body {
	padding: 20px 0;
}
.compare-products-page .page-body > a {
	display: none;
}
.compare-products-table td {
	background-color: #fff;
	text-align: center;
	vertical-align: top;
	color: #222;
}
.compare-products-table td:first-child {
    text-align: left;
}
.compare-products-table td.empty {
	text-align: center;
}
.compare-products-table .picture {
	display: block;
	margin: 0 0 30px;
	font-size: 0;
}
.compare-products-table .remove-button {
	font-size: 12px;
}
.compare-products-table .full-description {
	display: none;
}
.compare-products-table
.attribute-squares {
	display: inline-block;
	vertical-align: top;
}
.compare-products-table
.attribute-square-container {
    border-color: #ebebeb;
}
.compare-products-table
.attribute-square {
	cursor: default;
}

/* SHOPPING CART */

.order-progress li {
	float: right;
	width: 155px;
	margin: 0 1.5px;
}

}