
@media all and (min-width: 1501px) {

/* GLOBAL STYLES */

.master-column-wrapper {
	max-width: 1800px;
	margin: auto;
}

/* GLOBAL FORMS */
/* NOTIFICATIONS & POPUPS */
/* HEADER */
/* HEADER-MENU */

.header-menu > ul > li {
	margin: 0 30px;
}

/* FOOTER */

.newsletter .title {
	max-width: none;
	margin: 0 75px 0 0;
	padding: 3px 0 3px 75px;
}
.newsletter .title:before {
	margin-right: 20px;
}
.newsletter .title:after {
	height: 44px;
	font-size: 44px;
	line-height: 44px;
}

/* HOMEPAGE INFO PANEL */

.information-panel {
	margin-bottom: 70px;
}
.information-box {
	padding: 45px;
}

/* LEFT/RIGHT COLUMN */

.center-2 {
	width: 79%;
}
.side-2 {
	width: 19%;
}
.pager {
	margin: 40px 0 0;
}

/* CATEGORY PAGE & GRIDS */

.center-1 .item-box {
	width: 18.4%; /*five per row*/
}
.center-1 .item-box:nth-child(4n+1) {
	clear: none; /*revert the fifth item*/
	margin-left: 2%; /*revert the fifth item*/
}
.center-1 .item-box:nth-child(5n+1) {
	clear: both;
	margin-left: 0;
}

.center-2 .item-box {
	width: 23.5%; /*four per row*/
}
.center-2 .item-box:nth-child(3n+1) {
	clear: none; /*revert the fourth item*/
	margin-left: 2%; /*revert the fourth item*/
}
.center-2 .item-box:nth-child(4n+1) {
	clear: both;
	margin-left: 0;
}

.one-column .product-select-block {
	width: calc(16.667% - 21px);
}
.one-column .product-select-block select {
	min-width: 0 !important;
}

.one-column .center-2 .item-box {
	width: 18.4%; /*four per row*/
}
.one-column .center-2 .item-box:nth-child(4n+1) {
	clear: none; /*revert the fifth item*/
	margin-left: 2%; /*revert the fifth item*/
}
.one-column .center-2 .item-box:nth-child(5n+1) {
	clear: both;
	margin-left: 0;
}

.product-list .item-box .picture {
	width: 23.5%;
}
.product-list .item-box .details {
	width: 58%;
}
.product-list .item-box .product-title {
	font-size: 23px;
}
.product-list .item-box .actual-price {
	font-size: 26px;
}
.product-list .item-box .buttons {
	width: 18.5%;
}

/* FEATURED CATEGORIES */

.featured-categories.default .item-box {
	width: 33.333%;
}
.featured-categories.default .item-box:nth-child(n+3) {
	margin-top: 0 !important;
}
.featured-categories.default .item-box:nth-child(n+4) {
	margin-top: 30px !important;
}

/* PRODUCT PAGE */

.product-essential {
	padding: 0 2%;
}

.standard-gallery .gallery .picture,
.standard-gallery .gallery .picture-wrapper,
.standard-gallery .gallery .ribbon-wrapper {
	float: right;
	width: 79.2%;
}
.standard-gallery .picture-wrapper .picture,
.standard-gallery .ribbon-wrapper .picture,
.standard-gallery .picture-wrapper .ribbon-wrapper {
	float: none;
	width: auto;
}
.standard-gallery .gallery .picture-thumbs {
	float: left;
	width: 17.5%;
}
.standard-gallery .gallery .thumb-item {
	display: block; /*required by Cloud Zoom*/
	float: none;
	width: auto;
	margin: 0 0 17.5%;
}

.extended-gallery .gallery .thumb-item {
	float: none;
	width: auto;
	margin-left: 0;
}
.extended-gallery .gallery .thumb-item:before {
	display: none;
}
.extended-gallery .gallery .thumb-item img {
	position: static;
}

.standard-gallery .overview,
.extended-gallery .overview {
	margin-right: 10px;
}
.extended-gallery .overview.sticky {
	position: -webkit-sticky;
  	position: sticky;
	top: 30px;
}

/* REVIEW PAGE */

.write-review .form-wrapper {
	padding: 50px 3%;
}

/* WISHLIST & COMPARE LIST */

.compare-products-page .page-body {
	margin-top: 15px;
}

/* TOPICS */

.topic-password form {
	padding: 50px 3%;
}

/* CONTACT PAGES */

.contact-page .fieldset,
.email-a-friend-page .fieldset,
.apply-vendor-page .wrapper {
	padding: 50px 3%;
}
.contact-page .buttons,
.email-a-friend-page .buttons {
	padding-bottom: 50px;
}

/* REGISTRATION & LOGIN */

.registration-page form,
.customer-block .wrapper {
	padding: 50px 3%;
}

/* ACCOUNT PAGES */

.block-account-navigation .list a {
	padding: 15px 20px;
}
.customer-pages-body .center-2 {
	width: 81%;
	padding: 50px;
}
.customer-pages-body .no-data {
	padding: 0;
}
.customer-info-page,
.address-edit-page,
.change-password-page,
.customer-avatar-page,
.customer-reviews-list,
.giftcard-balance-page,
.vendor-info-page {
	padding: 50px 3%;
}
.recurring-payments th {
	white-space: normal;
}

/* SHOPPING CART */

.order-summary-content form {
	overflow: hidden;
}
.order-summary-content .cart-wrapper {
	float: left;
	width: 68%;
}
.order-summary-content .cart-footer {
	float: right;
	width: 30%;
}

.update-cart-button {
	float: left;
	margin: 0 !important;
}
.clear-cart-button {
	float: left;
	margin: 0 0 0 10px !important;
}
.more-shopping-button {
	float: right;
	margin: 0 !important;
}

/* CHECKOUT */

.opc .confirm-tab .buttons {
	margin: 0 0 25px;
}

/* ORDER DETAILS & RETURN REQUEST */

.order-details-page .page-body {
	position: relative;
}
.order-details-page .title.flex {
	position: absolute;
	width: 100%;
	margin-top: -65px;
}
.order-details-page .cart-wrapper {
	float: left;
	width: 68%;
	padding-top: 65px;
}
.order-details-page .cart-footer {
	float: right;
	width: 30%;
	padding-top: 65px;
}

/* SEARCH & SITEMAP */
/* BLOG & NEWS */

.news-list-homepage .news-item {
	width: 31.333%;
}
 
}