
@media all and (min-width: 501px) {
	
/* GLOBAL STYLES */

.master-wrapper-content {
	padding-left: 3%;
	padding-right: 3%;
}

/* GLOBAL FORMS */

.inputs {
	clear: both;
	margin: 0 2% 25px;
}
.inputs.half-width {
	float: right;
	clear: none;
	width: 46%;
}
.inputs.half-width:only-child {
	float: none;
	clear: both;
	width: auto;
}
.inputs input[type="text"],
.inputs input[type="password"],
.inputs input[type="email"],
.inputs input[type="tel"],
.inputs select, .inputs textarea {
	width: 100%;
	max-width: none;
}

/* GLOBAL TABLES */

.cart th, .data-table th,
.forums-table-section th {
    padding: 20px;
}
.cart td, .data-table td,
.compare-products-table td,
.forums-table-section td {
    padding: 20px;
}
.cart .product-picture img {
	max-width: 90px;
}
.wishlist-page .cart,
.shopping-cart-page .cart {
	margin-left: 0;
	margin-right: 0;
}

/* NOTIFICATIONS & POPUPS */
/* HEADER */
/* HEADER MENU */
/* FOOTER */

.newsletter-subscribe-text {
	width: 300px;
	height: 40px !important;
	text-align: right;
}
.newsletter-subscribe-text:focus {
	background-color: #fff !important;
}
.newsletter-subscribe-button {
	width: auto;
	min-width: 120px;
	height: 40px;
	margin-right: -1px;
}

/* LEFT/RIGHT COLUMN */

.block {
	float: right;
	width: 48%;
	margin: 0 1% 2%;
	text-align: right;
}
.block:nth-of-type(2n+1) {
	clear: both;
}

/* CATEGORY PAGE & GRIDS */

.product-select-block {
	width: 48.625%;
	margin-left: 2.75%;
}
.item-box {
	width: 31.333%; /*three per row*/
	margin-right: 3%;
}
.item-box:nth-child(2n+1) {
	clear: none; /*revert the third item*/
	margin-right: 3%; /*revert the third item*/
}
.item-box:nth-child(3n+1) {
	clear: both;
	margin-right: 0;
}

/* FEATURED CATEGORIES */

.featured-categories.in-header .item-box {
	width: 33.333%;
}
.featured-categories.in-header .title {
	font-size: 3vw;
}

/* PRODUCT PAGE */

.overview .product-name {
	padding: 0 3%;
}
.attributes select,
.checkout-attributes select {
	max-width: 100%;
}
.rental-attributes .datepicker {
	width: 140px;
}

/* REVIEW PAGE */

.write-review .review-form {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.write-review .form-wrapper {
	padding: 40px 2%;
}
.write-review .inputs {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}

/* WISHLIST & COMPARE LIST */

.compare-products-page .page-body {
	margin: 0;
}
.compare-section .picture + .cells {
	padding: 0 17px;
}
.compare-section .item + .item {
	margin-top: -17px;
}
.compare-section .item {
	padding: 17px;
}

/* TOPICS */

.topic-password {
	max-width: 900px;
	margin: 20px auto 0;
}
.topic-password form {
	padding: 40px 2%;
}

/* CONTACT PAGES */

.contact-page form,
.contact-page .form,
.email-a-friend-page form,
.apply-vendor-page form {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.contact-page .fieldset,
.email-a-friend-page .fieldset,
.apply-vendor-page .wrapper {
	padding: 40px 2%;
}
.contact-page .buttons,
.email-a-friend-page .buttons {
	padding-bottom: 40px;
}

/* REGISTRATION & LOGIN */

.registration-page .page-body,
.password-recovery-page .page-body {
	max-width: 900px;
	margin: auto;
}
.registration-page form,
.customer-block .wrapper {
	padding: 40px 2%;
}
.date-of-birth > 
.date-picker-wrapper {
	width: 100%;
	max-width: none;
}
.customer-block {
	margin-left: auto;
	margin-right: auto;
}
.customer-block .remember,
.customer-block .forgot-password {
	margin: 0 10px;
}
.customer-block .guest-button,
.customer-block .guest-button + input {
	display: inline-block;
	min-width: 180px;
	margin: 0 3px;
}

/* ACCOUNT PAGES */

.customer-pages-body .center-2 {
	margin-left: auto;
	margin-right: auto;
}
.html-customer-info-page .center-2,
.html-address-edit-page .center-2 {
	max-width: 900px;
}
.customer-info-page,
.address-edit-page,
.change-password-page,
.customer-avatar-page,
.customer-reviews-list,
.giftcard-balance-page,
.vendor-info-page {
	padding: 40px 2%;
}

/* SHOPPING CART */
/* CHECKOUT */

.checkout-page .address-grid,
.checkout-page .new-address {
	margin-left: 0;
	margin-right: 0;
}
.checkout-page .address-item,
.checkout-page .enter-address {
	padding: 40px 2%;
}
.method-list {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.payment-info .wrap {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.payment-info .info td {
	text-align: right;
}
.payment-info tr:only-child td {
	text-align: center;
}

.opc.default {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.opc .step-body {
	padding: 30px 3%;
}
.opc .back-link {
	margin: 0;
}

/* ORDER DETAILS & RETURN REQUEST */

.order-completed .details {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.order-review-data .wrap,
.order-details-area .wrap,
.shipment-details-area .wrap {
	margin-left: 0;
	margin-right: 0;
}
.order-details-page .products {
	padding: 0 1px;
}
.order-details-page .button-2 {
	min-width: 150px !important;
	margin: 0 5px !important;
}
.return-request-page .wrapper {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.return-request-page .form-fields {
	padding: 40px 3%;
}
.return-request-page .buttons {
	margin-bottom: 0;
}

/* SEARCH PAGE & SITEMAP */

.search-input {
	margin-left: 0;
	margin-right: 0;
}
.search-input form {
	padding: 40px 3%;
}
.entity-body {
	max-width: 1700px;
	margin: auto !important;
}
.entity-list {
	padding: 40px 0 !important;
}

/* BLOG & NEWS */

.new-comment .form {
	margin-left: 0;
	margin-right: 0;
}
.new-comment .wrapper {
	padding: 40px 3%;
}

}