
@media all and (min-width: 769px) {

/* GLOBAL STYLES */

.master-wrapper-content {
	padding-left: 2%;
	padding-right: 2%;
}

/* GLOBAL FORMS */

.inputs .option-list li {
	display: inline-block;
    margin: 5px 10px;
}

/* NOTIFICATIONS & POPUPS */
/* HEADER */

.admin-header-links {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-width: 40%;
	height: 60px;
	margin: auto;
	background-color: transparent;
	padding: 10px 0;
	font-size: 0;
	color: #777;
}
.admin-header-links a,
.admin-header-links span {
	font-size: 12px;
	line-height: 40px;
	text-transform: uppercase;
}
.admin-header-links a:hover {
	color: #222;
	text-shadow: 0 0 rgba(0,0,0,0.5);
}

/* HEADER MENU */
/* FOOTER */

.footer-text {
	padding-bottom: 65px;
}
.footer-block-wrapper {
	display: table;
	width: 100%;
	padding: 0 0 60px;
}
.footer-block {
	display: table-cell;
	width: 33.333%;
	border-left: 1px solid #333;
	vertical-align: top;
}
.footer-block:last-child {
	border: none;
}
.footer-block .title {
	margin: 0;
	border: none;
	padding-top: 0;
	cursor: default;
}
.footer-block .title:before,
.footer-block .title:after {
	display: none;
}
.footer-block .list {
	display: block !important;
	height: auto !important;
	padding: 10px 0 0 !important;
	margin: 0 0 -5px;
}

/* HOMEPAGE INFO PANEL */

.information-box {
	width: calc(50% - 20px);
}

/* LEFT/RIGHT COLUMN */

.block {
	width: 31.3333%;
	margin: 0 1% 2%;
}
.block:nth-of-type(2n+1) {
	clear: none;
}
.block:nth-of-type(3n+1) {
	clear: both;
}

/* CATEGORY PAGE & GRIDS */

.product-selectors {
	position: relative;
	border: 1px solid #ebebeb;
	text-align: right;
	font-size: 0;
}
.product-select-block {
	display: inline-block;
	float: none;
	width: auto;
	margin: -1px;
	vertical-align: top;
}
.product-select-block select {
	min-width: 250px;
    border-color: #ebebeb;
}

.item-box {
	width: 32%;
	margin-right: 2%;
}
.item-box:nth-child(2n+1) {
	margin-right: 2%;
}
.item-box:nth-child(3n+1) {
	margin-right: 0;
}

.product-list .item-box {
    float: none;
    width: auto !important;
    margin-right: 0 !important;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 30px;
}
.product-list .product-item {
    display: table;
	width: 100%;
}
.product-list .item-box .picture {
	display: table-cell;
	width: 25%;
	margin: 0;
	vertical-align: top;
}
.product-list .item-box .details {
	display: table-cell;
	width: 50%;
	padding: 0 2.5% 0 2.%;
	text-align: right;
	vertical-align: top;
}
.product-list .item-box .product-title {
	font-size: 20px;
}
.product-list .item-box .description {
    display: block;
	margin: 0 0 20px;
}
.product-list .item-box .old-price {
	font-size: 16px;
}
.product-list .item-box .actual-price {
	font-size: 23px;
	color: #f61853;
}
.product-list .item-box .buttons {
	display: table-cell;
	position: static;
	width: 25%;
	border: none;
	vertical-align: middle;
	opacity: 1;
}
.product-list .item-box .buttons:before {
	display: none;
}
.product-list .item-box .dummy-link {
	display: none;
}
.product-list .item-box .wrap {
	position: relative !important;
	width: auto !important;
	margin-top: 0 !important;
	padding-top: 50px;
	text-align: left;
	white-space: normal !important;
}
.product-list .item-box button {
	width: 100%;
	margin: 0 0 10px;
	border: 1px solid #666;
	font-size: 13px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #222;
}
.product-list .item-box button:before {
	content: "+";
	display: inline;
	position: relative;
	top: 2px;
	right: -5px;
	line-height: normal;
}
.product-list .product-box-add-to-cart-button {
	position: absolute;
	top: 0;
	left: 0;
	outline: 1px solid transparent;
	border-color: #222 !important;
	background-color: #222;
	color: #fff !important;
	transition: all 0.2s ease;
}
.product-list .product-box-add-to-cart-button:hover {
	outline-color: #222;
}
.product-list .product-box-add-to-cart-button:before {
	color: #fff !important;
}

.pager {
	margin: 20px 0 0;
}
.pager .previous-page {
	margin-left: 20px;
}
.pager .next-page {
	margin-right: 21px;
}

/* FEATURED CATEGORIES */
/* PRODUCT PAGE */

.overview .product-name {
	padding: 0 2%;
}

.tier-prices .prices-table {
	display: table;
	position: relative;
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.tier-prices .prices-table:after {
	content: "";
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	border: 10px solid #fff;
	pointer-events: none;
}
.tier-prices .prices-row {
	display: table-row;
	float: none;
	width: auto;
}
.tier-prices .prices-row > div {
	display: table-cell;
	border: 1px solid #ebebeb !important;
	padding: 15px;
}
.tier-prices .field-header {
	min-width: 100px;
}

.variant-picture {
	float: right;
	width: 280px;
}
.variant-overview {
	margin-right: 300px;
	text-align: right;
}
.variant-overview 
.free-shipping:before {
	margin-right: 0;
}
.variant-overview .qty-label {
	display: none;
}
.variant-overview .qty-input,
.variant-overview .qty-dropdown {
	margin-right: 0;
}

.product-specs-box .table-wrapper {
    position: relative;
}
.product-specs-box .table-wrapper:after {
	content: "";
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	border: 10px solid #fff;
	pointer-events: none;
}

.ui-tabs .ui-tabs-nav {
	font-size: 0;
}
.ui-tabs .ui-tabs-nav li {
	display: inline-block;
	position: relative;
	padding: 0 36px;
}
.ui-tabs .ui-tabs-nav li + li:before {
	content: "X";
	position: absolute;
	top: 0; bottom: 0;
	right: -5px;
	height: 18px;
	margin: auto;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px
}

/* REVIEW PAGE */

.write-review .form-wrapper {
	padding: 40px 3%;
}
.product-review-item {
	padding-left: 1%;
	padding-right: 1%;
}
.review-item-head .title {
	float: right;
	margin: 0
}
.review-item-head .rating-box {
	float: left;
}
.product-review-info {
	float: right;
}
.product-review-helpfulness {
	float: left;
	margin: 0;
}
.product-review-item .reply-wrapper {
	padding: 30px;
}
.product-review-item .review-content {
	text-align: right;
}

/* WISHLIST & COMPARE LIST */

.compare-section .item {
	padding: 20px;
}
.compare-section .item + .item {
	margin-top: -20px;
}
.compare-section .picture + .cells {
	padding: 0 20px;
}

/* TOPICS */

.topic-password form {
	padding: 40px 3%;
}

/* CONTACT PAGES */

.contact-page .fieldset,
.email-a-friend-page .fieldset,
.apply-vendor-page .wrapper {
	padding: 40px 3%;
}
.contact-page .inputs:nth-child(1),
.email-a-friend-page .inputs:nth-child(1),
.apply-vendor-page .inputs:nth-child(1) {
	float: right;
	clear: none;
	width: 46.5%;
	margin-left: 1.5%;
}
.contact-page .inputs:nth-child(2),
.email-a-friend-page .inputs:nth-child(2),
.apply-vendor-page .inputs:nth-child(2) {
	float: left;
	clear: none;
	width: 46.5%;
	margin-right: 1.5%;
}

/* REGISTRATION & LOGIN */

.registration-page form,
.customer-block .wrapper {
	padding: 40px 3%;
}
.customer-block .guest-button,
.customer-block .guest-button + input {
	margin: 0 5px;
}

/* ACCOUNT PAGES */

.customer-info-page,
.address-edit-page,
.change-password-page,
.customer-avatar-page,
.customer-reviews-list,
.giftcard-balance-page,
.vendor-info-page {
	padding: 40px 3%;
}
.address-list, .order-list,
.return-request-list,
.gdpr-tools-page form {
	overflow: hidden;
}
.address-list-page .section,
.order-list-page .section,
.return-request-list .section,
.gdpr-tools-page .section {
	float: right;
	width: 48%;
	margin: 0 1% 2%;
}
.address-list .section:nth-child(odd),
.order-list .section:nth-child(odd),
.request-list .section:nth-child(odd) {
	clear: both;
}
.address-list .section:nth-child(even),
.order-list .section:nth-child(even),
.request-list .section:nth-child(even) {
	clear: none;
}
.address-list .section:last-child,
.order-list .section:last-child,
.request-list .section:last-child {
	margin-bottom: 0;
}
.address-list .section:only-child,
.one-address + .section:last-child,
.order-list .section:only-child,
.request-list .section:only-child {
	float: none;
	width: auto;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.one-address + .section:last-child {
	margin-top: -1px;
}
.section.recurring-payments {
	float: none;
	width: auto;
}
.customer-reviews-page .review-item-head {
	overflow: hidden;
}
.customer-reviews-page .review-title {
	float: right;
	max-width: calc(100% - 80px);
}
.customer-reviews-page .rating-box {
	float: left;
	margin-top: 5px;
}
.gdpr-tools-page .section .info {
	min-height: 75px;
}

/* SHOPPING CART */

.order-progress li {
	width: calc(33.33333% - 3px);
}
.cart-options button {
	min-width: 0;
}
.coupon-code .button-2 {
	position: absolute;
	top: 4px;
	left: 3px;
	width: auto !important;
	min-width: 150px;
	background-color: #fff !important;
	color: #222 !important;
}

/* CHECKOUT */

.checkout-page .address-grid {
	padding: 10px;
}
.checkout-page .address-item,
.checkout-page .enter-address {
	padding: 40px 3%;
}
.checkout-page .address-item {
	float: right;
	width: 48%;
	margin: 1% !important;
}
.checkout-page .address-item:nth-child(odd) {
	clear: both;
}
.checkout-page .address-item:nth-child(even) {
	clear: none;
}
.checkout-page .address-item:only-child {
	float: none;
	margin-left: auto !important;
	margin-right: auto !important;
}
.checkout-page .new-address {
	max-width: 900px;
	margin: auto;
}
.opc .order-summary {
	margin-top: 15px !important;
	overflow: hidden;
}
.opc .confirm-tab .buttons {
	margin: 0 0 10px;
}

/* ORDER DETAILS & RETURN REQUEST */

.order-review-data,
.order-details-area,
.shipment-details-area {
	display: table;
	width: 100%;
}
.order-details-area,
.shipment-details-area {
	margin: 20px 0 30px;
}
.order-review-data > div,
.order-details-area > div,
.shipment-details-area > div {
	display: table-cell;
	width: 50%;
}
.order-review-data .wrap,
.order-details-area .wrap,
.shipment-details-area .wrap {
	margin-left: 3%;
	margin-right: 3%;
}

/* SEARCH & SITEMAP */
/* BLOG & NEWS */

.new-comment textarea,
.enter-comment-title {
	max-width: 600px !important;
}

}