
.forums-main-page .topic-block-title,
.forum-group-page .forums-table-section-title,
.active-discussions-page .forums-table-section-title {
	display: block;
	margin: 0 0 30px;
}
.forums-main-page .topic-block-title h2,
.forum-group-page .forums-table-section-title a,
.active-discussions-page .forums-table-section-title strong {
	display: inline-block;
	position: relative;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #18073a;
}
.forums-main-page .topic-block-title h2:after,
.forum-group-page .forums-table-section-title a:after,
.active-discussions-page .forums-table-section-title strong:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -3px;
	height: 2px;
	background-color: #18073a;
}

/* forum main */

.forums-header {
	margin: 0 -4% 45px;
	background: url('../img/pattern.png') repeat;
	padding: 20px;
	text-align: center;
}
.forums-header .wrapper {
	background-color: #fff;
	padding: 30px 5%;
}
.forums-header .current-time {
	margin: 0 0 30px;
	color: #f61853;
}
.forums-header .search-box {
	width: 700px;
	max-width: 100%;
	margin: auto;
}
.forums-header .search-box:before {
	display: none;
}
.forums-header .advanced {
	margin-top: 20px;
	color: #18073a;
}
.forum-search-page .search-error {
	margin: 60px 0 0;
	text-align: center;
}
.forum-search-page .pager.upper {
	display: none;
}
.breadcrumb.forum-breadcrumb {
	margin: -34px 0 0;
	background-image: none;
	padding: 20px 0;
}

/* forum group */

.forums-main-page .forums-table-section-title {
	margin: 0 0 35px;
	text-align: center;
	font-size: 19px;
	line-height: 30px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #18073a;
}
.forums-main-page .forums-table-section-title > a,
.forums-main-page .forums-table-section-title strong {
	position: relative;
	font-weight: 800;
}
.forums-main-page .forums-table-section-title > a:after,
.forums-main-page .forums-table-section-title strong:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	height: 2px;
	background-color: #18073a;
}
.forums-main-page .forum-group + .topic-group {
	margin-top: 65px;
}
.forums-table-section .view-all {
	text-align: center;
}
.forums-table-section .view-all a {
	color: #f61853;
}

.forums-table-section .image div {
	display: inline-block;
	margin: 0 -8px 0 8px;
}
.forums-table-section .image div:after {
	content: "\e039";
	display: block;
	font-size: 34px;
	color: #18073a;
}
.forums-table-section .image div.sticky:after {
	color: #f61853;
}
.forums-table-section .image div.announcement:after {
	color: #2a84d9;
}
.forums-table-section .forum-title,
.forums-table-section .topic-title {
	font-size: 15px;
}
.forums-table-section .forum-title + div,
.forums-table-section .topic-title + div,
.forums-table-section .latest-post .date + div {
	margin: 5px 0 0;
}
.forums-table-section .topics,
.forums-table-section .posts,
.forums-table-section .replies,
.forums-table-section .views,
.forums-table-section .votes {
	text-align: center;
}

/* forum-page, topic-page */

.forum-actions,
.topic-actions {
	margin: 0 0 40px;
	text-align: center;
	font-size: 0;
}
.forum-actions .actions,
.topic-actions .actions {
	margin: -10px 0;
}
.forum-actions .actions a,
.topic-actions .actions a {
	display: inline-block;
	min-width: 250px;
	margin: 10px 5px;
	border: 1px solid #18073a;
	outline: 1px solid transparent;
	padding: 10px 20px;
	text-align: left;
	font-size: 12px;
	font-weight: 400;
	color: #18073a;
	text-transform: uppercase;
	transition: all 0.2s ease;
}
.forum-actions .actions a:hover,
.topic-actions .actions a:hover {
	outline-color: #18073a;
}
.forum-actions .actions a:before,
.topic-actions .actions a:before {
	margin-right: 10px;
	vertical-align: middle;
	font-size: 18px;
}
.forum-actions .actions .new-topic:before {
	content: "\e040";
}
.forum-actions .actions .watch-forum:before,
.topic-actions .actions .watch-forum:before {
	content: "\e01d";
}
.topic-actions .reply-topic-button:before {
	content: "\e050";
}
.topic-actions .watch-topic-button:before {
	content: "\e01d";
}
.topic-actions .move-topic-button:before {
	content: "\e057";
}
.topic-actions .edit-topic-button:before {
	content: "\e05f";
}
.topic-actions .delete-topic-button:before {
	content: "\e054";
}
.forum-page .forum-description {
	margin: 0 0 30px;
	text-align: center;
}
.forum-actions .pager.upper,
.topic-actions .pager.upper {
	display: none;
}
.topic-actions.lower .actions {
	display: none;
}

/* topic post */

.topic-posts {
	margin: 0 0 30px;
	border: 1px solid #ebebeb;
}
.topic-posts .topic-post {
	position: relative;
}
.topic-post + .topic-post {
	border-top: 1px solid #ebebeb;
}
.topic-post .post-time {
	background: url('../img/pattern.png') repeat;
	padding: 20px;
	text-align: center;
}
.topic-post .post-info {
	margin: 30px 0;
}
.topic-post .avatar,
.profile-info-box .avatar {
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0 auto 20px;
	overflow: hidden;
}
.topic-post .avatar a {
	display: block;
	height: 100%;
}
.topic-post .avatar img,
.profile-info-box .avatar img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	border: 1px solid #ebebeb;
	border-radius: 50%;
}
.topic-post .username {
	display: block;
	margin: 0 0 10px;
	color: #18073a;
	font-weight: 400;
	text-transform: uppercase;
}
.topic-post .user-stats {
	margin: 0 0 15px;
	color: #18073a;
}
.topic-post .user-stats li {
	margin: 0 0 5px;
}
.topic-post .user-stats span,
.profile-info-box .profile-stats span {
	margin: 0 0 0 3px;
	font-weight: 400;
}
.topic-post .pm-button,
.profile-info-box .pm-button {
	display: inline-block;
	border: 1px solid #18073a;
	outline: 1px solid transparent;
	padding: 9px 20px;
	text-align: left;
	font-size: 12px;
	font-weight: 400;
	color: #18073a;
	text-transform: uppercase;
	transition: all 0.2s ease;
}
.topic-post .pm-button:hover,
.profile-info-box .pm-button:hover {
	outline-color: #18073a;
}
.topic-post .pm-button:before,
.profile-info-box .pm-button:before {
	content: "\e086";
	margin-right: 10px;
	vertical-align: middle;
	font-size: 18px;
	position: relative;
	top: -1px;
}

.topic-post .post-actions {
	margin: 0 0 20px;
	border-top: 1px solid #ebebeb;
	padding: 30px 0 0;
	font-size: 0;
}
.topic-post .post-actions > div {
	display: inline-block;
}
.topic-post .post-actions .edit-post-button,
.topic-post .post-actions .delete-post-button,
.topic-post .post-actions .quote-post-button {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 5px;
	border: 1px solid #18073a;
	outline: 1px solid transparent;
	text-align: center;
	vertical-align: middle;
	font-size: 0; color: #18073a;
	transition: all 0.2s ease;
}
.topic-post .post-actions .edit-post-button:hover,
.topic-post .post-actions .delete-post-button:hover,
.topic-post .post-actions .quote-post-button:hover {
	outline-color: #18073a;
}
.topic-post .post-actions .edit-post-button:before,
.topic-post .post-actions .delete-post-button:before {
	display: block;
	font-size: 18px;
	line-height: 32px;
}
.topic-post .post-actions .edit-post-button:before {
	content: "\e05f";
}
.topic-post .post-actions .delete-post-button:before {
	content: "\e054";
}
.topic-post .post-actions .post-link-button {
	position: absolute;
	top: 0; right: 0;
	padding: 18px;
	font-size: 18px;
	font-weight: 800;
	color: #18073a;
}
.topic-post .post-actions .quote-post-button {
	width: auto;
	margin: 0 5px;
	padding: 8px 20px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.2s ease;
}

.topic-post .post-content {
	padding: 0 5%;
}
.topic-post .post-text > b:first-child {
	/*display: block;*/
	display: none;
	text-align: center;
	font-weight: 400;
	color: #18073a;
}
.topic-post .post-body {
	text-align: justify;
	line-height: 25px;
}
.topic-post .user-posted-image,
.latest-posts .user-posted-image {
    max-width: 100%;
    height: auto;
}

.topic-post .post-vote {
	padding: 20px 0;
	text-align: center;
	font-size: 0;
	line-height: normal;
	color: #18073a;
}
.topic-post .post-vote > span {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.topic-post .post-vote > span:before {
	font-size: 18px;
}
.topic-post .post-vote > .vote.up:before {
	content: "\e068";
}
.topic-post .post-vote > .vote.down:before {
	content: "\e06d";
}
.topic-post .post-vote > div {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 400;
}

.topic-post .quote,
.latest-posts .quote {
	margin: 8px 0;
    border: 1px dashed #c5c5c5;
	padding: 15px 20px;
}
.topic-post .signature {
	border-top: 1px solid #ebebeb;
	padding: 20px;
    font-style: italic;
}

/* forum edit & send message */

.forum-edit-page .fieldset,
.move-topic-page .fieldset,
.private-message-send-page .fieldset,
.private-message-view-page .page-body {
	margin: 0 -3%;
	background: url('../img/pattern.png') repeat;
	padding: 20px;
}
.forum-edit-page .form-fields,
.move-topic-page .form-fields,
.private-message-send-page .form-fields {
	background-color: #fff;
	padding: 35px 5% 90px;
}
.forum-edit-page .inputs strong,
.private-message-send-page .inputs a {
	vertical-align: middle;
	font-size: 17px;
	font-weight: 800;
	color: #18073a;
}
.forum-edit-page .toolbar,
.private-message-send-page .toolbar {
	margin: 0 0 10px;
}
.forum-edit-page .buttons,
.move-topic-page .buttons,
.private-message-send-page .buttons {
	margin: -100px 0 125px;
}
.forum-edit-page .buttons input,
.move-topic-page .buttons input,
.private-messages .buttons input {
	min-width: 115px;
    margin: 0 3px;
    border: 1px solid #18073a;
	outline: 1px solid transparent;
	padding: 10px 25px;
    font-size: 14px;
	text-transform: uppercase;
	transition: all 0.2s ease;
}
.forum-edit-page .buttons input:hover,
.move-topic-page .buttons input:hover,
.private-messages .buttons input:hover {
	outline-color: #18073a;
}
.forum-edit-page .button-1,
.move-topic-page .button-1,
.private-messages .button-1 {
	background-color: #18073a;
	color: #fff;
}
.forum-edit-page .button-2,
.move-topic-page .button-2,
.private-messages .button-2 {
	background-color: #fff;
	color: #18073a;
}
.forum-edit-page .inputs:first-child {
	display: none;
}

/* inbox & view message */

.profile-page .ui-tabs,
.private-messages-page .ui-tabs {
	border: none;
	padding: 0;
}
.private-messages-page td.date {
	width: 15%;
	white-space: nowrap;
}
.private-messages-page .pm-unread {
	color: #f61853;
}
.private-messages-page .pager + .buttons {
	margin-top: 40px;
}

.private-message-view-page .view-message {
	background-color: #fff;
	padding: 35px 5% 115px;
}
.private-message-view-page .message-head {
	margin: 0 0 25px;
	text-align: center;
}
.private-message-view-page .message-head li {
	display: inline-block;
}
.private-message-view-page .message-head label {
	color: #18073a;
}
.private-message-view-page .message-head span {
	vertical-align: middle;
	color: #f61853;
}
.private-message-view-page .message-head li + li:before {
	content: "|";
	margin: 0 10px;
}
.private-message-view-page .message-body {
	text-align: justify;
	line-height: 25px;
}
.private-message-view-page .buttons {
	margin: -80px 0 40px;
}
.private-message-view-page .back-pm-button {
	display: none;
}

/* profile page  */

.profile-page .profile-stats {
	margin: 0 0 20px;
}
.profile-page .profile-stats .title {
	margin: 0 0 10px;
	font-size: 17px;
	color: #18073a;
}
.profile-page .topic {
	margin: 0 0 30px;
	border: 1px solid #ebebeb;
}
.profile-page .topic-title {
	margin: 0 0 10px;
	background: url('../img/pattern.png') repeat;
	padding: 10px;
	font-size: 16px;
}
.profile-page .topic-title a {
	color: #f61853;
}
.profile-page p:first-child b {
	font-weight: 400;
	color: #18073a;
}
.profile-page .topic-body {
	margin: 20px 0;
	padding: 0 5%;
	line-height: 25px;
}
.profile-page .topic-data {
	margin: 20px 0;
}



@media all and (min-width: 501px) {

	.forums-header {
		margin-left: 0;
		margin-right: 0;
	}
	.forum-edit-page .fieldset,
	.move-topic-page .fieldset,
	.private-message-send-page .fieldset {
		max-width: 900px;
		margin: 0 auto;
	}
	.private-message-view-page .page-body {
		max-width: 1200px;
		margin: 0 auto;
	}
}

@media all and (min-width: 769px) {

	.forums-header .wrapper {
		padding: 40px 3%;
	}
	.forum-search-page .search-input {
		max-width: 1200px;
		margin: auto;
	}
	.forum-actions .actions a,
	.topic-actions .actions a {
		min-width: 0;
	}
}

@media all and (min-width: 1025px) {

	.forums-table-section .latest-post {
		width: 300px;
	}

	.topic-post {
		overflow: hidden;
	}
	.topic-post .post-time {
		text-align: left;
	}
	.topic-post .post-info {
		float: left;
		width: 22%;
		border-right: 1px solid #ebebeb;
		padding: 0 20px;
		text-align: center;
	}
	.topic-post .post-content {
		float: right;
		width: 78%;
		border-top: none;
		padding: 0 30px 120px;
	}
	.topic-post .post-actions {
		float: right;
		margin: 35px -15px 0 0;
		border-top: none;
		padding: 0;
	}
	.topic-post .post-text {
		float: left;
		width: calc(100% - 200px);
		margin: 28px 0 0;
	}
	.topic-post .post-vote {
		float: right;
	}
	.topic-post .signature {
		position: absolute;
		bottom: 0; right: 30px;
		width: calc(78% - 60px);
		max-height: 100px;
		overflow: hidden;
		padding: 30px 0;
		text-align: left;
	}
}

@media all and (min-width: 1201px) {

	.forums-main-page .topic-block-title,
	.forum-group-page .forums-table-section-title,
	.active-discussions-page .forums-table-section-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 300px;
		background: url('../img/title-banner.jpg') center no-repeat;
		text-align: center;
	}
	.forums-main-page .topic-block-title h2,
	.forum-group-page .forums-table-section-title a,
	.active-discussions-page .forums-table-section-title strong {
		margin-top: 120px;
		font-size: 40px;
		line-height: 46px;
	}
	.forums-main-page .forum-group + .topic-group {
		margin-top: 70px;
	}
	.breadcrumb.forum-breadcrumb {
		margin: -30px 0 0;
	}
	.forums-header {
		margin-bottom: 60px;
	}
	.forum-page .forum-description {
		margin-bottom: 50px;
	}
	.forum-edit-page .form-fields,
	.move-topic-page .form-fields,
	.private-message-send-page .form-fields,
	.private-message-view-page .view-message {
		padding: 40px 3% 90px;
	}
	.private-message-view-page .view-message {
		padding: 40px 3% 115px;
	}
}

@media all and (min-width: 1501px) {

	.topic-post .post-info {
		width: 17%;
	}
	.topic-post .post-content {
		width: 83%;
	}
	.topic-post .signature {
		width: calc(83% - 60px);
	}
	.profile-page .topic-body {
		padding: 0 3%;
	}
}
