body, body .header, body .header-lower {
	background: #00B5B8;
}

body .header-upper {
	border: none;
}

body .admin-header-links {
	color: #fff;
}

body .header-logo a {
	position: relative;
}


body .header-lower .nav-button .trigger:before {
	color: #fff;
}



/** ============= MIN width Queries ========== **/
@media all and (min-width: 1201px) {
	body .header-menu ul li > a, body .header-menu ul li > span, body .header-links a {
		color: #fff;
	}

	body .header-menu ul li .sublist a {
		color: #666;
	}

	body .admin-header-links a:after {
		width: 0;
	}
}

@media (min-width: 1501px) {
	body .mega-menu {
		min-width: auto;
	}
}


/** ============= MAX width Queries ========== **/
@media (max-width: 1200px) {
	body .responsive-nav-content {
		top: 97px
	}
}

@media (max-width: 700px) {
	body .responsive-nav-content {
		top: 61px
	}
}
