.header-logo .header-top__logo {
	width: 340px;
	max-width: 340px;
}

.header-top__logo.mobile {
	display: none
}


.logo .eyes {
	position: absolute;
	left: -1px;
	top: 25px;
}


.logo .eyes .eye {
	position: relative;
	display: inline-block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 35px;
	width: 35px;
}


.logo .eyes .eye:after {
	position: absolute;
	top: 5px;
	left: 20px;
	width: 12px;
	height: 12px;
	background: #18073a;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	content: " "
}

.logo .eyes.animation .eye:after {
	top: 0;
	left: 18px
}

.logo .eyes.animation-mobile .eye:after {
	top: 0;
	left: 15px
}

.claim {
	font-size: 19px;
	margin-left: 75px;
	letter-spacing: 1.4px;
	font-weight: 700;
	margin-top: -7px;
}

@media (max-width: 700px) {
	.header-top__logo.mobile {
		display: block;
		max-width: 200px;
	}
	.header-top__logo.desktop {
		display: none;
	}

	.logo .eyes {
		display: none;
	}
	.claim {
		font-size: 14px;
		margin-left: 0;
		margin-top: 0;
	}
}

@media (max-width: 450px) {
	.header-top__logo.mobile {
		max-width: 129px;
	}
	.claim {
		font-size: 10.9px;
		margin-left: 0;
		margin-top: 0;
		letter-spacing: 0;
	}
}


