/* BACKGROUND */

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before,
.responsive-nav-wrapper .counter,
.ui-tabs .ui-tabs-active a:after,
.ui-tabs .ui-tabs-selected a:after,
.order-progress li.active-step a,
.blog-post .post-title:after,
.news-item .news-title:after,
.ui-slider-range,
.slick-dots .slick-active button,
.blog-search-results .kb-search-link:after,
.variant-2 .spc-categories .navigation .active span:after {
  background-color: #18073a;
}
/* BORDER */

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before,
.master-loading-overlay:before,
.ajax-loading-block-window:before,
.nopAjaxCartPanelAjaxBusy:before,
.miniProductDetailsPanelAjaxBusy:before,
.ui-slider-handle,
.productPanelAjaxBusy:before,
.infinite-scroll-loader:before,
.item-box.dummy-box:before,
.nivoSlider:before,
.anywhere-slider:before,
.cloudzoom-ajax-loader:before,
.quickView .k-loading-image:before,
.spc .loading-overlay:before,
.panel-loader-effect .spinner:before,
.feed-loader:before {
  border-color: #00B5B8;
}
/* COLOR */

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label,
.accept-privacy-policy .read,
.terms-of-service .read,
.cart .edit-item a,
.cart .product-subtotal,
.mini-shopping-cart .count a,
.mini-shopping-cart .totals strong,
.newsletter .title .color,
.footer-site-info a,
.block .title:before,
.block .list a:before,
.block .view-all a:before,
.block .list a:hover,
.block .view-all a:hover,
.block .list .active > a,
.block .tags a:hover,
.product-tags-all-page a:hover,
.overview .product-price,
.variant-overview .product-price,
.overview .value a,
.variant-overview .value a,
.download-sample-button,
.ui-datepicker-calendar a.ui-state-active,
.ui-datepicker-calendar a.ui-state-active:hover,
.back-in-stock-subscription,
.product-tags-list,
.ui-tabs .ui-tabs-active a,
.ui-tabs .ui-tabs-selected a,
.product-review-helpfulness .vote,
.wishlist-page .share-info a,
.return-request-list .link,
.downloadable-products-page .link,
.back-in-stock-subscription-list a,
.reward-points-overview span,
.customer-reviews-page .product-name,
.cart-collaterals .box-title:after,
.cart-footer .order-total,
.address-item.add-new .active:before,
.order-completed .details-link,
.opc .active .step-title .number,
.opc .active .step-title .title,
.order-details-page .order-price,
.order-details-page .view-detail,
.order-details-page .download a,
.sitemap-page .entity-list a:hover,
.blog-post .post-comments,
.news-item .news-comments,
.blog-post .post-body a:hover,
.news-item .news-body a:hover,
.blog-page .tags a,
.blogpost-page .tags a,
.blogpost-page .post-comments,
.news-item-page .news-comments,
.profile-page .topic-title a,
.forums-header .current-time,
.forums-table-section .view-all a,
.private-messages-page .pm-unread,
.private-message-view-page .message-head span,
.productAddedToCartWindowDescription .price,
.filter-block .clearFilterOptions:after,
.filter-block .clearPriceRangeFilter:after,
.selected-options-list .option:after,
.priceRangeCurrentPricesPanel span,
.specification-current-value-panel span,
.number-of-returned-products .data,
.instant-search-item .details .price,
.mega-menu a.view-all,
.mega-menu a.view-all:hover,
.previous-product:hover .previous-product-label:before,
.next-product:hover .next-product-label:after,
.quickView .links-panel a,
.ui-icon-circle-arrow-s + span:after,
.ui-icon-circle-arrow-e + span:after,
.rich-blog-homepage .view-all a:hover,
.post-relations a,
.blog-instant-search .k-item.k-state-hover,
.blog-instant-search .k-item.k-state-focused,
.blog-search-results .search-term-highlighter,
.sale-of-the-day-offer .new-prev:hover:before,
.sale-of-the-day-offer .new-next:hover:after,
.variant-2 .spc-categories .navigation .active span,
.ropc .message-failure,
.ropc .order-total {
  color: #00B5B8;
}
@media all and (max-width: 768px) {
  .ropc .section-title:before,
  .ropc .section-title:after,
  .ropc .section-title.active {
    color: #00B5B8;
  }
}
@media all and (max-width: 1024px) {
  .cart input[type="checkbox"]:checked + label,
  .wishlist-page .cart .subtotal label,
  .shopping-cart-page .cart .subtotal label {
    color: #00B5B8;
  }
}
@media all and (max-width: 1500px) {
  .ropc .cart .subtotal label {
    color: #00B5B8;
  }
}
@media all and (min-width: 501px) {
  .featured-categories.default .text:after {
    background-color: #00B5B8;
  }
}
@media all and (min-width: 769px) {
  .product-list .item-box .actual-price {
    color: #00B5B8;
  }
}
@media all and (min-width: 1201px) {
  .header-menu > ul > li > a:hover,
  .header-menu > ul > li > span:hover {
    color: #18073a;
  }
  .block-account-navigation .list a.active {
    background-color: #18073a;
  }
}
@media all and (min-width: 1501px) {
  .picture-thumbs .slick-prev:hover:after,
  .picture-thumbs .slick-next:hover:after {
    color: #18073a;
  }
}
