@using Nop.Web.Areas.Admin.Models.Settings
@model XcellenceIT.Plugin.NopAcceleratePlus.Search.Models.SolrSearchModel
@{
    Html.SetActiveMenuItemSystemName("XcellenceIT.Plugin.NopAcceleratePlus.Search.SearchSetting");
}
<div class="card card-default advanced-setting">
    <div class="card-body">
        <div class="form-group row">
            <br />
            <div class="col-md-12 pnlhint">
                <div>
                    <p><strong>@T("Plugins.NopAcceleratePlus.Solr.Sorting.Enum.PanelHint")</strong></p>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("Table", new DataTablesModel
        {
        Name = "sortoptions-grid",
        UrlRead = new DataUrl("SortOptionsList", "NopAcceleratePlusSearch",  null),
        UrlUpdate = new DataUrl("SortOptionUpdate", "NopAcceleratePlusSearch", null),
        Length = Model.SortOptionSearchModel.PageSize,
        LengthMenu = Model.SortOptionSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(SortOptionModel.Name))
                {
                    Title = T("Admin.Configuration.Settings.Catalog.SortOptions.Name").Text
                },
                new ColumnProperty(nameof(SortOptionModel.DisplayOrder))
                {
                    Title = T("Admin.Configuration.Settings.Catalog.SortOptions.DisplayOrder").Text,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.CenterAll,
                    Editable = true,
                    EditType = EditType.Number
                },
                new ColumnProperty(nameof(SortOptionModel.IsActive))
                {
                    Title = T("Admin.Configuration.Settings.Catalog.SortOptions.IsActive").Text,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean(),
                    Editable = true,
                    EditType = EditType.Checkbox
                },
                new ColumnProperty(nameof(SortOptionModel.Id))
                {
                    Title = T("Admin.Common.Edit").Text,
                    Width = "200",
                    ClassName =  NopColumnClassDefaults.Button,
                    Render = new RenderButtonsInlineEdit()
                }
            }
    })
    </div>
</div>