@model PollModel
@using Nop.Web.Models.Polls;
<div class="block block-poll">
    <div class="title">
        <strong>@T("Polls.Title")</strong>
    </div>
    <div class="listbox">
        @Html.Partial("_Poll", Model)
    </div>
</div>
