<urlrewritingnet
   rewriteOnlyVirtualUrls="true"
   contextItemsPrefix="QueryString"
   defaultPage="default.aspx"
   defaultProvider="RegEx"
   xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
  <rewrites>
    <add name="ProductDetailsRewrite" virtualUrl="^~/products/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/product.aspx?productid=$1&amp;$3"
         ignoreCase="true" />
    <add name="CategoryDetailsRewrite" virtualUrl="^~/category/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/category.aspx?categoryid=$1&amp;$3"
         ignoreCase="true" />
    <add name="ManufacturerDetailsRewrite" virtualUrl="^~/manufacturer/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/manufacturer.aspx?manufacturerid=$1&amp;$3"
         ignoreCase="true" />
    <add name="NewsDetailsRewrite" virtualUrl="^~/news/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/news.aspx?newsid=$1&amp;$3"
         ignoreCase="true" />
    <add name="BlogDetailsRewrite" virtualUrl="^~/blog/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/blogpost.aspx?blogpostid=$1&amp;$3"
         ignoreCase="true" />
    <add name="TopicDetailsRewrite" virtualUrl="^~/topic/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/topic.aspx?topicid=$1&amp;$3"
         ignoreCase="true" />
    <add name="ForumGroupRewrite" virtualUrl="^~/boards/fg/([0-9]*)/([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Boards/ForumGroup.aspx?ForumGroupID=$1&amp;$3"
         ignoreCase="true" />
    <add name="ForumRewrite" virtualUrl="^~/boards/f/([0-9]*)/([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Boards/Forum.aspx?ForumID=$1&amp;$3"
         ignoreCase="true" />
    <add name="ForumTopicRewrite" virtualUrl="^~/boards/t/([0-9]*)/([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Boards/Topic.aspx?TopicID=$1&amp;$3"
         ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
