<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="NopConfig" type="NopSolutions.NopCommerce.BusinessLogic.Configuration.NopConfig, Nop.BusinessLogic" requirePermission="false"/>
		<section name="urlrewritingnet" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" requirePermission="false"/>
	</configSections>
	<appSettings>
    <add key="ChartImageHandler" value="storage=file;" />
		<add key="UseSSL" value="false"/>
		<add key="SharedSSL" value=""/>
		<add key="GoogleMerchantID" value=""/>
		<add key="GoogleMerchantKey" value=""/>
		<add key="GoogleEnvironment" value="Sandbox"/>
		<add key="GoogleAuthenticateCallback" value="True"/>
	</appSettings>
	<connectionStrings configSource="ConnectionStrings.config"/>
	<urlrewritingnet configSource="UrlRewriting.config"/>
	<system.web>
		<httpRuntime maxRequestLength="51200" requestValidationMode="2.0"/>
		<customErrors mode="Off" defaultRedirect="errorpage.htm">
			<error statusCode="403" redirect="bannedaddress.htm"/>
			<error statusCode="404" redirect="filenotfound.htm"/>
		</customErrors>
		<compilation debug="true" targetFramework="4.0">
			<expressionBuilders>
				<add expressionPrefix="NopResources" type="NopSolutions.NopCommerce.BusinessLogic.Localization.NopResourceExpressionBuilder, Nop.BusinessLogic"/>
			</expressionBuilders>
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
		<authentication mode="Forms">
			<forms name="NOPCOMMERCE.AUTH" loginUrl="~/login.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/default.aspx" enableCrossAppRedirects="false"/>
		</authentication>
		<anonymousIdentification enabled="true"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<membership defaultProvider="NopMembershipSqlProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="NopMembershipSqlProvider" type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreMembershipProvider, Nop.BusinessLogic" connectionStringName="NopSqlConnection" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="NopCommerce" requiresUniqueEmail="true" enablePasswordRetrieval="true"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="NopRoleManagerSqlProvider" cookieName=".NopCommerceRoles" cookiePath="/" cookieTimeout="30" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
			<providers>
				<add name="NopRoleManagerSqlProvider" type="NopSolutions.NopCommerce.BusinessLogic.Profile.StoreRoleProvider, Nop.BusinessLogic" connectionStringName="NopSqlConnection" applicationName="NopCommerce"/>
			</providers>
		</roleManager>
		<sessionState timeout="20" mode="InProc" cookieless="false"/>
		<siteMap defaultProvider="NopAdminXmlSiteMapProvider" enabled="true">
			<providers>
				<add name="NopAdminXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Administration/Admin.sitemap"/>
			</providers>
		</siteMap>
		<pages theme="DarkOrange" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Collections.Generic"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Audit"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Categories"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Configuration.Settings"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Blog"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Forums"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.NewsManagement"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Content.Polls"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.CustomerManagement"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Directory"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Localization"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Manufacturers"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Measures"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Media"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Messages"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Orders"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Payment"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Attributes"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Products.Specs"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Products"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Profile"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Affiliates"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Campaigns"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Promo.Discounts"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Security"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.SEO"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Shipping"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Tasks"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Tax"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Templates"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Utils"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Utils.Html"/>
				<add namespace="NopSolutions.NopCommerce.BusinessLogic.Warehouses"/>
				<add namespace="NopSolutions.NopCommerce.Common"/>
				<add namespace="NopSolutions.NopCommerce.Common.Utils"/>
				<add namespace="NopSolutions.NopCommerce.Common.Utils.Html"/>
				<add namespace="NopSolutions.NopCommerce.Controls"/>
				<add namespace="NopSolutions.NopCommerce.Controls.Payment.Validators"/>
			</namespaces>
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="HTMLEditor" namespace="AjaxControlToolkit.HTMLEditor" assembly="AjaxControlToolkit"/>
				<add tagPrefix="nopCommerce" namespace="NopSolutions.NopCommerce.Controls" assembly="Nop.Controls"/>
				<add tagPrefix="nopCommerce" namespace="NopSolutions.NopCommerce.Controls.Payment.Validators" assembly="Nop.Controls"/>
			</controls>
		</pages>
		<httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add verb="*" path="pricelist.csv" validate="false" type="NopSolutions.NopCommerce.BusinessLogic.ExportImport.PricelistHandler, Nop.BusinessLogic"/>
    </httpHandlers>
		<httpModules>
			<add name="MembershipHttpModule" type="NopSolutions.NopCommerce.HttpModules.MembershipHttpModule, Nop.HttpModules.MembershipModule"/>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
			<add name="BlacklistHttpModule" type="NopSolutions.NopCommerce.HttpModules.BlacklistHttpModule, Nop.HttpModules.BlacklistModule"/>
			<add name="NopObjectContextDisposalModule" type="NopSolutions.NopCommerce.BusinessLogic.Data.AspNetObjectContextDisposalModule, Nop.BusinessLogic"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="NopCommerceFilter"/>
			<remove name="UrlRewriteModule"/>
			<add name="MembershipHttpModule" preCondition="managedHandler" type="NopSolutions.NopCommerce.HttpModules.MembershipHttpModule, Nop.HttpModules.MembershipModule"/>
			<add name="UrlRewriteModule" preCondition="managedHandler" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
			<add name="BlacklistHttpModule" preCondition="managedHandler" type="NopSolutions.NopCommerce.HttpModules.BlacklistHttpModule, Nop.HttpModules.BlacklistModule"/>
			<add name="NopObjectContextDisposalModule" preCondition="managedHandler" type="NopSolutions.NopCommerce.BusinessLogic.Data.AspNetObjectContextDisposalModule, Nop.BusinessLogic"/>
		</modules>
		<handlers>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="PricelistHandler" verb="*" path="pricelist.csv" preCondition="integratedMode" type="NopSolutions.NopCommerce.BusinessLogic.ExportImport.PricelistHandler, Nop.BusinessLogic"/>
    </handlers>
	</system.webServer>
	<NopConfig>
		<SqlServer ConnectionStringName="NopSqlConnection"/>
		<ScheduleTasks>
			<Thread seconds="60">
				<task name="ClearCache" type="NopSolutions.NopCommerce.BusinessLogic.Caching.ClearCacheTask, Nop.BusinessLogic" enabled="true" stopOnError="false"/>
				<task name="KeepAlive" type="NopSolutions.NopCommerce.BusinessLogic.Utils.KeepAliveTask, Nop.BusinessLogic" enabled="true" stopOnError="false" path="keepalive/ping.ashx"/>
			</Thread>
			<Thread seconds="60">
				<task name="Emails" type="NopSolutions.NopCommerce.BusinessLogic.Messages.SendQueuedMessagesTask, Nop.BusinessLogic" enabled="true" stopOnError="false" maxTries="5"/>
			</Thread>
			<Thread seconds="900">
				<task name="DeleteExpiredCustomerSessions" type="NopSolutions.NopCommerce.BusinessLogic.CustomerManagement.DeleteExpiredCustomerSessionsTask, Nop.BusinessLogic" enabled="true" stopOnError="false" deleteExpiredCustomerSessionsOlderThanMinutes="43200"/>
				<task name="DeleteExpiredShoppingCarts" type="NopSolutions.NopCommerce.BusinessLogic.Orders.DeleteExpiredShoppingCartsTask, Nop.BusinessLogic" enabled="true" stopOnError="false" deleteExpiredShoppingCartsOlderThanMinutes="259200"/>
			</Thread>
			<Thread seconds="3600">
				<task name="DatabaseMaintance" type="NopSolutions.NopCommerce.BusinessLogic.Maintenance.DatabaseMaintanceTask, Nop.BusinessLogic" enabled="false" stopOnError="false"/>
			</Thread>
		</ScheduleTasks>
	</NopConfig>
</configuration>
