@{
    Layout = "";
}
@model Nop.Plugin.Payments.PurchaseOrder.Models.PaymentInfoModel
<table width="100%" cellspacing="2" cellpadding="1" border="0">
    <tr>
        <td width="100px">
            @Html.LabelFor(model => model.PurchaseOrderNumber, false):
        </td>
        <td>
            @Html.TextBoxFor(model => model.PurchaseOrderNumber, new { style = "Width: 165px;", autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.PurchaseOrderNumber)
        </td>
    </tr>
</table>
