@model MultiFactorAuthenticationProviderModel

@{
    Layout = "_ColumnsOne";

    //title
    NopHtml.AddTitleParts(T("PageTitle.MultiFactorVerification").Text);
}

<div class="page login-page">
    <div class="page-title panel-heading">
        <h1>@T("Account.Login.Welcome")</h1>
    </div>
    <div class="page-body panel-body from-panel">
            <div class="provider-verification">
                @(await Component.InvokeAsync(Model.ViewComponentName)) 
            </div>
    </div>
</div>