@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}

@model StateProvinceModel

@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Countries.States.AddNew")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateState", Model)
}