@{
    Layout = "~/Administration/Views/Shared/_AdminPopupLayout.cshtml";
}
@model StateProvinceModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Countries.States.EditStateDetails").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
            @T("Admin.Configuration.Countries.States.EditStateDetails")
        </div>
        <div class="options">
            <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateState", Model)
}