@model CustomerAttributeSearchModel

<div class="panel panel-default">
    <div class="panel-heading">
        @T("Admin.Customers.CustomerAttributes")
    </div>
    <div class="panel-body">
        <p>
            <em>@T("Admin.Customers.CustomerAttributes.Description")</em>
        </p>
        @await Html.PartialAsync("Table", Model.Grid)
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" href="@Url.Action("Create", "CustomerAttribute")">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>