<div>
    this content will be rendered in the main section (middle)...
</div>

@section left{
    <div>
        This content will be rendered as a left column. 
        If you remove this section, 
        the page will automatically adapt to having no left column.
    </div>
}

@section right{
    <div>
        This content will be rendered as a right column. 
        The main content will always adapt to the state of
        each columns (left or right).
    </div>
}