<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    @T("Admin.System.Warnings.Performance.IgnoreStoreLimitations.Notification")
</div>