@model RichBlogCategoryAdminModel
@{
    var availableLanguages = new SelectList(ViewBag.AllLanguages, "Id", "Name");
}

<div class="panel-group">
    <div class="panel" style="box-shadow: none;">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="LanguageId" />   
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="LanguageId" asp-items="availableLanguages" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="DisplayOrder" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Published" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Published" />
                </div>
            </div>
        </div>
    </div>
</div>