@model RichBlogCategoryAdminModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SEOTitle" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SEOTitle" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SEODescription" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SEODescription" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SEOKeywords" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SEOKeywords" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SEName" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SEName" />
                </div>
            </div>           
        </div>
    </div>
</div>