@model CustomerAddressModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Customers.Customers.Addresses.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Customers list");
}

<form asp-controller="Company" asp-action="AddressCreate" method="post">
    <div class="content-header clearfix">
      
        <div class="float-right">
            <button type="submit" class="btn btn-primary">
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerAddressDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateAddress", Model)
</form>