<li class="social-page">
    <a class="with-subcategories" href="@Url.RouteUrl("SocialPage")" title="@T("SevenSpikes.SocialFeed.Public.SocialPage.PageTitle")">@T("SevenSpikes.SocialFeed.Public.SocialPage.PageTitle")</a>
</li>