@model Nop.Plugin.Widgets.LivePersonChat.Models.PublicInfoModel
@{
    Layout = "";
}
@using Nop.Web.Framework;
<div class="block block-livechat">
    <div class="title">
        <strong>@T("Plugins.Widgets.LivePersonChat.LiveChat")</strong>
    </div>
    <div class="clear">
    </div>
    <div class="listbox" style="text-align:center;">
        @Html.Raw(Model.MonitoringCode)
        @Html.Raw(Model.ButtonCode)
    </div>
</div>
