<style>
    .gotocart{
    margin-bottom: 18px;
    height: 43px;
    border: 0;
    background-color: #4ab2f1;
        padding: 13px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    align-items : center;
    display : flex;
    }
</style>
<br />
<button type="button" class=" gotocart" style="display: flex;" onclick="location.href='@Url.Action("Neworder","Pos")'">Go To Cart</button>