<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.6.3.862" targetFramework="net45" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net45" />
  <package id="DotNetOpenAuth.Core" version="4.1.3.12303" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.1.3.12303" targetFramework="net45" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.1.3.12303" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
</packages>